<div class="row">

  <ng-container *ngIf="kycForm.isAddSearchSection">
    <div class="col-lg-12 mb-2">
      <h5 class="title-5">{{ selectedTabObj.description | translate }}</h5>
    </div>
    <div class="col-lg-6">
      <form class="form-inline align-self-end">
        <div class="d-flex">
          <input [(ngModel)]="searchText" name="sub_menu_name" type="text"
            [placeholder]="'userDashboard.search_placeholder' | translate" class="form-control open-select" />
          <button class="btn btn-theme no-text-transorm ms-2">
            <i class="feather icon-search"></i> {{ 'userDashboard.search_btn' | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <div *ngIf="!isAdd" class="text-end">
        <a (click)="onAdd()" class="btn btn-solid color2 no-text-transorm">
          <i class="feather icon-plus"></i> {{ 'userDashboard.kyc.branch_info.add_more' | translate }}
        </a>
      </div>
    </div>
  </ng-container>
  <div *ngIf="!filteredData.length" class="col-lg-12 mt-5">
    <div class="text-center">
      <p>Data Not Found!</p>
    </div>
  </div>
  <div *ngIf="filteredData.length" class="col-lg-12 mt-3">
    <div class="table-responsive dashboard-table mb-4">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th *ngFor="let column of columns" (click)="onSort(column.field)">
              {{ column.header }}
              <span *ngIf="sortColumn === column.field">
                ({{ sortDirection === 'asc' ? '↑' : '↓' }})
              </span>
            </th>
            <th *ngIf="this.type !== 'vendor-profile'" class="text-center">{{'userDashboard.kyc.upload_bulk_vehicle.kyc'
              | translate}}
            <th *ngIf="actions.length">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let row of filteredData | paginate: { itemsPerPage: 5, currentPage: currentPage, totalItems: totalData }; let idx = index;">
            <td *ngFor="let column of columns">
              <span
                *ngIf="column.fieldObject && (row[column.field]?.includes('.jpg') || row[column.field]?.includes('.jpeg') || row[column.field]?.includes('.png'))">
                <img [src]="row[column.field]" alt="image" width="70px">
              </span>
              <span *ngIf="!column.fieldObject">
                {{ row[column.field] }}
              </span>
              <span *ngIf="column.fieldObject">
                {{ row[column.fieldObject][column.field] }}
              </span>
              <span
                *ngIf="!column.fieldObject &&  column.field === 'vehicleStatus' || (column.field === 'status' && type === 'vendor-profile')"
                class="custom-toggle">
                <input [id]="row.vehicleId+'_vehicleStatus'" class="check" type="checkbox"
                  [checked]="row[column.field] == 'Active'"
                  [disabled]="!row[column.field] || row[column.field] == 'Pending'"
                  (change)="changeStatus($event, row, column)" />
                <label [for]="row.vehicleId+'_vehicleStatus'" class="checktoggle">checkbox</label>
              </span>
            </td>
            <td *ngIf="this.type !== 'vendor-profile'" class="text-center">
              <span class="badge badge-success">
                Success
              </span>
            </td>
            <td *ngIf="actions.length" class="text-center">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <i class="feather icon-more-vertical"></i>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <ng-container *ngFor="let action of actions">
                  <button *ngIf="action === 'View'" (click)="onView(row)" type="button" mat-menu-item>
                    <i class="feather icon-eye"></i>
                    <span class="ms-2">View</span>
                  </button>
                  <button *ngIf="action === 'Edit'" (click)="onEdit(row)" mat-menu-item>
                    <i class="feather icon-edit"></i>
                    <span class="ms-2">Edit</span>
                  </button>
                  <button *ngIf="action === 'Delete'" (click)="onDelete(idx)" mat-menu-item>
                    <i class="feather icon-trash"></i>
                    <span class="ms-2">Delete</span>
                  </button>
                </ng-container>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
