<div class="content">
  <ng-container *ngIf="!isShowCancellation && !isShowChecklist">
    <div class="container">

      <div class="content-header">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h4>My Bookings</h4>
          </div>

          <!-- <div class="col-md-6">
            <span *ngIf="tableData.length">
              <app-booking-action-card [bookingDetails]="tableData[0]" [bookingArray]="tableData"
                (actionTriggered)="handleAction($event, tableData[0])">
              </app-booking-action-card>
            </span>
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="sorting-info">
            <div class="row align-items-center">
              <div class="col-lg-10 col-12">
                <div class="booking-lists">
                  <ul class="nav">
                    <li *ngFor="let item of booktabs">
                      <a [class.active]="activeTab == item.menuName" (click)="changeBookTab(item)">{{item.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12 d-flex">
          <div class="card book-card flex-fill mb-0">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <h4>{{activeTabName}} <span>{{totalData}}</span></h4>
                </div>
                <div class="col-md-9 text-md-end">
                  <div class="table-search">
                    <div class="mb-1 me-3">
                      <input placeholder="Date Filter Range:" class="form-control datetimepicker-input digits"
                        [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1"
                        [owlDateTime]="dtRange1" (ngModelChange)="searchData()" />
                      <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                    </div>
                    <div id="tablefilter">
                      <div class="dataTables_filter">
                        <label>
                          <input [(ngModel)]="searchDataValue" name="search" type="search" class="form-control"
                            placeholder="Search" />
                        </label>
                      </div>
                    </div>
                    <!-- <a (click)="searchData()" class="btn btn-theme btn-add me-2">
                      Search
                    </a>
                    <a *ngIf="gs.loggedInUserInfo['role'] === 'user'" [routerLink]="'/cab/listing/list-view'"
                      class="btn btn-theme btn-add me-2">
                      <i class="feather icon-plus-circle"></i>
                      Add Booking
                    </a> -->
                    <a *ngIf="roleService.permissions['MBSEARCH']"
                      [class]="roleService.permissions['MBSEARCH'].Class || 'btn btn-theme btn-add me-2'"
                      [title]="roleService.permissions['MBSEARCH'].Name" (click)="searchData()">
                      <i [class]="roleService.permissions['MBSEARCH'].ActionIcon"></i>
                      {{roleService.permissions['MBSEARCH'].Name}}
                    </a>
                    <a *ngIf="roleService.permissions['MBADBK']"
                      [class]="roleService.permissions['MBADBK'].Class || 'btn btn-theme btn-add me-2 p-0 px-2'"
                      [title]="roleService.permissions['MBADBK'].Name" [routerLink]="'/cab/listing/list-view'">
                      <i [class]="roleService.permissions['MBADBK'].ActionIcon || 'feather icon-plus-circle'"></i>
                      {{roleService.permissions['MBADBK'].Name}}
                    </a>
                    <button *ngIf="roleService.permissions['MBEXP']"
                      [class]="roleService.permissions['MBEXP'].Class || 'btn btn-add'"
                      [title]="roleService.permissions['MBEXP'].Name || 'Export To Excel'" [disabled]="!totalData"
                      (click)="exportToExcel()">
                      <i [class]="roleService.permissions['MBEXP'].ActionIcon"></i>
                      <img *ngIf="!roleService.permissions['MBEXP'].ActionIcon" src="assets/images/icon/excel.png"
                        width="24px" class="me-2">
                      {{roleService.permissions['MBEXP'].Name}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive dashboard-table mb-4">
                <table class="table datatable">
                  <thead class="thead-light">
                    <tr>
                      <th>
                        <span>SL</span>
                      </th>
                      <th class="text-center pointer" (click)="onSort('bookingReferenceNumber')">
                        Reference Number
                        <span *ngIf="sortColumn === 'bookingReferenceNumber'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center pointer" (click)="onSort('bookingStatus')">
                        Status
                        <span *ngIf="sortColumn === 'bookingStatus'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-start pointer" (click)="onSort('updatedBy')">
                        Updatedby
                        <span *ngIf="sortColumn === 'updatedBy'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center pointer" (click)="onSort('bookingStatusRemarks')">
                        Status Remarks
                        <span *ngIf="sortColumn === 'bookingStatusRemarks'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center">Document</th>
                      <!-- <th class="text-center">Location</th> -->
                      <!-- <th class="text-center">Booking Date</th> -->
                      <th class="text-center pointer" (click)="onSort('riskType')">
                        Booking Type
                        <span *ngIf="sortColumn === 'riskType'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center pointer" (click)="onSort('pickUpDate')">
                        Pickup Date
                        <span *ngIf="sortColumn === 'pickUpDate'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <!-- <th class="text-center">End Date</th> -->
                      <th class="text-center pointer" (click)="onSort('bookingDuration')">
                        Duration
                        <span *ngIf="sortColumn === 'bookingDuration'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <!-- <th class="text-center">Price</th> -->
                      <th class="text-center pointer" (click)="onSort('totalAmount')">
                        Total Amount
                        <span *ngIf="sortColumn === 'totalAmount'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th *ngIf="activeTab == 'cancelled'" class="text-center" class="text-center">Cancelled By</th>
                      <th *ngIf="activeTab == 'cancelled'" class="text-center" class="text-center">Reason</th>

                      <th class="text-center sticky-action">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let data of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                      <td>
                        <span>{{idx+1}}</span>
                      </td>
                      <td><a>{{data.bookingReferenceNumber}}</a></td>
                      <td>
                        <span class="badge" [ngClass]="{
                            'badge-light-secondary': data.bookingStatusCd === '2',
                            'badge-light-warning': data.bookingStatusCd == '1' || data.bookingStatusCd ===  '4',
                            'badge-light-danger': data.bookingStatusCd === '5',
                            'badge-light-success': data.bookingStatusCd === '6' }">
                          {{data.bookingStatus}}
                        </span>
                      </td>
                      <td class="text-start">
                        <span>{{data.updatedBy}}</span>
                      </td>
                      <td class="text-center">
                        <span>{{data.bookingStatusRemarks}}</span>
                      </td>
                      <td>
                        <a (click)="viewDocument(data)">
                          <i class="feather icon-file-text"></i>
                        </a>
                      </td>
                      <!-- <td class="text-center">
                        <span>{{data.location}}
                        </span>
                      </td> -->
                      <!-- <td class="text-center">
                        <span>{{data.bookingDate}}</span>
                      </td> -->
                      <td class="text-center">
                        <span>{{data.riskType}}</span>
                      </td>
                      <td class="text-center">
                        <span>{{data.pickUpDate | date : 'MM/dd/yyyy, h:mm a'}}</span>
                      </td>
                      <!-- <td class="text-center">
                        <span>{{data.endDate}}</span>
                      </td> -->
                      <td class="text-center">
                        <span>{{data.bookingDuration}}</span>
                      </td>
                      <!-- <td class="text-center">
                        <span>{{data.pricePerBooking | currencyPipe: gs.currency}} per {{data.durationType}}</span>
                      </td> -->
                      <td class="text-center">
                        <span class="text-red">{{data.totalAmount | currencyPipe: gs.currency}}</span>
                      </td>
                      <td *ngIf="activeTab == 'cancelled'" class="text-center">
                        <span class="text-red">{{data.cancelledBy || "-"}}</span>
                      </td>
                      <td *ngIf="activeTab == 'cancelled'" class="text-center ellipsis2 width-150">
                        <span class="text-theme"><b>{{data.reason || "-"}}</b></span>
                      </td>

                      <td class="text-end sticky-action">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <i class="feather icon-more-vertical"></i>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <!--  -->
                          <button (click)="openProgress(data)" type="button" mat-menu-item>
                            <mat-icon>timeline</mat-icon>
                            <span>Track Progress</span>
                          </button>
                          <button *ngIf="data.bookingStatusRemarksCd == '11' && data.isBooker"
                            (click)="makeRePayment(data)" type="button" mat-menu-item>
                            <i class="feather icon-rotate-cw"></i>
                            <span class="ms-2">Re Payment</span>
                          </button>
                          <button (click)="onView(data)" type="button" mat-menu-item>
                            <i class="feather icon-eye"></i>
                            <span class="ms-2">View Details</span>
                          </button>
                          <button (click)="onViewDocument(data)" type="button" mat-menu-item>
                            <i class="feather icon-file-text"></i>
                            <span class="ms-2">View Documents</span>
                          </button>
                          <button
                            *ngIf="(data.bookingStatusCd == '1' || data.bookingStatusCd == '2') && gs.loggedInUserInfo.role !== 'user' && !data.isBooker"
                            (click)="updateInstructions(data)" type="button" mat-menu-item>
                            <i class="feather icon-map-pin"></i>
                            <span class="ms-2">Update Instructions</span>
                          </button>
                          <button
                            *ngIf="data.bookingStatus === 'Confirmed' && gs.loggedInUserInfo.role !== 'user' && !data.isBooker"
                            (click)="changeStatus(data,'Delivered')" type="button" mat-menu-item>
                            <i class="feather icon-send"></i>
                            <span class="ms-2">Delivered</span>
                          </button>
                          <button
                            *ngIf="data.bookingStatusRemarksCd == '5' && data.bookingStatusCd == '4' && (gs.loggedInUserInfo.role === 'user' || gs.loggedInUserInfo.role === 'user_4')"
                            (click)="changeStatus(data,'Accept')" type="button" mat-menu-item>
                            <i class="feather icon-send"></i>
                            <span class="ms-2">Accept</span>
                          </button>
                          <button
                            *ngIf="data.bookingStatusRemarksCd == '6' && data.bookingStatusCd == '4' && data.isBooker"
                            (click)="changeStatus(data,'Return')" type="button" mat-menu-item>
                            <i class="feather icon-send"></i>
                            <span class="ms-2">Return</span>
                          </button>
                          <button
                            *ngIf="data.bookingStatusRemarksCd == '12' && data.bookingStatusCd == '4' && gs.loggedInUserInfo.role !== 'user' && !data.isBooker"
                            (click)="changeStatus(data,'Received')" type="button" mat-menu-item>
                            <i class="feather icon-send"></i>
                            <span class="ms-2">Received</span>
                          </button>
                          <button
                            *ngIf="data.bookingStatusCd == '1' || data.bookingStatusCd == '2' || data.bookingStatus == 'Delivered'"
                            (click)="bookingCancel(data)" type="button" mat-menu-item>
                            <i class="feather icon-x-square"></i>
                            <span class="ms-2">Cancel Booking</span>
                          </button>
                          <!-- && data.isBooker -->
                          <button *ngIf="data.bookingStatusCd == '6' && !data.isReviewAdded" (click)="writeReview(data)"
                            type="button" mat-menu-item>
                            <i class="feather icon-star"></i>
                            <span class="ms-2">Write Review</span>
                          </button>
                          <!-- <button
                            *ngIf="(gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') && data.bookingStatus === 'Cancelled'"
                            (click)="refundApprove(data)" type="button" mat-menu-item>
                            <i class="feather icon-check-circle"></i>
                            <span class="ms-2">Refund Approve</span>
                          </button>
                          <button
                            *ngIf="(gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') && data.bookingStatus === 'Cancelled'"
                            (click)="refundReject(data)" type="button" mat-menu-item>
                            <i class="feather icon-x-circle"></i>
                            <span class="ms-2">Refund Reject</span>
                          </button> -->
                        </mat-menu>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!tableData.length" class="col-md-12">
                <p class="text-center mt-3">
                  <b>No records found</b>
                </p>
              </div>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isShowCancellation">
    <div class="container">
      <div class="mt-3">
        <a class="back_search" (click)="backToBooking()">
          Back to Booking
        </a>
      </div>
      <div class="content-header">
        <div class="row">
          <div class="col-lg-4">
            <h4>Booking Cancellation</h4>
          </div>
        </div>
      </div>
      <app-booking-cancellation [cancellationInfo]="cancellationInfo" [singleBookingDetail]="singleBookingDetail"
        (onCancel)="backToBooking()"></app-booking-cancellation>
    </div>
  </ng-container>

  <ng-container *ngIf="isShowChecklist">
    <div class="container">
      <div class="mt-3">
        <a class="back_search" (click)="backToBooking()">
          Back to Booking
        </a>
      </div>
      <div class="content-header">
        <div class="row">
          <div class="col-lg-4">
            <h4>Checklist</h4>
          </div>
        </div>
      </div>
      <app-booking-checklist [bookingDetails]="singleBookingDetail"
        (onCancel)="backToBooking()"></app-booking-checklist>
    </div>
  </ng-container>
</div>