<form #frm="ngForm">
  @if(type == 'register'){
  <div *ngIf="isVendor" class="form-group">
    <label for="name">{{'auth.form.vendor_type' | translate}}</label>
    <ng-select clearable="false" [items]="vendorTypes" bindLabel="Description" placeholder="-- Select --"
      bindValue="Description" [(ngModel)]="registerForm.category" name="category" (change)="selectCategory($event)">
    </ng-select>
  </div>
  <div *ngIf="!isVendor" class="form-group">
    <label for="name">{{'auth.form.type' | translate}}</label>
    <ng-select clearable="false" [items]="rolesList" bindLabel="Description" placeholder="-- Select One --"
      bindValue="Id" [(ngModel)]="registerForm.type" name="type">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="name">{{'auth.form.full_name' | translate}}</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="registerForm.full_name" name="full_name"
      placeholder="{{'global.enter' | translate}} {{'auth.form.full_name' | translate}}" autocomplete="off">
  </div>
  }
  <div class="form-group">
    <label for="exampleInputEmail1">{{'auth.form.username' | translate}}</label>
    <div class="input-group">
      <input type="text" [(ngModel)]="loginForm.username" name="username" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="{{'global.enter' | translate}} {{'auth.form.username' | translate}}"
        autocomplete="off">
      <!-- @if(type == 'register'){
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="sendOtp()" [disabled]="sentotp">
          <span *ngIf="!enterOTP"> {{'auth.form.send' | translate}}</span>
          <span *ngIf="enterOTP"> {{'auth.form.resend' | translate}}</span>
          {{'auth.form.otp' | translate}}
        </button>
      </div>
      } -->
    </div>
  </div>

  <div *ngIf="type == 'register' && enterOTP" class="form-group">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <label for="otp">{{'auth.form.otp' | translate}}
        <span *ngIf="sentotp">({{'auth.form.resend' | translate}}
          {{'auth.form.otp_enable' | translate}} {{timer}} {{'auth.form.seconds' | translate}})
        </span>
      </label>
      <button class="btn btn-link p-0" [disabled]="sentotp" (click)="sendOtp()"> {{'auth.form.resend' | translate}}
      </button>
    </div>
    <input type="text" class="form-control" id="otp" [(ngModel)]="registerForm.otp" name="otp"
      placeholder="{{'global.enter' | translate}} {{'auth.form.otp' | translate}}" autocomplete="off" numbersOnly />
  </div>

  <div *ngIf="type == 'login' || (type == 'register' && isOtpVerified)" class="form-group">
    <label for="password">{{'auth.form.password' | translate}}</label>
    <input type="password" [(ngModel)]="loginForm.password" name="password" class=" form-control" id="password"
      placeholder="{{'global.enter' | translate}} {{'auth.form.password' | translate}}" autocomplete="off">
  </div>

  <div *ngIf="type == 'register' && isOtpVerified" class="form-group">
    <label for="confirmpassword">{{'auth.form.confirm_password' | translate}}</label>
    <input type="password" class="form-control" id="confirmpassword"
      placeholder="{{'global.enter' | translate}} {{'auth.form.confirm_password' | translate}}" autocomplete="off">
  </div>

  <div *ngIf="type == 'login'" class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1"> &nbsp;
    <label class="form-check-label" for="exampleCheck1"> {{'auth.form.remember_me' | translate}}</label>
  </div>

  <div class="button-bottom">
    <button *ngIf="type == 'register' && !enterOTP" type="button" class="w-100 btn btn-theme" (click)="sendOtp()">
      <span *ngIf="!enterOTP"> {{'auth.form.send' | translate}}</span>
      <!-- <span *ngIf="enterOTP"> {{'auth.form.resend' | translate}}</span> -->
      {{'auth.form.otp' | translate}}
    </button>

    <button *ngIf="type == 'register' && enterOTP && !isOtpVerified" type="button" class="w-100 btn btn-theme"
      (click)="confirmOtp()">
      {{ ('auth.form.confirm_otp' | translate)}}
    </button>
    <button *ngIf="type == 'register' && isOtpVerified" type="button" class="w-100 btn btn-theme"
      (click)="authUser(frm, type)">
      {{ ('auth.form.create_account' | translate)}}
    </button>
    <button *ngIf="type == 'login'" type="button" class="w-100 btn btn-theme" (click)="authUser(frm, type)">
      {{ ('auth.login' | translate) }}
    </button>
    <div class="divider">
      <h6>{{'global.or' | translate}}</h6>
    </div>
    <button type="button" class="w-100 btn btn-theme btn-outline" (click)="userAuth(type)">{{ type !== 'register' ?
      ('auth.form.create_account' | translate) : ('auth.login' | translate) }}
    </button>
  </div>
</form>