<form #frm="ngForm">
  <!-- login -->
  <div *ngIf="type == 'login'">
    <div class="form-group">
      <label for="exampleInputEmail1">
        {{'auth.form.username' | translate}} <span class="mandatory">*</span>
      </label>
      <div class="input-group">
        <input type="text" [(ngModel)]="loginForm.username" name="username" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="{{'auth.form.username' | translate}}" autocomplete="off"
          [disabled]="isOtpVerified" required>
      </div>
    </div>
    <div class="form-group position-relative">
      <label for="password">
        {{'auth.form.password' | translate}} <span class="mandatory">*</span>
      </label>
      <input [type]="isShowPassOne ? 'text':'password'" [(ngModel)]="loginForm.password" name="password"
        class=" form-control" id="password"
        placeholder="{{'global.enter' | translate}} {{'auth.form.password' | translate}}" autocomplete="off" required />
      <a class="password-eyes" (click)="viewPassword(1)">
        <i *ngIf="isShowPassOne" class="feather icon-eye-off"></i>
        <i *ngIf="!isShowPassOne" class="feather icon-eye"></i>
      </a>
    </div>
    <div class="form-group d-flex">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"> &nbsp;
        <label class="form-check-label" for="exampleCheck1"> {{'auth.form.remember_me' | translate}}</label>
      </div>
      <a class="ms-auto mt-1 fw-bold" [routerLink]="['/auth/forgot-password']">Forgot Password</a>
    </div>
    <button type="button" class="w-100 btn btn-theme" (click)="authUser(frm, type)">
      {{ ('auth.login' | translate) }}
    </button>
  </div>

  <!-- register -->
  <div *ngIf="type == 'register'">
    <div *ngIf="isVendor" class="form-group">
      <label for="name">{{'auth.form.vendor_type' | translate}} <span class="mandatory">*</span></label>
      <ng-select clearable="false" [items]="vendorTypes" bindLabel="Description" placeholder="-- Select --"
        bindValue="Description" [(ngModel)]="registerForm.category" name="category" (change)="selectCategory($event)"
        #type="ngModel" [ngClass]="{'mandatory-input': type.errors && submitted}" required>
      </ng-select>
      <div class="mandatory-text mt-1" *ngIf="type.errors && (type.dirty || type.touched || submitted)">
        <span *ngIf="type.errors['required']">Vendor Type is required</span>
      </div>
    </div>
    <div *ngIf="!isVendor" class="form-group">
      <label for="name">{{'auth.form.type' | translate}} <span class="mandatory">*</span></label>
      <ng-select clearable="false" [items]="rolesList" bindLabel="Description" placeholder="-- Select User Type --"
        bindValue="Id" [(ngModel)]="registerForm.type" name="type" #type="ngModel"
        [ngClass]="{'mandatory-input': type.errors && submitted}" required>
      </ng-select>
      <div class="mandatory-text mt-1" *ngIf="type.errors && (type.dirty || type.touched || submitted)">
        <span *ngIf="type.errors['required']">User Type is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="name">{{'auth.form.full_name' | translate}} <span class="mandatory">*</span></label>
      <input type="text" class="form-control" id="name" [(ngModel)]="registerForm.full_name" name="full_name"
        #full_name="ngModel" placeholder="{{'global.enter' | translate}} {{'auth.form.full_name' | translate}}"
        [pattern]="fullNameRegex" autocomplete="off" appAlphabetOnly
        [ngClass]="{'mandatory-input': full_name.errors && submitted}" required />
      <div class="mandatory-text mt-1" *ngIf="full_name.errors && (full_name.dirty || full_name.touched || submitted)">
        <span *ngIf="full_name.errors['required']">Full Name is required</span>
        <span *ngIf="full_name.errors['pattern']">No leading or trailing spaces allowed.</span>
      </div>
    </div>
    <div class="form-group d-flex mb-1">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type_mobile" id="type_mobile" value="mobile"
          [(ngModel)]="userNameType" (change)="loginForm.username = ''" [disabled]="isOtpVerified">
        <label class="form-check-label ms-2" for="type_mobile">
          Mobile Number
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type_mobile" id="type_email" value="email"
          [(ngModel)]="userNameType" (change)="loginForm.username = ''" [disabled]="isOtpVerified">
        <label class="form-check-label ms-2" for="type_email">
          Email address
        </label>
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="userNameType == 'mobile'">
        <div class="input-group ">
          <span class="input-group-text fw-bold pointer bg-white" (click)="openCountryDialog()">
            {{selectedCountry.CountryCode}} <i class="fa fa-sort-down pointer ms-2 pb-1" aria-hidden="true"></i>
          </span>

          <input type="text" [(ngModel)]="loginForm.username" name="phone_number" #phone_number="ngModel"
            class="form-control" placeholder="Enter Mobile Number" autocomplete="off" [disabled]="isOtpVerified"
            [ngClass]="{'mandatory-input': phone_number.errors && submitted}" minlength="10" maxlength="10" numbersOnly
            required />
          <!-- mask="(000)-000-0000" -->
        </div>
        <div class="mandatory-text mt-1"
          *ngIf="phone_number.errors && (phone_number.dirty || phone_number.touched || submitted)">
          <span *ngIf="phone_number.errors['required']">Mobile Number is required</span>
          <span *ngIf="phone_number.errors['minlength']">Enter 10 digit Mobile Number</span>
        </div>
      </div>
      <div *ngIf="userNameType == 'email'">
        <input type="text" [(ngModel)]="loginForm.username" name="username" #email="ngModel" class="form-control"
          [pattern]="emailPattern" placeholder="Enter Email Address" autocomplete="off" [disabled]="isOtpVerified"
          [ngClass]="{'mandatory-input': email.errors && submitted}" required />
        <div class="mandatory-text mt-1" *ngIf="email.errors && (email.dirty || email.touched || submitted)">
          <span *ngIf="email.errors['required']">Email is required</span>
          <span *ngIf="email.errors['pattern']">Email is invalid</span>
        </div>
      </div>
    </div>

    <div *ngIf="enterOTP" class="form-group">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <label for="otp">{{'auth.form.otp' | translate}}
          <span *ngIf="sentotp && !isOtpVerified">({{'auth.form.resend' | translate}}
            {{'auth.form.otp_enable' | translate}} {{timer}} {{'auth.form.seconds' | translate}})
          </span>
        </label>
        <button class="btn btn-link p-0" [disabled]="sentotp || isOtpVerified" (click)="sendOtp(frm,'resend')">
          {{'auth.form.resend' | translate}}
        </button>
      </div>
      <input type="text" class="form-control" id="otp" [(ngModel)]="registerForm.otp" name="otp" #otp="ngModel"
        [disabled]="isOtpVerified" placeholder="{{'global.enter' | translate}} {{'auth.form.otp' | translate}}"
        autocomplete="off" numbersOnly maxlength="4" [ngClass]="{'mandatory-input': otp.errors && submitted}"
        required />
      <div class="mandatory-text mt-1" *ngIf="otp.errors && (otp.dirty || otp.touched || submitted)">
        <span *ngIf="otp.errors['required']">OTP is required</span>
      </div>
    </div>
    <div *ngIf="isOtpVerified" class="form-group position-relative">
      <label>{{'auth.form.password' | translate}}</label>
      <input [type]="isShowPassOne ? 'text':'password'" [(ngModel)]="loginForm.password" name="password_1"
        #passwordRef="ngModel" class=" form-control" minlength="8" maxlength="20" [pattern]="passPattern"
        placeholder="{{'global.enter' | translate}} {{'auth.form.password' | translate}}" autocomplete="off"
        [ngClass]="{'mandatory-input': passwordRef.errors && submitted}" required />
      <a class="password-eyes" (click)="viewPassword(1)">
        <i *ngIf="isShowPassOne" class="feather icon-eye-off"></i>
        <i *ngIf="!isShowPassOne" class="feather icon-eye"></i>
      </a>
      <div class="mandatory-text mt-1"
        *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched || submitted)">
        <span *ngIf="passwordRef.errors['required']">Password is required</span>
      </div>
      <div *ngIf="passwordRef.invalid && passwordRef.touched" class="mandatory-text mt-1">
        <div *ngIf="passwordRef.errors?.['pattern']">
          Password must be 8–20 characters, with uppercase, lowercase, number, and special character.
        </div>
      </div>
    </div>

    <div *ngIf="isOtpVerified" class="form-group position-relative">
      <label>{{'auth.form.confirm_password' | translate}}</label>
      <input [type]="isShowPassTwo ? 'text':'password'" [(ngModel)]="rePassword" name="rePassword"
        #confirmPassword="ngModel" class="form-control"
        placeholder="{{'global.enter' | translate}} {{'auth.form.confirm_password' | translate}}" autocomplete="off"
        [ngClass]="{'mandatory-input': confirmPassword.errors && submitted}" required />
      <a class="password-eyes" (click)="viewPassword(2)">
        <i *ngIf="isShowPassTwo" class="feather icon-eye-off"></i>
        <i *ngIf="!isShowPassTwo" class="feather icon-eye"></i>
      </a>
      <div class="mandatory-text mt-1"
        *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched || submitted)">
        <span *ngIf="confirmPassword.errors['required']">Confirm Password is required</span>
      </div>
      <div class="mandatory-text mt-1" *ngIf="this.loginForm.password !== this.rePassword && confirmPassword.touched">
        <span>Re-enter the password exactly same as above</span>
      </div>
      <!-- <small>Re-enter the password exactly same as above</small> -->
    </div>

    <div class="button-bottom">
      <button *ngIf="!enterOTP" type="button" class="w-100 btn btn-theme" (click)="sendOtp(frm,'send')">
        <span *ngIf="!enterOTP"> {{'auth.form.send' | translate}}</span>
        {{'auth.form.otp' | translate}}
      </button>

      <button *ngIf="enterOTP && !isOtpVerified" type="button" class="w-100 btn btn-theme" (click)="confirmOtp()">
        {{ ('auth.form.confirm_otp' | translate)}}
      </button>
      <button *ngIf="isOtpVerified" type="button" class="w-100 btn btn-theme" (click)="authUser(frm, type)">
        {{ ('auth.form.register' | translate)}}
      </button>
    </div>
  </div>

  <div class="divider">
    <h6>{{'global.or' | translate}}</h6>
  </div>
  <button type="button" class="w-100 btn btn-theme btn-outline" (click)="userAuth(type)">{{ type !== 'register' ?
    ('auth.form.create_account' | translate) : ('auth.login' | translate) }}
  </button>
</form>