<section class="bg-inner small-section success-section">
  <div class="container">
    <div class="row success-detail mt-0" [class.tour-image]="ImageClass">
      <div class="col">
        <img [src]="icon" class="img-fluid blur-up lazyload" alt="plane-image">
        <h2>oops ! no {{ title }} found</h2>
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
</section>
<!-- <div class="not-found-wrapper">
        <img class="img-fluid" src="assets/images/not-found.jpg" alt="not found">
        <h3>
          No Data Found
        </h3>
        <p>We couldn't find what you searched for.<span>Try searching again</span></p>
      </div> -->