<div class="new-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close-btn" (click)="closeModal()"><span>×</span></button>
    </div>
    <div class="modal-body">
      <div class="booking-group">
        <div class="booking-wrapper">
          <div class="booking-title mb-3">
            <h6>Documents</h6>
          </div>
          <div class="row px-3 pb-3">
            <div class="col-md-12">
              <div *ngIf="type !== 'kycDocs'" class="table-responsive dashboard-table">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">SL</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th class="text-center sticky-action">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of documentsList; let idx = index">
                      <td class="text-center">{{idx+1}}</td>
                      <td>
                        <div class="table-avatar">
                          <div class="table-head-name flex-grow-1">
                            {{item.name}}
                          </div>
                        </div>
                      </td>
                      <td>
                        <span>{{item.riskType}}</span>
                      </td>
                      <td class="sticky-action">
                        <button mat-mini-fab class="me-2 btn-theme1"
                          (click)="gs.viewDocumentFile(item.contractDocPath)">
                          <i class="feather icon-eye"></i>
                        </button>
                        <button mat-mini-fab class="me-2 btn-theme1" (click)="downloadDoc(item.documentId)">
                          <i class="feather icon-download"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div *ngIf="type === 'kycDocs'" class="table-responsive dashboard-table">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">SL</th>
                      <th>AC Number</th>
                      <th>Document Name</th>
                      <th>User Name</th>
                      <th>Uploaded Date</th>
                      <th class="text-center sticky-action">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of documentsList; let idx = index">
                      <td class="text-center">{{idx+1}}</td>
                      <td>
                        {{item.userAccountNumber || '-'}}
                      </td>
                      <td class="text-start">
                        <div class="table-avatar">
                          <div class="table-head-name flex-grow-1">
                            {{item.documentType}}
                          </div>
                        </div>
                      </td>
                      <td class="text-start">
                        {{item.userName || '-'}}
                      </td>
                      <td>
                        {{item.createdDate | date : 'MM/dd/yyyy'}}
                      </td>
                      <td class="text-center">
                        <button (click)="gs.viewDocumentFile(item.documentPath)"
                          class="btn btn-theme no-text-transorm ms-2">
                          <i class="feather icon-file-text me-2"></i> <span>View</span>
                        </button>
                        <button (click)="downloadDoc(item.id)" class="btn btn-solid color3 no-text-transorm ms-2">
                          <i class="feather icon-download"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
