<div class="modal-content add-payment-modal ">
  <div class="modal-header">
    <h4 *ngIf="paymentType === 'add'" class="modal-title">Add Payment</h4>
    <h4 *ngIf="paymentType === 'withdrawal'" class="modal-title">Withdrawal Payment</h4>
    <button type="button" class="close-btn" (click)="closeModal()">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="total-payment">
      <p class="text-start mb-2">Amount</p>
      <form>
        <input [(ngModel)]="amount" name="amount" type="text" numbersOnly class="form-control"
          placeholder="Enter Amount">
      </form>
    </div>
    <div class="choose-payment-info">
      <h5>Choose your Payment Method</h5>

      <div class="review-section">
        <div class="review_box" [class.shadow-none]="!title">
          @if(title){
          <div class="title-top">
            <h5>payment option</h5>
          </div>
          }

          <div class="flight_detail payment-gateway" [class.p-0]="!title">
            <div class="accordion" id="accordionExample" ngbAccordion [closeOthers]="true">
              <ng-container *ngFor="let details of paymentOptions">
                <div class="card" ngbAccordionItem [collapsed]="details.formId != firstPayOpt.formId">
                  <div class="card-header" id="h_one">
                    <button class="btn btn-link" ngbAccordionButton (click)="change(details, details.type)">
                      <input type='radio' class="radio_animated ms-3" name='occupation' [checked]="details.checked" />
                      <label> {{ details.description }} </label>
                    </button>
                  </div>
                  <div id="one" class="collapse" ngbAccordionCollapse>
                    <div class="card-body" ngbAccordionBody>
                      <ng-template>
                        @if(details.type == 'CreditCard'){
                        <app-booking-credit-card [from]="'wallet'"></app-booking-credit-card>
                        }

                        @if(details.type == 'ACH'){
                        <app-booking-net-banking [from]="'wallet'"></app-booking-net-banking>
                        }

                        @if(details.type == 'Crypto'){
                        <app-booking-crypto [coinList]="coinList"
                          (onSelectCoin)="onSelectCoin($event)"></app-booking-crypto>
                        }
                      </ng-template>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-btn mt-3">
      <button *ngIf="paymentType === 'add'" (click)="addFunds()" class="btn btn-theme w-100">
        Add to Wallet
      </button>
      <button *ngIf="paymentType === 'withdrawal'" (click)=" withdrawFunds()" class="btn btn-theme w-100">
        Withdrawal to Wallet
      </button>
      <button (click)="closeModal()" class="btn btn-outline-cancel" data-bs-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>