<li class="dropdown dropdown-toggle notification me-0">
  <a class="pe-0 bell-icon">
    <img src="assets/images/icon/notification.svg" alt="Bell" />
    <span class="badge badge-pill"></span>
  </a>

  <!-- [class.show]="isNotiShow"  -->
  <div class="nav-submenu menu-content d-none d-md-block dropdown-menu notifications" data-bs-popper="static">
    <div class="topnav-dropdown-header"><span class="notification-title">Notifications</span><a
        href="javascript:void(0)" class="clear-noti"> Clear All </a>
    </div>
    <div class="noti-content">
      <ul class="notification-list">
        <ng-container *ngFor="let item of this.notificationList; let indx = index">
          <li *ngIf="indx <= 4" class="notification-message">
            <div class="media d-flex">
              <span class="avatar avatar-lg flex-shrink-0">
                <img alt="User Image" src="assets/images/icon/notification.svg" class="avatar-img rounded-circle" />
              </span>
              <div class="media-body flex-grow-1">
                <p class="noti-title">
                  {{item.type}}
                </p>
                <p class="noti-details">
                  {{item.notifications}}
                </p>
                <p class="noti-time"><span class="notification-time">
                    {{item.shortTime}}
                  </span></p>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="topnav-dropdown-footer"><a routerLink="/all-notification">View all Notifications</a></div>
  </div>
</li>
