<div class="row my-kyc">
  <div class="col-lg-3">
    <div class="dashboard-sidebar mb-3">
      <div class="profile-top">
        <div class="profile-detail">
          <h5>{{'My Profile' | translate}}</h5>
        </div>
      </div>
      <div class="faq-tab">
        <ul class="nav nav-tabs" id="top-tab" role="tablist">
          @for(tab of sidebarTabs; track tab){
          <li class="nav-item" [hidden]="tab.isHidden">
            <a data-bs-toggle="tab" class="nav-link" [class.active]="activeKycTab == tab.formId"
              (click)="changeKycTab(tab)">
              <i class={{tab.formIcon}}></i> {{ tab.description | translate }}
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <form *ngIf="!gs.isLicenseVerified && !gs.isFleetOwnerLicenseVerified" class="row m-0 align-items-center">
      <div class="col-lg-3">
        <div class="form-group">
          <ng-select (change)="onChangeIam()" clearable="false" [items]="iAmArray" bindLabel="name"
            placeholder="-- I am --" bindValue="id" [(ngModel)]="kycForm.i_am" name="i_am" [readonly]="true">
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 fit-content">
        <div class="form-group mt-1 text-md-center">
          <label for=""><strong>Drive In :-</strong></label>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <ng-select (change)="onSelectState()" clearable="false" [items]="usaStatesArray" bindLabel="Name"
            placeholder="-- State --" bindValue="ID" [(ngModel)]="kycForm.state" name="state">
          </ng-select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <button (click)="reset()" class="btn btn-theme no-text-transorm" [disabled]="!kycForm.state">Reset</button>
        </div>
      </div>
    </form>

    <div class="dashboard-box">
      <div *ngIf="kycForm.state" class="position-relative">

        <!-- Driver - driver come owned car // Driver info -->
        <div *ngIf="activeKycTab === 1">
          <div *ngIf="!gs.isLicenseVerified || isFormEdit">
            <app-dynamic-form [kycForm]="kycForm" [formType]="'driver'" [isEditInfo]="isFormEdit"
              (onHandleSubmit)="handleSubmit()" (cancel)="handleCancel()" [selectedTabObj]="selectedTabObj"
              [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
          </div>
          <div *ngIf="gs.isLicenseVerified && !isFormEdit" class="col-lg-12">
            <div class="dashboard-box">
              <h2 class="completed-msg">
                {{ 'userDashboard.kyc.driverInfo.completed_msg' | translate }}
              </h2>
              <app-dynamic-grid [type]="'driver'" [data]="driverInfoData" [columns]="driverColumns"
                [actions]="driverActions" (actionEvent)="handleAction($event, 'driver')"></app-dynamic-grid>
            </div>
          </div>
        </div>

        <!--  Driver details -->
        <div *ngIf="activeKycTab === 3">
          <app-driver-details-form [activeKycTab]="activeKycTab" [isEditInfo]="isFormEdit"
            (onDivInfoSubmit)="onDivInfoSubmit()" (changeKycTab)="changeKycTab($event)"
            (cancel)="handleCancel()"></app-driver-details-form>
        </div>

        <!-- fleet Owner -->
        <div *ngIf="activeKycTab === 5">
          <div *ngIf="!gs.isLicenseVerified || isFormEdit">
            <app-dynamic-form [kycForm]="kycForm" [formType]="'fleetOwner'" [isEditInfo]="isFormEdit"
              (onHandleSubmit)="handleFleetSubmit()" (cancel)="cancelFleet()" [selectedTabObj]="selectedTabObj"
              [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
          </div>

          <div *ngIf="gs.isLicenseVerified && !isFormEdit" class="col-lg-12">
            <div class="dashboard-box">
              <h2 class="completed-msg">
                {{ 'userDashboard.kyc.driverInfo.completed_msg' | translate }}
              </h2>
              <app-dynamic-grid [type]="'fleetOwner'" [data]="driverInfoData" [columns]="fleetOwnerColumns"
                [actions]="driverActions" (actionEvent)="handleAction($event, 'fleetOwner')"></app-dynamic-grid>
              <!-- <app-fleet-owner-details [onlyCompanyInfo]="true" (onEditInfo)="onEditInfo()"
                [fleetOwnerInfoData]="fleetOwnerInfoData"></app-fleet-owner-details> -->
            </div>
          </div>
        </div>

        <!-- Account info -->
        <div *ngIf="activeKycTab === 4">
          <app-payment-option-list></app-payment-option-list>
        </div>

        <!-- Branch Info / Office Details -->
        <div *ngIf="activeKycTab === 6">
          <app-branch-list></app-branch-list>
        </div>

        <!-- Vehicle Upload -->
        <div *ngIf="activeKycTab === 7">
          <div class="profile-info-grid">
            <div *ngIf="this.gs.loggedInUserInfo.roleName === 'B5107AB1-19BF-430B-9553-76F39DB1CDCD'"
              class="row m-0 align-items-end">
              <div class="col-lg-12">
                <div class="form-group d-sm-flex d-block">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="upload_type" id="is_inspection_report1"
                      value="single" [(ngModel)]="vehicleUploadType" (change)="onChangeUpload()">
                    <label class="form-check-label ms-2" for="is_inspection_report1">
                      {{ 'userDashboard.kyc.upload_bulk_vehicle.upload_ops1' | translate }}
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="upload_type" id="is_inspection_report2"
                      value="bulk" [(ngModel)]="vehicleUploadType" (change)="onChangeUpload()">
                    <label class="form-check-label ms-2" for="is_inspection_report2">
                      {{ 'userDashboard.kyc.upload_bulk_vehicle.upload_ops2' | translate }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <ng-container *ngIf="vehicleUploadType === 'single' || (vehicleUploadType === 'bulk' && isStartGetKyc) ">
              <app-dynamic-form [kycForm]="kycForm" [formType]="'vehicleUpload'" [isEditInfo]="isFormEdit"
                (onVehicleUploadSubmit)="onVehicleUploadSubmit()" (cancel)="handleCancel()"
                [selectedTabObj]="selectedTabObj"></app-dynamic-form>
            </ng-container>

            <ng-container *ngIf="vehicleUploadType === 'bulk' && !isStartGetKyc">
              <div class="row m-0 align-items-end">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>
                      {{ 'userDashboard.kyc.upload_bulk_vehicle.upload_vin_number' | translate }}
                      <span class="mandatory">*</span>
                    </label>
                    <input [(ngModel)]="vin_document_upload" (change)="uploadFile($event)" name="vin_document_upload"
                      type="file" class="form-control open-select" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <a class="btn btn-theme no-text-transorm">
                      {{ 'userDashboard.kyc.driverInfo.submit' | translate }}
                    </a>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="table-responsive dashboard-table">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">{{'userDashboard.kyc.other_info.serial_number' | translate}}.
                          </th>
                          <th>{{'userDashboard.kyc.upload_bulk_vehicle.vin_number' | translate}}</th>
                          <th>{{'userDashboard.kyc.upload_bulk_vehicle.tlc_plate_number' | translate}}</th>
                          <th>{{'userDashboard.kyc.upload_bulk_vehicle.car_category' | translate}}</th>
                          <th>{{'userDashboard.kyc.upload_bulk_vehicle.fuel_type' | translate}}</th>
                          <th class="text-center">
                            {{'userDashboard.kyc.upload_bulk_vehicle.kyc' | translate}}
                          </th>
                          <th class="text-center">
                            {{'userDashboard.kyc.upload_bulk_vehicle.status' | translate}}
                          </th>
                          <th class="text-center">
                            {{'userDashboard.kyc.upload_bulk_vehicle.action' | translate}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of allPendingKycVehicleList; let idx = index">
                          <td class="text-center">{{idx+1}}</td>
                          <td class="text-center">{{item.vin_number}}</td>
                          <td class="text-center">{{item.plate_number}}</td>
                          <td class="text-center">{{item.car_category}}</td>
                          <td class="text-center">{{item.fuel_type}}</td>
                          <td class="text-center">
                            <span *ngIf="item.kyc" class="badge badge-success">
                              Active
                            </span>
                            <button *ngIf="!item.kyc" type="button" (click)="getKyc(item)"
                              class="btn btn-solid color4 no-text-transorm">
                              Get KYC
                            </button>
                          </td>
                          <td class="text-center">
                            <span *ngIf="item.status === 'Pending'" class="bold text-danger">
                              {{item.status}}
                            </span>
                            <span *ngIf="item.status !== 'Pending'" class="bold text-warning">
                              {{item.status}}
                            </span>
                          </td>
                          <td class="text-center">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="menu"
                              aria-label="Example icon-button with a menu">
                              <i class="feather icon-more-vertical"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button type="button" (click)="getKyc(item)" mat-menu-item>
                                <i class="feather icon-edit"></i>
                                <span>Edit</span>
                              </button>
                              <button type="button" (click)="deleteFormBulk(allPendingKycVehicleList, idx)"
                                mat-menu-item>
                                <i class="feather icon-trash"></i>
                                <span>Delete</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <!--  Vehicle info // fleet owner - individual car owner - driver come owned car -->
        <div *ngIf="isVehicleInfoEdit">
          <app-dynamic-form [kycForm]="kycForm" [formType]="'vehicleUpload'" [isEditInfo]="isFormEdit"
            (onHandleSubmit)="handleSubmit()" (cancel)="handleCancel()" [selectedTabObj]="selectedTabObj"
            [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
        </div>

        <!-- My Vehicle -->
        <div *ngIf="activeKycTab === 8 && !isVehicleInfoEdit">
          <app-dynamic-grid [type]="'my_vehicle'" [columns]="myVehicleColumns" [actions]="myVehicleActions"
            (actionEvent)="handleAction($event, 'my_vehicle')"></app-dynamic-grid>
        </div>

        <!-- Individual Car owner info -->
        <div *ngIf="activeKycTab === 12">
          <div *ngIf="!gs.isLicenseVerified || isFormEdit">
            <app-dynamic-form [kycForm]="kycForm" [formType]="'individualCarOwner'" [isEditInfo]="isFormEdit"
              (onHandleSubmit)="handleSubmit()" (cancel)="handleCancel()" [selectedTabObj]="selectedTabObj"
              [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
          </div>

          <div *ngIf="gs.isLicenseVerified && !isFormEdit" class="col-lg-12">
            <div class="dashboard-box">
              <h2 class="completed-msg">
                {{ 'userDashboard.kyc.driverInfo.completed_msg' | translate }}
              </h2>
              <app-dynamic-grid [type]="'individualCarOwner'" [data]="driverInfoData" [columns]="driverColumns"
                [actions]="driverActions" (actionEvent)="handleAction($event, 'individualCarOwner')"></app-dynamic-grid>
            </div>
          </div>
        </div>

        <div *ngIf="activeKycTab === 13">
          <app-nfts-info></app-nfts-info>
        </div>

      </div>
    </div>
  </div>
</div>