<!-- <ng-container *ngIf="gs.loggedInUserInfo['role'] === 'user_4'">
  <app-dash-driver-owned-car></app-dash-driver-owned-car>
</ng-container> -->
<!-- *ngIf="gs.loggedInUserInfo['role'] !== 'user_4'" -->

<div class="content dashboard-content">
  <div class="container">

    <div *ngIf="gs.loggedInUserInfo['role'] === 'admin'" class="row mb-4">
      <div class="col-lg-8">
        <div class="card dash-box-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-12 text-center">
                <h4>Customer Status</h4>
              </div>
            </div>
          </div>
          <div class="card-body booking-history">
            <div *ngIf="userDetails['data']['series'].length" class="widget-box p-0">
              <div class="row justify-content-end">
                <div class="col-md-3 me-3 mt-3">
                  <ng-select [items]="timeTypeList" bindLabel="Description" bindValue="Code" placeholder=""
                    [(ngModel)]="timeType" name="timeType" clearable="false" searchable="false"
                    (change)="onChangeTime()">
                  </ng-select>
                </div>
              </div>
              <app-apexcharts [data]="userDetails.data" [chartType]="'column_charts'"
                [name]="'Performance grade'"></app-apexcharts>
              <div class="text-end">
                <a class="btn view-btn btn view-btn mt-1 me-2 mb-2" (click)="viewUsers(null)">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="dashboardAllDetails.vehiclesOverView" class="col-lg-4">
        <app-ad-vehicles-details [timeTypeList]="timeTypeList"
          [data]="dashboardAllDetails.vehiclesOverView"></app-ad-vehicles-details>
      </div>
      <div *ngIf="dashboardAllDetails.bookingOverview" class="col-lg-8">
        <app-ad-booking-details [timeTypeList]="timeTypeList"
          [data]="dashboardAllDetails.bookingOverview"></app-ad-booking-details>
      </div>
    </div>

    <div
      *ngIf="dashboardAllDetails?.alertMessages && gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4'"
      class="alert-msg mb-4">
      <div *ngIf="dashboardAllDetails.alertMessages.alertType == 'BOOKING_APPROVED'"
        class="alert alert-success py-2 alert-dismissible fade show" role="alert">
        Reference Number : {{dashboardAllDetails.alertMessages.bookingReferenceNumber}},
        {{dashboardAllDetails.alertMessages.alertMessage}}
        <a (click)="onView()" class="alert-link">
          <u>View Details</u>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div *ngIf="dashboardAllDetails.alertMessages.alertType == 'REFUND_APPROVED'"
        class="alert alert-warning py-2 alert-dismissible fade show" role="alert">
        Reference Number : {{dashboardAllDetails.alertMessages.bookingReferenceNumber}},
        {{dashboardAllDetails.alertMessages.alertMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div *ngIf="dashboardAllDetails.alertMessages.alertType == 'REFUND_REJECTED'"
        class="alert alert-danger py-2 alert-dismissible fade show" role="alert">
        Reference Number : {{dashboardAllDetails.alertMessages.bookingReferenceNumber}},
        {{dashboardAllDetails.alertMessages.alertMessage}}
        <a (click)="onViewRefundStatus()" class="alert-link">
          <u>View Details</u>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="content-header">
      <h4 *ngIf="gs.loggedInUserInfo['role'] === 'user'">Driver Dashboard</h4>
      <h4 *ngIf="gs.loggedInUserInfo['role'] === 'user_2'">Car Owner Dashboard</h4>
      <h4 *ngIf="gs.loggedInUserInfo['role'] === 'user_3'">Fleet Owner Dashboard</h4>
      <h4 *ngIf="gs.loggedInUserInfo['role'] === 'user_4'">Driver Owned Car Dashboard</h4>
    </div>

    <div class="row mb-4">
      <div
        *ngIf="dashboardAllDetails.vehicleOverView && (gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3' || gs.loggedInUserInfo['role'] === 'user_4')"
        class="col-lg-4 mb-3">
        <app-vehicles-details [details]="dashboardAllDetails.vehicleOverView"></app-vehicles-details>
      </div>
      <!-- <div class="col-lg-4 mb-3" *ngFor="let item of sectionInfo[gs.loggedInUserInfo['role']]">
        <ng-container *ngIf="item.isDriverBookingOverviewShow">
          <app-driver-booking-overview [details]="item"></app-driver-booking-overview>
        </ng-container>
        <ng-container *ngIf="item.isCarBookingOverviewShow">
          <app-car-booking-overview [details]="item"></app-car-booking-overview>
        </ng-container>
      </div> -->
      <!--
      <div *ngIf="gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3'"
        class="col-lg-4">
        <app-carowner-booking-details></app-carowner-booking-details>
      </div>
      <div *ngIf="gs.loggedInUserInfo['role'] === 'user' " class=" col-lg-4">
        <app-my-booking-details></app-my-booking-details>
      </div>
      <div *ngIf="gs.loggedInUserInfo['role'] === 'user_4' " class=" col-lg-4">
        <app-doc-trip-book-details></app-doc-trip-book-details>
      </div>
      <div *ngIf="gs.loggedInUserInfo['role'] === 'user_4' " class=" col-lg-4">
        <app-doc-vehicle-book-details></app-doc-vehicle-book-details>
      </div> -->

      <div class="col-lg-4 mb-3" *ngFor="let item of dashboardDataArray">
        <ng-container *ngIf="item.isDriverBookingOverviewShow">
          <app-driver-booking-overview [details]="item"></app-driver-booking-overview>
        </ng-container>
        <ng-container *ngIf="item.isCarBookingOverviewShow">
          <app-car-booking-overview [details]="item"></app-car-booking-overview>
        </ng-container>
      </div>

      <div *ngIf="gs.loggedInUserInfo['role'] !== 'admin'" class="col-lg-4 mb-3">
        <div class="card dash-box-card flex-fill mb-0 py-2">
          <div class="card-body overview-box">
            <div class="row">
              <div class="col-md-6  p-0 d-flex">
                <div class="widget-box pb-5 flex-fill">
                  <div class="widget-header">
                    <div class="widget-content">
                      <h3>Wallet Balance</h3>
                      <div class="widget-icon">
                        <span class="total-count">
                          {{dashboardAllDetails.walletBalance | currencyPipe: gs.currency}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="css-jlkw74"></div>
                  <div class="text-end">
                    <a class="btn view-btn mt-2" (click)="goWallet()">View</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 p-0 d-flex">
                <div class="widget-box pb-5 flex-fill">
                  <div class="widget-header">
                    <div class="widget-content">
                      <h3>Favourite</h3>
                      <div class="widget-icon">
                        <span class="total-count">
                          {{dashboardAllDetails.totalFavourite}}
                        </span>
                      </div>
                      <div class="text-center">
                        <a class="btn view-btn mt-2" (click)="goWishlist()">View</a>
                      </div>
                    </div>
                  </div>
                  <div class="css-jlkw74"></div>
                </div>
              </div>
              <div
                *ngIf="dashboardAllDetails.driverRiskScore && (gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4')"
                class="col-md-6 p-0">
                <div class="widget-box  flex-fill px-0">
                  <div class="widget-header">
                    <div class="widget-content text-center">
                      <h3>Driver Risk Score</h3>
                    </div>
                  </div>
                  <app-user-apexcharts [data]="dashboardAllDetails.driverRiskScore" [chartSize]="1" [chartHeight]="160"
                    [name]="'Performance grade'"></app-user-apexcharts>
                  <div class="css-jlkw74"></div>
                </div>
              </div>
              <div *ngIf="gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4'"
                class="col-md-6 p-0 d-flex">
                <div class="widget-box  flex-fill">
                  <div class="widget-header">
                    <div class="widget-content text-center">
                      <h3>Average Star Rating</h3>
                    </div>
                  </div>
                  <div class="review-rating d-flex align-items-center mt-5 text-center">
                    <bar-rating [(rate)]="dashboardAllDetails.averageStartRating" readonly></bar-rating>
                  </div>
                  <div class="css-jlkw74"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
