<div class="collection-collapse-block" [class.open]="isOpenRating">
  <h6 class="collapse-block-title" (click)="openRating()">
    {{type === 'car' ? ('car_list_page.filter.review_score' | translate) :
    ('car_list_page.filter.driver_rating' | translate)}}
  </h6>
  <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenRating == true ? 'block' : 'none'}">
    <div class="collection-brand-filter">
      @for(rating of cabRating; track rating){
      <div class="form-check collection-filter-checkbox">
        <input type="checkbox" class="form-check-input" id="{{ rating.value }}" [value]="rating.checkID"
          [checked]="checked(rating.checkID)" (change)="applyFilter($event)">
        <label class="form-check-label rating" for="{{ rating.value }}">
          <ngb-rating [rate]="rating.value"></ngb-rating>
          <span class="ms-1">({{ rating.title }})</span>
        </label>
        <label class="form-check-count" for="{{ rating.value }}">{{ rating.availability || 0 }}</label>
      </div>
      }
    </div>
  </div>
</div>
