<div class="modal-content custom-form-modal">
  <div class="modal-header">
    <h4 *ngIf="isAdd" class="modal-title">Add New Card</h4>
    <h4 *ngIf="isEdit" class="modal-title">Edit Card</h4>
    <button type="button" class="close-btn" (click)="closeModal()">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #cardF="ngForm">
      <div class="modal-form-group">
        <label>Card Number <span class="text-danger">*</span></label>
        <input [(ngModel)]="cardForm.card_number" name="card_number" type="text" class="form-control"
          placeholder="Enter Card Number">
      </div>
      <div class="modal-form-group">
        <label>Name on Card <span class="text-danger">*</span></label>
        <input [(ngModel)]="cardForm.name_on_card" name="name_on_card" type="text" class="form-control"
          placeholder="Enter Card Name">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="modal-form-group">
            <label>CVV <span class="text-danger">*</span></label>
            <div class="form-icon">
              <input [(ngModel)]="cardForm.cvv" name="cvv" type="text" class="form-control"
                placeholder="Enter CVV Number">
              <span class="cus-icon">
                <img src="assets/icons/payment/lock-icon.svg" alt="Icon">
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="modal-form-group">
            <label>Expiry Date <span class="text-danger">*</span></label>
            <div class="form-icon">
              <input [(ngModel)]="cardForm.expiry_date" name="expiry_date" type="text"
                class="form-control datetimepicker" placeholder="MM/YY" bsDatepicker>
              <span class="cus-icon">
                <img src="assets/icons/payment/calendar-icon.svg" alt="Icon">
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-form-group">
        <label class="custom_check">
          <input [(ngModel)]="cardForm.rememberme" type="checkbox" name="rememberme" class="rememberme">
          <span class="checkmark"></span>
          Save this account for future transaction
        </label>
      </div>
      <div class="modal-btn">
        <button *ngIf="isAdd" type="button" (click)="onConfirm()" class="btn btn-theme w-100">Save</button>
        <button *ngIf="isEdit" type="button" (click)="onConfirm()" class="btn btn-theme w-100">Update</button>
      </div>
    </form>
  </div>
</div>