<div class="product-wrapper-grid special-section grid-box">
  <div class="row  content grid">
    <div class="col-sm-6 popular grid-item"
      [ngClass]="{ 'col-xl-4': gridType == '3-grid','col-xl-3 col-lg-4' : gridType == '4-grid' }">
      <div class="special-box cab-box">
        <div class="special-img">
          <div class="ldr-img"></div>
        </div>
        <div class="special-content">
          <a href="javascript:void(0)">
            <h5></h5>
          </a>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="button-botton">
            <a class="ldr-btn">
              <div></div>
            </a>
            <a class="ldr-btn">
              <div></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 popular grid-item"
      [ngClass]="{ 'col-xl-4': gridType == '3-grid','col-xl-3 col-lg-4' : gridType == '4-grid' }">
      <div class="special-box cab-box">
        <div class="special-img">
          <div class="ldr-img"></div>
        </div>
        <div class="special-content">
          <a href="javascript:void(0)">
            <h5></h5>
          </a>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="button-botton">
            <a class="ldr-btn">
              <div></div>
            </a>
            <a class="ldr-btn">
              <div></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 popular grid-item"
      [ngClass]="{ 'col-xl-4': gridType == '3-grid','col-xl-3 col-lg-4' : gridType == '4-grid' }">
      <div class="special-box cab-box">
        <div class="special-img">
          <div class="ldr-img"></div>
        </div>
        <div class="special-content">
          <a href="javascript:void(0)">
            <h5></h5>
          </a>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="button-botton">
            <a class="ldr-btn">
              <div></div>
            </a>
            <a class="ldr-btn">
              <div></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 popular grid-item"
      [ngClass]="{ 'col-xl-4': gridType == '3-grid','col-xl-3 col-lg-4' : gridType == '4-grid' }">
      <div class="special-box cab-box">
        <div class="special-img">
          <div class="ldr-img"></div>
        </div>
        <div class="special-content">
          <a href="javascript:void(0)">
            <h5></h5>
          </a>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="button-botton">
            <a class="ldr-btn">
              <div></div>
            </a>
            <a class="ldr-btn">
              <div></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 popular grid-item"
      [ngClass]="{ 'col-xl-4': gridType == '3-grid','col-xl-3 col-lg-4' : gridType == '4-grid' }">
      <div class="special-box cab-box">
        <div class="special-img">
          <div class="ldr-img"></div>
        </div>
        <div class="special-content">
          <a href="javascript:void(0)">
            <h5></h5>
          </a>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="button-botton">
            <a class="ldr-btn">
              <div></div>
            </a>
            <a class="ldr-btn">
              <div></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 popular grid-item"
      [ngClass]="{ 'col-xl-4': gridType == '3-grid','col-xl-3 col-lg-4' : gridType == '4-grid' }">
      <div class="special-box cab-box">
        <div class="special-img">
          <div class="ldr-img"></div>
        </div>
        <div class="special-content">
          <a href="javascript:void(0)">
            <h5></h5>
          </a>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="button-botton">
            <a class="ldr-btn">
              <div></div>
            </a>
            <a class="ldr-btn">
              <div></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>