<div class="bg-inner">
  <div class="content ">
    <div class="container">
      <div class="content-header pt-4">
        <div class="row">
          <div class="col-lg-4">
            <h4>Notifications</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card book-card flex-fill">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <h4>{{'All Notifications'}} <span>{{totalData}}</span></h4>
                </div>

                <div class="col-md-9 text-md-end">
                  <div class="table-search">
                    <div class="mb-1 me-3">
                      <input placeholder="Date Filter Range:" class="form-control datetimepicker-input digits"
                        [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1"
                        [owlDateTime]="dtRange1" (ngModelChange)="searchData()" />
                      <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                    </div>
                    <div id="tablefilter">
                      <div class="dataTables_filter">
                        <label>
                          <input [(ngModel)]="searchDataValue" name="search" type="search" class="form-control"
                            placeholder="Search" />
                        </label>
                      </div>
                    </div>
                    <a (click)="searchData()" class="btn btn-theme btn-add me-2">
                      Search
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive dashboard-table mb-4">
                <table class="table datatable">
                  <thead class="thead-light">
                    <tr>
                      <th>
                        <span>SL</span>
                      </th>
                      <th class="text-start">Type</th>
                      <th class="text-start">Notification</th>
                      <th class="text-start pointer">
                        Date
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let data of tableData | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                      <td>
                        <span>{{idx+1}}</span>
                      </td>
                      <td class="text-start ">
                        {{data.eventName}}
                      </td>
                      <td class="text-start width-500">
                        <p>Subject : {{data.subject}}</p>
                        <p class="mb-0">Massage : {{data.description}}</p>
                      </td>
                      <td class="text-start">
                        <p>{{data.date | date : 'medium'}} ({{data.date | timeAgo}})</p>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!tableData.length" class="col-md-12">
                <p class="text-center mt-3">
                  <b>No records found</b>
                </p>
              </div>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
