<div class="bg-inner">
  <div class="content ">
    <div class="container">
      <div class="content-header pt-4">
        <div class="row">
          <div class="col-lg-4">
            <h4>Notifications</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card book-card flex-fill">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h4>{{'All Notifications'}} <span>{{signalR.notification.length}}</span></h4>
                </div>

                <div class="col-md-2">
                  <div *ngIf="filterObj.sortFilter == 'Custom'">
                    <input placeholder="Date Time Range:" class="form-control datetimepicker-input digits"
                      [(ngModel)]="filterObj.dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1"
                      [owlDateTime]="dtRange1" />
                    <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                  </div>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="sortFilter" bindLabel="value" bindValue="value" (change)="onChange()"
                    placeholder="Select" [(ngModel)]="filterObj.sortFilter" name="sortFilter" clearable="false">
                  </ng-select>
                </div>
                <div class="col-md-3 text-end">
                  <div class="table-search">
                    <div id="tablefilter" class="m-0">
                      <div class="dataTables_filter">
                        <label>
                          <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                            placeholder="Search" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive dashboard-table mb-4">
                <table class="table datatable">
                  <thead class="thead-light">
                    <tr>
                      <th>
                        <span>SL</span>
                      </th>
                      <th class="text-start">Type</th>
                      <th class="text-start">Notification</th>
                      <th class="text-start pointer" [appSort]="signalR.notification" data-order="desc"
                        data-name="dateTime">
                        Date <i class="fa fa-sort" aria-hidden="true"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let data of signalR.notification | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                      <td>
                        <span>{{idx+1}}</span>
                      </td>
                      <td class="text-start">
                        {{data.Title}}
                      </td>
                      <td class="text-start">
                        {{data.Message}}
                      </td>
                      <td class="text-start">
                        <p>{{data.CreatedAt | date : 'medium'}} ({{data.CreatedAt | timeAgo}})</p>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>