<form>
  <div class="form-group">
    <label for="name">name on card</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="number">card number</label>
    <input type="text" class="form-control" id="number">
    <img src="assets/images/creditcards.png" alt="credit-cards-image" class="img-fluid blur-up lazyload">
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="month">month</label>
      <select id="month" class="form-control">
        <option selected>Month...</option>
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="year">year</label>
      <select id="year" class="form-control">
        <option selected>Year...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="cvv">cvv</label>
      <input type="password" maxlength="4" class="form-control" id="cvv">
      <img src="assets/images/cvv.png" class="img-fluid blur-up lazyload" alt="card-cvv-image">
    </div>
  </div>
  <!-- <div class="payment-btn">
    <button type="button" class="btn btn-solid color1">make payment</button>
  </div> -->
</form>