<div class="title-top">
  <h5>{{'have_coupon.title' | translate}}</h5>
</div>
<div class="flight_detail">
  <div class="promo-section">
    <!-- <div class="form-group mb-0">
      <div class="input-group">
        <input type="text" class="form-control" [placeholder]="'have_coupon.input_plchold' | translate">
        <div class="input-group-prepend">
          <span class="input-group-text">{{'have_coupon.apply' | translate}}</span>
        </div>
      </div>
    </div> -->
    <div class="promos mt-0">
      <div class="form-check position-relative" *ngFor="let item of gs.couponList">
        <input class="form-check-input radio_animated" type="radio" name="exampleRadios2" id="{{ item.couponId }}"
          (change)="applyCouponCode(item)" [(ngModel)]="item.checked" [value]="true">
        <div>
          <label class="form-check-label title" for="{{ item.couponId }}">
            {{ item.couponCode }}
          </label>
          <label class="form-check-label" for="{{ item.couponId }}">
            {{ item.couponDescription }}
          </label>
        </div>
        <a *ngIf="item.checked" class="remove-btn" (click)="removeCoupon(item)">Remove</a>
      </div>
    </div>
  </div>
</div>
