<div class="modal-content form-modal">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close-btn" (click)="closeModal()">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-form-group">
            <label>Old Password <span class="text-danger">*</span></label>
            <div class="pass-group">
              <input [type]="password[1] ? 'text' : 'password'" class="form-control pass-input-three"
                placeholder="............." formControlName="OldPassword" name="OldPassword" />
              <span class="feather icon-eye-off toggle-password-five" [ngClass]="{
                  'icon-eye': password[1],
                  'icon-eye-off': !password[1]
                }" (click)="togglePassword(1)"></span>
            </div>
            <div class="mandatory-text mt-1"
              *ngIf="fc.OldPassword?.errors && (fc.OldPassword?.dirty || fc.OldPassword?.touched || submitted)">
              <span *ngIf="fc.OldPassword?.errors['required']">Old Password is required</span>
              <div *ngIf="fc.OldPassword?.hasError('pattern')">
                Old Password must be 8–20 characters, with uppercase, lowercase, number, and special character.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="modal-form-group">
            <label>New Password <span class="text-danger">*</span></label>
            <div class="pass-group">
              <input [type]="password[2] ? 'text' : 'password'" class="form-control pass-input-four"
                placeholder="............." formControlName="NewPassword" name="NewPassword" />
              <span class="feather icon-eye-off toggle-password-five" [ngClass]="{
                  'icon-eye': password[2],
                  'icon-eye-off': !password[2]
                }" (click)="togglePassword(2)"></span>
            </div>
            <div class="mandatory-text mt-1"
              *ngIf="fc.NewPassword?.errors && (fc.NewPassword?.dirty || fc.NewPassword?.touched || submitted)">
              <span *ngIf="fc.NewPassword?.errors['required']">New Password is required</span>
              <div *ngIf="fc.NewPassword?.hasError('pattern')">
                New Password must be 8–20 characters, with uppercase, lowercase, number, and special character.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="modal-form-group">
            <label>Confirm Password <span class="text-danger">*</span></label>
            <div class="pass-group">
              <input [type]="password[3] ? 'text' : 'password'" class="form-control pass-input-five"
                placeholder="............." formControlName="ConfirmNewPassword" name="ConfirmNewPassword" />
              <span class="feather icon-eye-off toggle-password-five" [ngClass]="{
                  'icon-eye': password[3],
                  'icon-eye-off': !password[3]
                }" (click)="togglePassword(3)"></span>
            </div>
            <div class="mandatory-text mt-1"
              *ngIf="fc.ConfirmNewPassword?.errors && (fc.ConfirmNewPassword?.dirty || fc.ConfirmNewPassword?.touched || submitted)">
              <span *ngIf="fc.ConfirmNewPassword?.errors['required']">Confirm Password is required</span>
              <div *ngIf="fc.ConfirmNewPassword?.hasError('pattern')">
                Confirm Password must be 8–20 characters, with uppercase, lowercase, number, and special character.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-btn">
        <div class="row">
          <div class="col-6">
            <a (click)="submitForm()" class="btn btn-theme w-100">
              Submit
            </a>
          </div>
          <div class="col-6">
            <a (click)="closeModal()" class="btn btn-primary w-100">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>