<div class="modal-content form-modal">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close-btn" (click)="closeModal()">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="#">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-form-group">
            <label>Old Password <span class="text-danger">*</span></label>
            <div class="pass-group">
              <input [type]="password[1] ? 'text' : 'password'" class="form-control pass-input-three"
                placeholder="............." />
              <span class="feather icon-eye-off toggle-password-five" [ngClass]="{
                  'icon-eye': password[1],
                  'icon-eye-off': !password[1]
                }" (click)="togglePassword(1)"></span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="modal-form-group">
            <label>New Password <span class="text-danger">*</span></label>
            <div class="pass-group">
              <input [type]="password[2] ? 'text' : 'password'" class="form-control pass-input-four"
                placeholder="............." />
              <span class="feather icon-eye-off toggle-password-five" [ngClass]="{
                  'icon-eye': password[2],
                  'icon-eye-off': !password[2]
                }" (click)="togglePassword(2)"></span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="modal-form-group">
            <label>Confirm Password <span class="text-danger">*</span></label>
            <div class="pass-group">
              <input [type]="password[3] ? 'text' : 'password'" class="form-control pass-input-five"
                placeholder="............." />
              <span class="feather icon-eye-off toggle-password-five" [ngClass]="{
                  'icon-eye': password[3],
                  'icon-eye-off': !password[3]
                }" (click)="togglePassword(3)"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-btn">
        <div class="row">
          <div class="col-6">
            <a (click)="onConfirm()" class="btn btn-theme w-100">
              Submit
            </a>
          </div>
          <div class="col-6">
            <a (click)="closeModal()" class="btn btn-primary w-100">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
