.booking-lists ul li a {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 700;
  background: #f9f9f9;
  color: #111;
  font-size: 17px;
  border: 2px solid #dbdbdb87;
}

.breadcrumb-dashboard {
  border: 12px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 48px;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
