<div class="services-section">
  <section class="breadcrumb-dashboard pt-0 bg-size">
    <img [src]="bg_image" class="bg-img img-fluid blur-up lazyload" alt="background-image" style="display: none;">
    <div class="breadcrumb-content">
      <div>
      </div>
    </div>
  </section>

  <div class="small-section bg-inner py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <app-search-cat-loaction (onHandleSubmit)="onHandleSubmit($event)"></app-search-cat-loaction>
        </div>
      </div>


    </div>
    <div class="content">
      <div class="container">
        <div class="content-header pb-3 pt-3">
          <div class="row">
            <div class="col-lg-12">
              <h4>{{this.aggregateFilters.Header}}</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            *ngIf="this.aggregateFilters && this.aggregateFilters.filterlist && this.aggregateFilters.filterlist.length"
            class="col-lg-12">
            <div class="sorting-info">
              <div class="row align-items-center">
                <div class="col-md-12 col-12">
                  <div class="booking-lists nav-scroller">
                    <ul class="nav">
                      <!-- <li>
                        <a>Top Rated</a>
                      </li> -->
                      <li *ngFor="let item of this.aggregateFilters.filterlist">
                        <a [class.active]="selectedSubCats.includes(item.value)"
                          (click)="changeBookTab(item)">{{item.name}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div *ngIf="reLoadDetails" class="car-driv-view-detail">
              <app-service-list [servicSearchResult]="servicSearchResult"
                [searchDetails]="searchObj"></app-service-list>
            </div>
            <div class="text-center" *ngIf="!servicSearchResult.length">
              Not Data
            </div>
          </div>
          <div class="col-md-4">
            <div class="car-driv-view-detail">
              <app-advertisement></app-advertisement>
              <!-- <app-service-list></app-service-list> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
