<div class="modal-content">
  <div class="modal-body">
    <div class="modal-box">
      <div class="modal-box-header">
        <h4>Confirm</h4>
        <p>{{title || "Are you sure?"}}</p>
      </div>
      <div class="modal-btn">
        <div class="row">
          <div class="col-6">
            <a (click)="onConfirm()" class="btn btn-theme w-100">
              {{confirmButton || "Yes"}}
            </a>
          </div>
          <div class="col-6">
            <a (click)="closeModal()" class="btn btn-primary w-100">
              {{cancelButton || "Cancel"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>