<div class="new-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close-btn" (click)="closeModal()"><span>×</span></button>
    </div>
    <div class="modal-body">
      <div class="booking-group">
        <div *ngFor="let item of groupedSectionsData" class="booking-wrapper">
          <div class="booking-title">
            <h6>{{ item.sectionName }}</h6>
          </div>
          <div class="booking-body">
            <div class="row">
              <ng-container *ngIf="!(viewInfoDetails[item.modalObject] && viewInfoDetails[item.modalObject]?.length)">
                <ng-container *ngFor="let field of item.fields">
                  <div *ngIf="field.isConditionValid" class="mb-3"
                    [ngClass]="{ 'col-md-12': field.modalValue == 'companyDetails', 'col-lg-4 col-md-6': field.modalValue !== 'companyDetails' }">
                    <div class="booking-view">
                      <h6>{{ field.description }}</h6>
                      <ng-container
                        *ngIf="field.fieldType !== 'LOGO' && field.fieldType !== 'SELECTION' && field.fieldType !== 'TEXTMASK'">
                        <p>{{field.defaultValue}}</p>
                      </ng-container>

                      <ng-container *ngIf="field.fieldType === 'TEXTMASK'">
                        <p>{{field.defaultValue}}</p>
                      </ng-container>

                      <ng-container *ngIf="field.fieldType === 'LOGO' || field.fieldType === 'SELECTION'">
                        <p><i class="fa fa-eye pointer" (click)="gs.viewDocumentFile(field.defaultValue)"></i></p>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="(
                viewInfoDetails[item.modalObject] && viewInfoDetails[item.modalObject]?.length)">
                <div class="booking-view">
                  <div class="col-lg-12 mt-3">
                    <div class="table-responsive dashboard-table mb-3">
                      <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center">
                              {{'#' | translate}}
                            </th>
                            <ng-container *ngFor="let field of item.fields; let j = index">
                              <th
                                *ngIf="field.fieldType !== 'BUTTON' && field.fieldType !== 'ARRAY' && field.modalObject === item.modalObject"
                                [ngClass]="{'text-start': !j,'text-center': j}">
                                {{ field.description }}
                              </th>
                            </ng-container>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let tblItem of viewInfoDetails[item.modalObject]; let tgIdx = index">
                            <td class="text-center">{{tgIdx+1}}</td>
                            <ng-container *ngFor="let field of item.fields; let j = index">
                              <td
                                *ngIf="field.fieldType !== 'BUTTON' && field.fieldType !== 'ARRAY' && field.modalObject === item.modalObject"
                                [ngClass]="{'text-start': !j,'text-center': j}">
                                {{getPrefix(tblItem, field)}} {{tblItem[field.modalValue]}} {{getSuffix(tblItem,field)}}
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="booking-wrapper"
          *ngIf="(viewInfoDetails?.driverDetailsRequest?.isAvailableForPrivateBooking === 'Yes' || formType === 'vendor-profile')">
          <div class="booking-title mb-3">
            <h6>{{ 'userDashboard.kyc.other_info.working_hours' | translate}}</h6>
          </div>
          <div class="row px-3 pb-3">
            <div class="col-md-12">
              <div class="table-responsive dashboard-table">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">{{'userDashboard.kyc.other_info.serial_number' | translate}}.
                      </th>
                      <th>{{'userDashboard.kyc.other_info.day_of_week' | translate}}</th>
                      <th>{{'userDashboard.kyc.other_info.from_time' | translate}}</th>
                      <th>{{'userDashboard.kyc.other_info.to_time' | translate}}</th>
                      <th class="text-center">{{'userDashboard.kyc.other_info.status' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of workingHours; let idx = index">
                      <td class="text-center">{{idx+1}}</td>
                      <td>
                        <div class="table-avatar">
                          <div class="table-head-name flex-grow-1">
                            {{item.dayOfWeek}}
                          </div>
                        </div>
                      </td>
                      <td>
                        <span>{{item.fromTime}}</span>
                      </td>
                      <td class="text-success-light">
                        <span>{{item.toTime}}</span>
                      </td>
                      <td class="text-center">
                        <a *ngIf="item.status">
                          <span class="badge badge-success">
                            ON
                          </span>
                        </a>
                        <a *ngIf="!item.status">
                          <span class="badge badge-danger">
                            OFF
                          </span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>