<div class="theme-setting">
  <div class="dark">
    <input class="tgl tgl-skewed" id="dark" type="checkbox" (change)="changeThemeColor(themeColor)" [(ngModel)]="themeColor">
    <label class="tgl-btn" [attr.data-tg-off]="!themeColor ? 'Dark' : 'Light'"
                        [attr.data-tg-on]="themeColor ? 'Light' : 'Dark'" for="dark"></label>
  </div>
  <div class="rtl">
    <input class="tgl tgl-skewed" id="rtl" type="checkbox" (change)="changedDirection(themeDirection)" [(ngModel)]="themeDirection">
    <label class="tgl-btn" [attr.data-tg-off]="!themeDirection ? 'RTL' : 'LTR'"
                        [attr.data-tg-on]="themeDirection ? 'LTR' : 'RTL'" for="rtl"></label>
  </div>
</div>
