.category-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // padding: 1rem;
}

.category-sect {
  // display: flex;
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  box-shadow: 0px 1px 9px 3px rgba(228, 228, 228, 0.81);
  background: #fff;
}

.category-card {
  display: flex;
  // padding: 15px;
  // border: 1px solid #e7e7e7;
  border-radius: 12px;
  // box-shadow: 0px 1px 9px 3px rgba(228, 228, 228, 0.81);
  background: #fff;
}

.category-image {
  max-width: 230px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-right: 1px solid #ddd;
  }
}

.category-details {
  padding: 1rem;
  flex: 1;
}

.title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 700;
}

.main-title {
  font-size: 16px;
}

.rating-star {
  min-height: 27px;
  background: rgb(0, 122, 12);
  font-size: 17px;
  font-weight: 700;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.preference img {
  // width: 16px;
  height: 24px;
}

.location {
  color: #666;
  margin: 0.8rem 0;

  .location-img {
    margin-right: 3px;
    width: 16px;
  }
}

.sub-categories {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.sub {
  background: #f1f1f1;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-size: 0.85rem;
}

.contact-options {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.call-btn {
  .whatsapp-btn {
    .enquiry-btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

.call-btn {
  background: #4caf50;
  color: white;
}

.whatsapp-btn {
  background: #25d366;
  color: white;
}

.enquiry-btn {
  background: #007bff;
  color: white;
}

.tags {
  display: flex;
  // gap: 0.5rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
}

.trust {
  img {
    height: 35px;
  }
}

.verified {
  img {
    height: 35px;
  }
}
