<div class="modal-content invoice-modal">
  <div class="modal-header border-0 m-0 p-0">
    <div class="invoice-btns">
      <a (click)="printInvoice()" class="btn me-2">
        <i class="feather icon-printer"></i> Print
      </a>
      <a (click)="downloadPDF()" class="btn me-2">
        <i class="feather icon-download"></i> Download Invoice
      </a>
      <a (click)="closeModal()" class="btn"><span>×</span></a>
    </div>
  </div>
  <div class="modal-body">
    <div id="invoice-bill" class="invoice-details">
      <div class="invoice-items">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="invoice-logo">
              <img src="assets/images/icon/header-logo.jpg" alt="logo">
            </div>
          </div>
          <div class="col-md-6">
            <div class="invoice-info-text">
              <h4>Invoice</h4>
              <p>Invoice Number : <span>{{invoiceDetails.bookingDetails.bookingReferenceNumber}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-item-bills">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12">
            <div class="invoice-bill-info">
              <h6>Billed to</h6>
              <p class="mb-1">
                {{invoiceDetails.driverPersonalDetails.name}}
              </p>
              <p class="mb-1">
                {{invoiceDetails.driverPersonalDetails.phoneNumber}}
              </p>
              <p class="mb-1">
                {{invoiceDetails.driverPersonalDetails.address}}
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="invoice-bill-info">
              <h6>Invoice From</h6>
              <p class="mb-1">
                {{invoiceDetails.vehicleOwnerPersonalDetails.name}}
              </p>
              <p class="mb-1">
                {{invoiceDetails.vehicleOwnerPersonalDetails.phoneNumber}}
              </p>
              <p class="mb-1">
                {{invoiceDetails.vehicleOwnerPersonalDetails.address}}
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="invoice-bill-info border-0">
              <p>Booking Date : {{invoiceDetails.bookingDetails.bookingDate}}</p>
              <p>Total Amount : {{invoiceDetails.bookingDetails.totalAmount | currencyPipe: gs.currency}}</p>
              <p class="mb-0">Reference Number : {{invoiceDetails.bookingDetails.bookingReferenceNumber}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-table-wrap">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="invoice-table table table-center mb-0">
                <thead>
                  <tr>
                    <th>Car type</th>
                    <th>Time duration</th>
                    <th>Price per {{invoiceDetails.bookingDetails.durationType}}</th>
                    <th class="text-end">Total amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h6>{{invoiceDetails.rentaldetails.make}} ({{invoiceDetails.rentaldetails.model}})</h6>
                    </td>
                    <td>{{invoiceDetails.bookingDetails.duration}}</td>
                    <td>{{invoiceDetails.bookingDetails.priceRange | currencyPipe: gs.currency}}</td>
                    <td class="text-end">{{invoiceDetails.bookingDetails.baseAmount | currencyPipe: gs.currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="payment-details-info">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="invoice-terms">
              <div class="invocie-note">
                <h6>Payment Mode</h6>
                <p>
                  {{invoiceDetails.bookingDetails.paymentMethod}}<br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="invoice-total-box">
              <div class="invoice-total-inner">
                <p>
                  <b>Total Fare</b>
                  <span>{{invoiceDetails.bookingDetails.baseAmount | currencyPipe: gs.currency}}</span>
                </p>
                <p>
                  {{'booking_summary.insurance_fee' | translate}}
                  <span>+ {{invoiceDetails.bookingDetails.insurnaceFee | currencyPipe: gs.currency}}</span>
                </p>
                <p>{{'booking_summary.other_fees' | translate}}
                  <span>+ {{invoiceDetails.bookingDetails.otherFee | currencyPipe: gs.currency}}</span>
                </p>
                <p>{{'booking_summary.tax' | translate}}
                  <span>+ {{invoiceDetails.bookingDetails.taxFee | currencyPipe: gs.currency}}</span>
                </p>
                <p>{{'booking_summary.discount' | translate}}
                  <span>- {{invoiceDetails.bookingDetails.discountAmount | currencyPipe: gs.currency}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-total">
        <h4>Total
          <span>{{invoiceDetails.bookingDetails.totalAmount | currencyPipe: gs.currency}}</span>
        </h4>
      </div>
    </div>
  </div>
</div>
