<div class="collection-collapse-block" [class.open]="isOpenType">
  <h6 class="collapse-block-title" (click)="openType()">{{'car_list_page.filter.car_type'| translate}}</h6>
  <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenType == true ? 'block' : 'none'}">
    <div class="collection-brand-filter">
      @for(type of carTypes; track type){
      <div class="form-check collection-filter-checkbox">
        <input type="checkbox" class="form-check-input" id="{{ type.checkId }}" [value]="type.checkId"
          [checked]="checked(type.checkId)" (change)="applyFilter($event)" [disabled]="!type.availability">
        <label class="form-check-label" for="{{ type.checkId }}">{{ type.title | translate }}</label>
        <label class="form-check-count" for="{{ type.checkId }}">{{ type.availability || 0 }}</label>
      </div>
      }
    </div>
  </div>
</div>