<div class="container-fluid">

  <!-- <div>
    <h2>Connect Wallet</h2>
    <button (click)="connectWallet()">Connect MetaMask</button>
    <p *ngIf="walletAddress">Wallet Connected: {{ walletAddress }}</p>

    <hr />

    <h2>Purchase NFT</h2>
    <input type="text" placeholder="Enter Unique ID" [(ngModel)]="uniqIdToPurchase" />
    <input type="text" placeholder="Enter Price (ETH)" [(ngModel)]="priceToPurchase" />
    <button (click)="purchaseNFT()">Purchase NFT</button>

    <hr />

    <h2>View NFT</h2>
    <input type="text" placeholder="Enter Unique ID" [(ngModel)]="uniqIdToView" />
    <button (click)="viewNFT()">View NFT</button>
    <div *ngIf="nftDetails">
      <h3>NFT Details:</h3>
      <p><strong>ID:</strong> {{ nftDetails[0] }}</p>
      <p><strong>Price:</strong> {{ nftDetails[1] }}</p>
      <p><strong>IPFS Hashes:</strong></p>
      <ul>
        <li *ngFor="let hash of nftDetails[2]">{{ hash }}</li>
      </ul>
    </div>
  </div> -->

  <div class="row align-items-center mt-4 mb-2">
    <div class="col-lg-12 mb-4">
      <div class="booking-wrapper">
        <div class="booking-title">
          <h6>{{ "NFT'S Manager" | translate }}</h6>
        </div>
      </div>
      <!-- <h5 class="title-5">{{ "NFT'S Manager" | translate }}</h5> -->
    </div>
    <div class="col-lg-4 mb-2 text-center">
      <button (click)="connectWallet()" class="btn btn-theme no-text-transorm ms-2">
        {{ 'Connect Wallet' | translate }}
      </button>
    </div>
    <div class="col-lg-8 mb-2">
      <div class="card dash-box-card flex-fill mb-0">
        <div class="card-header">
          <div class="row align-items-center">
            <div *ngIf="walletAddress" class="col-md-12 mb-4">
              <!-- <div>
                <button (click)="connectToMetaMask()">Connect to MetaMask</button>
                <p *ngIf="connectedAccount">Connected: {{ connectedAccount }}</p>
                <p *ngIf="!connectedAccount && metaMaskChecked">MetaMask is not connected.</p>
              </div> -->
              <h4>Wallet Connected</h4>
            </div>
            <div *ngIf="walletAddress" class="col-md-12">
              <h5>Your Wallet Id :- {{walletAddress}}</h5>
            </div>
            <div class="col-md-12">
              <h5 *ngIf="!walletAddress">MetaMask is not connected.</h5>
            </div>
          </div>
        </div>
        <!-- <div class="card-body booking-history">
          <div class="widget-box p-0">
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row align-items-center mt-4 mb-2">
    <div class="col-lg-12 mb-2">
      <h5 class="title-5">{{ "Search NFT'S" | translate }}</h5>
    </div>
    <div class="col-lg-6">
      <form class="form-inline align-self-end">
        <div class="d-flex">
          <input [(ngModel)]="uniqIdToView" name="sub_menu_name" type="text" [placeholder]="'Driver ID' | translate"
            class="form-control open-select" />
          <button (click)="viewNFT()" class="btn btn-theme no-text-transorm ms-2">
            {{ 'Search' | translate }}
          </button>
          <button (click)="isAdd = true" class="btn btn-solid color3 no-text-transorm ms-2">
            {{ 'Cancel' | translate }}
          </button>
        </div>
      </form>
    </div>
    <!-- <div class="col-lg-6">
      <div *ngIf="!isAdd" class="text-end">
        <a (click)="isAdd = true" class="btn btn-solid color2 no-text-transorm">
          <i class="feather icon-plus"></i> {{ 'userDashboard.kyc.branch_info.add_more' | translate }}
        </a>
      </div>
    </div> -->
    <div *ngIf="!userList.length" class="col-lg-12 mt-5">
      <div class="text-center">
        <p>Branch Info Not Found</p>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="table-responsive dashboard-table mb-3">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th class="text-center">
                {{'userDashboard.kyc.branch_info.sn' | translate}}
              </th>
              <th>
                {{'Driver' | translate}}
              </th>
              <th class="text-center">
                {{'userDashboard.kyc.branch_info.action' | translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of userList | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalRecord }; let idx = index">
              <td class="text-center">{{idx+1}}</td>
              <td class="">{{item.driver_name || '-'}}</td>
              <td class="text-center">
                <a *ngIf="item.purchased_status">
                  <span class="badge badge-success">
                    Buy
                  </span>
                </a>
                <a *ngIf="!item.purchased_status">
                  <span class="badge badge-light-secondary">
                    Purchased
                  </span>
                </a>
                <button class="btn btn-solid color3 no-text-transorm ms-2">
                  {{ 'View' | translate }}
                </button>
                <button class="btn btn-theme no-text-transorm ms-2">
                  {{ 'Download' | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
