<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Account deletion request</h5>
    <button type="button" class="btn-close" (click)="closeModal()"> </button>
  </div>
  <div class="modal-body">
    <p class="text-dark">Before you leave, please tell us why you'd like to delete your TL Hub account.
      This information will help us improve. (optional)</p>
    <form>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-solid">delete my account</button>
  </div>
</div>
