<div class="collection-collapse-block" [class.open]="isOpenOption">
  <h6 class="collapse-block-title" (click)="openOption()">{{'car_list_page.filter.shift'| translate}}</h6>
  <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenOption == true ? 'block' : 'none'}">
    <div class="collection-brand-filter">
      @for(option of shiftOptions; track option){
      <div class="form-check collection-filter-checkbox">
        <input type="checkbox" class="form-check-input" id="{{ option.checkId }}" [value]="option.checkId"
          [checked]="checked(option.checkId)" (change)="applyFilter($event)" [disabled]="!option.availability">
        <label class="form-check-label" for="{{ option.checkId }}">{{ option.title | translate }}</label>
        <label class="form-check-count" for="{{ option.checkId }}">{{ option.availability || 0 }}</label>
      </div>
      }
    </div>
  </div>
</div>