<div class="left-sidebar shadow-cls">
  <div class="search-bar">
    <input>
  </div>
  <div class="middle-part collection-collapse-block open">
    <a href="javascript:void(0)" class="section-title collapse-block-title">
      <h5></h5>
    </a>
    <div class="collection-collapse-block-content ">
      <div class="filter-block">
        <div class="collection-collapse-block open">
          <h6 class="collapse-block-title"></h6>
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter">
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-block">
        <div class="collection-collapse-block open">
          <h6 class="collapse-block-title"></h6>
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter">
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-block">
        <div class="collection-collapse-block open">
          <h6 class="collapse-block-title"></h6>
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter">
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-block">
        <div class="collection-collapse-block open">
          <h6 class="collapse-block-title"></h6>
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter">
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-block">
        <div class="collection-collapse-block open">
          <h6 class="collapse-block-title"></h6>
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter">
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
              <div class="form-check collection-filter-checkbox">
                <input class="form-check-input">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
