<div class="services-section service-details">
  <section class="breadcrumb-dashboard pt-0 bg-size">
    <img [src]="bg_image" class="bg-img img-fluid blur-up lazyload" alt="background-image" style="display: none;">
    <div class="breadcrumb-content">
      <div>
      </div>
    </div>
  </section>
  <!-- bg-inner -->
  <div class="small-section bg-inner py-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 mb-3">
          <a class="back_search " (click)="back()">
            {{ 'Back to Service' | translate}}
          </a>
        </div>
        <div class="col-lg-12">
          <div class="service-list">
            <div class="service-card  align-items-center">
              <div class="service-image">
                <img [src]="singleDetailInfo.providerProfilePath" alt="{{ singleDetailInfo.categoryName }} Logo">
              </div>
              <div class="service-details">
                <h2 class="main-title">{{ singleDetailInfo.providerName }} ({{ singleDetailInfo.categoryName }})</h2>
                <p class="location">
                  <img src="assets/images/cab/icon/location-pin.svg" class="location-img" alt="seat-icon" />
                  {{ singleDetailInfo.location }}
                </p>
                <!-- <div class="sub-categories">
                  <span *ngFor="let sub of singleDetailInfo.subCategories" class="sub">{{ sub.subCategoryName }}</span>
                </div> -->
                <div class="contact-options">
                  <a class="btn btn-theme " href="tel:{{ singleDetailInfo.phoneNumber }}">
                    <i class="feather icon-phone"></i> {{ singleDetailInfo.phoneNumber }}
                  </a>
                  <a class="btn btn-theme btn-green no-text-transorm"
                    [href]="'https://wa.me/' + singleDetailInfo.phoneNumber" target="_blank">
                    <img src="assets/images/icon/whatsapp.svg" class="location-img" alt="seat-icon" width="20px" />
                    WhatsApp
                  </a>
                  <a (click)="openEnquirieModal(singleDetailInfo)" class="btn btn-solid color3 no-text-transorm">
                    Send Enquiry
                  </a>
                </div>
              </div>
            </div>
            <div class="p-3 service-card">
              <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
                <mat-tab label="Company Details">
                  <div class="my-5">
                    <p>
                      {{singleDetailInfo.CompanyDetails || 'No Details'}}
                    </p>
                  </div>
                </mat-tab>
                <mat-tab label="Services">
                  <div class="my-5">
                    <div class="sub-categories">
                      <span *ngFor="let sub of singleDetailInfo.Services" class="sub">{{ sub.subCategoryName
                        }}</span>
                    </div>
                  </div>

                </mat-tab>
                <mat-tab label="Business Hours">
                  <div class="my-4">
                    <div class="hours-container">
                      <table class="table table-borderless">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Days</th>
                            <th scope="col">Opening Time</th>
                            <th scope="col">Closing Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let day of singleDetailInfo.BussinessHours">
                            <td>
                              <span class="day" [class.bold]="day.dayOfWeek === selectedDay">
                                {{ day.dayOfWeek }}:
                              </span>
                            </td>
                            <td *ngIf="day.status">
                              <span class="time" [class.bold]="day.dayOfWeek === selectedDay">
                                {{ day.fromTime }}
                              </span>
                            </td>
                            <td *ngIf="day.status">
                              <span class="time" [class.bold]="day.dayOfWeek === selectedDay">
                                {{ day.toTime }}
                              </span>
                            </td>
                            <td *ngIf="!day.status">
                              Closed
                            </td>
                            <td *ngIf="!day.status">
                              -
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Contact Details">
                  <div class="my-5">
                    <p class="location">
                      <img src="assets/images/cab/icon/location-pin.svg" class="location-img" alt="seat-icon" />
                      {{ singleDetailInfo.location }}
                    </p>
                  </div>
                </mat-tab>
                <mat-tab label="Reviews">
                  <div class="my-5">
                    <div class="business-header">

                      <h2 class="name">{{ singleDetailInfo.providerName }}</h2>
                      <div class="address">{{ singleDetailInfo.location }}</div>
                      <div class="rating-row mt-3">
                        <div class="rating">{{ selfReviewData.providerAverageRatings}}</div>
                        <div class="stars">
                          <bar-rating [(rate)]="selfReviewData.providerAverageRatings" readonly></bar-rating>
                        </div>
                        <div class="reviews">{{ selfReviewData.totalReviews }} reviews</div>
                      </div>
                      <ng-container
                        *ngIf="gs.loggedInUserInfo && gs.loggedInUserInfo.userId && (singleDetailInfo.userId !== gs.loggedInUserInfo.userId)">
                        <h5 class="fw-bold mt-4 mb-0">Your Review</h5>
                        <div class="review-card">
                          <ng-container *ngIf="selfReviewData.isEdit">
                            <div class="header">
                              <img [src]="selfReviewData.profilePath" alt="avatar" class="avatar" />
                              <div class="user-info">
                                <div class="name">{{ selfReviewData.fullName }}</div>
                                <div class="meta">{{ selfReviewData.meta }}</div>
                                <div class="d-flex align-items-center">
                                  <div class="stars mt-0 me-2">
                                    <bar-rating [(rate)]="selfReviewData.rating" readonly></bar-rating>
                                  </div>
                                  <div class="date" *ngIf="selfReviewData.reviewDate">
                                    {{ selfReviewData.reviewDate | date :'medium' }}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="message">{{ selfReviewData.review }}</p>
                          </ng-container>
                          <a (click)="writeReview()" class="btn review-btn mt-2 mb-2 no-text-transorm">
                            <i class="feather icon-edit-2 me-2"></i>
                            {{selfReviewData.isEdit ? 'Edit your review' : 'Write Review'}}
                          </a>
                        </div>
                      </ng-container>
                    </div>
                    <div class="review-card"
                      *ngFor="let item of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData }">
                      <div class="header">
                        <img [src]="item.profilePath" alt="avatar" class="avatar" />
                        <div class="user-info">
                          <div class="name">{{ item.fullName }}</div>
                          <div class="meta">{{ item.meta }}</div>
                        </div>
                      </div>

                      <div class="stars">
                        <bar-rating [(rate)]="item.rating" readonly></bar-rating>
                      </div>
                      <div class="date" *ngIf="item.reviewDate">{{ item.reviewDate | date : 'medium' }}</div>
                      <p class="message">{{ item.review }}</p>
                    </div>

                    <div *ngIf="tableData?.length" class="text-center mt-4">
                      <pagination-controls (pageChange)="setPage($event)"></pagination-controls>
                    </div>
                    <div class="text-center" *ngIf="!selfReviewData.totalReviews && !totalData">
                      <p class="text-center mt-3">
                        <b>No Reviews Found</b>
                      </p>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <!-- <div class="contact-options justify-content-center">
                <a class="btn btn-theme " href="tel:{{ singleDetailInfo.phoneNumber }}">
                  <i class="feather icon-phone"></i> {{ singleDetailInfo.phoneNumber }}
                </a>
                <a class="btn btn-theme btn-green no-text-transorm"
                  [href]="'https://wa.me/' + singleDetailInfo.phoneNumber" target="_blank">
                  <img src="assets/images/icon/whatsapp.svg" class="location-img" alt="seat-icon" width="20px" />
                  WhatsApp
                </a>
                <a (click)="openEnquirieModal(singleDetailInfo)" class="btn btn-solid color3 no-text-transorm">
                  Send Enquiry
                </a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-lg-12 mt-3">
        </div>
      </div>
    </div>
  </div>
</div>
