<div class="price-card price-card-popular"
  [ngClass]="{'selected-price-card': params.packageId == item.packageId || currentPlan.packageCode == item.packageCode}">
  <div class="price-head">
    <div [style.background-color]="item.color" class="price-level price-level-popular">
      <h6>{{item.packageName}}</h6>
      <p>{{item.packageDescription}}</p>
    </div>
    <h4 *ngIf="item.price === 'Free'">{{item.price}}</h4>
    <h4 *ngIf="item.price !== 'Free'">{{item.price | currencyPipe: gs.currency}}</h4>
    <span>{{item.period}}</span>
  </div>
  <div class="price-details">
    <ul>
      <ng-container *ngFor="let row of item['packageDetails']">
        <li class="price-check">
          <span>
            <i class="feather icon-check-circle"></i>
          </span>
          {{row.name}} :
          <strong *ngIf="row.isUnlimited" [style.color]="item.color">
            Unlimited
          </strong>
          <strong *ngIf="!row.isUnlimited" [style.color]="item.color">
            {{row.description}}
            <!-- {{row.value}}  -->
          </strong>
        </li>
      </ng-container>
    </ul>
    <div class="text-center">
      <button *ngIf="item.purchased" readonly class="btn btn-theme  no-text-transorm"
        [style.background-color]="item.color">
        Purchased
      </button>
      <a *ngIf="!item.purchased && !currentPlan.packageCode" (click)="subscribe(item, 'Subscribe')"
        class="btn btn-theme  no-text-transorm" [style.background-color]="item.color">
        Subscribe
      </a>
      <a *ngIf="!item.purchased && currentPlan.packageCode" (click)="subscribe(item, 'Upgrade')"
        class="btn btn-theme  no-text-transorm" [style.background-color]="item.color">
        Upgrade
      </a>
    </div>
  </div>
</div>