<div class="bg-inner small-section pb-0 rental-section">
  <div class="container">
    <div class="flight-search">
      <app-cab-search [searchObj]="searchObj"
        (searchEvent)="searchVehicleResult($event,'main-search')"></app-cab-search>
    </div>
  </div>
</div>

<section class="pt-0 bg-inner small-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-cab-filter [aggregateFilters]="aggregateFilters"
          (searchEvent)="searchVehicleResult($event,'filter-search')"></app-cab-filter>
      </div>
      <div *ngIf="reLoadDetails" class="col-lg-9">
        <app-cab-list-details [searchResult]="vehicleSearchResult" [carTypes]="vehicleType" [pageSize]="pageSize"
          [marginClass]="false" [responsiveLatestFilter]="true" [noSidebar]="false"></app-cab-list-details>
      </div>
    </div>
  </div>
</section>
