<div class="footer-space">
  <div class="footer-title">
    <h5>about</h5>
  </div>
  <div class="footer-content">
    <div class="footer-links">
      <ul>
        @for(about of footerAbout; track about){
          <li>
            @if(about?.externalTab){
              <a [href]="about.path">{{ about.title  }}</a>
            }@else {
              <a href="javascript:void(0)" [routerLink]="about.path">{{ about.title  }}</a>
            }
          </li>
        }
      </ul>
    </div>
  </div>
</div>
