<div class="collection-collapse-block" [class.open]="isOpenSupplier">
  <h6 class="collapse-block-title" (click)="openSupplier()">{{'car_list_page.filter.supplier'| translate}}</h6>
  <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenSupplier == true ? 'block' : 'none'}">
    <div class="collection-brand-filter">
      @for(sup of carSuppliers; track sup){
      <div class="form-check collection-filter-checkbox">
        <input type="checkbox" class="form-check-input" id="{{ sup.checkId }}" [value]="sup.checkId"
          [checked]="checked(sup.checkId)" (change)="applyFilter($event)" [disabled]="!sup.availability">
        <label class="form-check-label" for="{{ sup.checkId }}">{{ sup.title | translate }}</label>
        <label class="form-check-count" for="{{ sup.checkId }}">{{ sup.availability || 0 }}</label>
      </div>
      }
    </div>
  </div>
</div>