<div class="pricing-page">
  <section class="section pricing-section pt-5" [ngClass]="{'p-0': from === 'subscription'}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-2">
          <h5 class="deal">
            {{(from === 'subscription' && currentPlan.packageCode) ? 'Upgrade Package' : 'Package Subscription'}}
          </h5>
        </div>
        <div *ngIf="from !== 'subscription'" class="col-12" data-aos="fade-down" data-aos-duration="1200"
          data-aos-delay="200">
          <div class="card top-toggel p-1 mb-5">
            <div class="d-grid gap-2 d-md-block">
              <ng-container *ngFor="let item of filteredPackageList">
                <button type="button" (click)="changeType(item)"
                  [ngClass]="{'selected btn-default' : activeTab === item.Code}" class="btn no-text-transorm">
                  {{item.Description}}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let item of pricingList">
          <div class="col-sm-6 px-1 mb-3"
            [ngClass]="{'col-md-3': from === 'subscription', 'col-md': from !== 'subscription'}" data-aos="fade-down"
            data-aos-duration="1200" data-aos-delay="300">
            <app-package-card [item]="item" [currentPlan]="currentPlan"
              (onSubscribe)="subscribe($event)"></app-package-card>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>