<div class="content">
  <div class="container">

    <div class="content-header">
      <div class="row">
        <div class="col-lg-4">
          <h4>All Users</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-lg-10 col-sm-12 col-12">
              <div class="booking-lists">
                <ul class="nav">
                  <li *ngFor="let item of tabs">
                    <a [class.active]="activeTab == item.menuName" (click)="changeBookTab(item)">{{item.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-12 text-end">
              <div class="filter-group">
                <select class="form-select" [(ngModel)]="searchFilter.status" (change)="selectStatus()">
                  <ng-container *ngFor="let item of vehicleStatusList">
                    <option [value]="item.value">{{item.name}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex">
        <div class="card book-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-12">
                <h4>{{activeTabName}} <span>{{totalData}}</span></h4>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-12 text-md-end">
                <div class="table-search">
                  <div class="mb-1 me-3">
                    <input placeholder="Date Filter Range:" class="form-control datetimepicker-input digits"
                      [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1"
                      [owlDateTime]="dtRange1" (ngModelChange)="searchData()" />
                    <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                  </div>
                  <div class="me-3 text-start">
                    <ng-select clearable="false" [items]="filterTypes" bindLabel="name" bindValue="id"
                      placeholder="-- Select Search Type --" [(ngModel)]="selectedFilter" name="selectedFilter"
                      class="min-width-250">
                    </ng-select>
                  </div>
                  <div id="tablefilter">
                    <div class="dataTables_filter">
                      <label>
                        <input [(ngModel)]="searchDataValue" type="search" class="form-control" placeholder="Search" />
                      </label>
                    </div>
                  </div>
                  <a *ngIf="roleService.permissions['AUSEARCH']"
                    [class]="roleService.permissions['AUSEARCH'].Class || 'btn btn-theme btn-add me-2'"
                    [title]="roleService.permissions['AUSEARCH'].Name" (click)="searchData()">
                    <i [class]="roleService.permissions['AUSEARCH'].ActionIcon"></i>
                    {{roleService.permissions['AUSEARCH'].Name}}
                  </a>
                  <button *ngIf="roleService.permissions['AUEXP']"
                    [class]="roleService.permissions['AUEXP'].Class || 'btn btn-add'"
                    [title]="roleService.permissions['AUEXP'].Name || 'Export To Excel'" [disabled]="!totalData"
                    (click)="exportToExcel()">
                    <i [class]="roleService.permissions['AUEXP'].ActionIcon"></i>
                    <img *ngIf="!roleService.permissions['AUEXP'].ActionIcon" src="assets/images/icon/excel.png"
                      width="24px" class="me-2">
                    {{roleService.permissions['AUEXP'].Name}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive dashboard-table mb-4">
              <table class="table datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <span>SL</span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('userName')">
                      User Name
                      <span *ngIf="sortColumn === 'userName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab != 'Vendor'" class="text-start pointer" (click)="onSort('rolename')">
                      User Type
                      <span *ngIf="sortColumn === 'rolename'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab != 'Vendor'" class="text-center pointer" (click)="onSort('licenseNumber')">
                      License Number
                      <span *ngIf="sortColumn === 'licenseNumber'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab != 'Vendor'" class="text-center pointer" (click)="onSort('kycStatus')">
                      KYC status
                      <span *ngIf="sortColumn === 'kycStatus'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab == 'Vendor'" class="text-start pointer" (click)="onSort('emailId')">
                      Email
                      <span *ngIf="sortColumn === 'emailId'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab == 'Vendor'" class="text-start pointer" (click)="onSort('phoneNumber')">
                      Phone Number
                      <span *ngIf="sortColumn === 'phoneNumber'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab == 'Vendor'" class="text-start pointer" (click)="onSort('categoryName')">
                      Category Name
                      <span *ngIf="sortColumn === 'categoryName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th *ngIf="activeTab == 'Vendor'" class="text-start pointer" (click)="onSort('subCategoryName')">
                      Sub Category
                      <span *ngIf="sortColumn === 'subCategoryName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-center pointer" (click)="onSort('status')">
                      Status
                      <span *ngIf="sortColumn === 'status'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                    <td>
                      <span>{{idx+1}}</span>
                    </td>
                    <td class="text-start">
                      <div class="table-avatar">
                        <a class="avatar avatar-lg flex-shrink-0">
                          <img class="avatar-img" [src]="data.profilePath || 'assets/images/driver/Male.jpg'"
                            alt="Booking">
                        </a>
                        <div class="table-head-name flex-grow-1">
                          <a>{{data.userName}}</a>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="activeTab != 'Vendor'" class="text-start">
                      <span>{{data.rolename}}</span>
                    </td>
                    <td *ngIf="activeTab != 'Vendor'" class="text-center">
                      <span>{{data.licenseNumber || '-'}}</span>
                    </td>
                    <td *ngIf="activeTab != 'Vendor'">
                      <span class="badge" [ngClass]="{
                          'badge-light-danger': data.kycStatus === 'KYC Pending',
                          'badge-light-success': data.kycStatus === 'Completed'}">
                        {{data.kycStatus}}
                      </span>
                    </td>
                    <td *ngIf="activeTab == 'Vendor'" class="text-start">
                      <span>{{data.emailId || '-'}}</span>
                    </td>
                    <td *ngIf="activeTab == 'Vendor'" class="text-start">
                      <span>{{data.phoneNumber || '-'}}</span>
                    </td>
                    <td *ngIf="activeTab == 'Vendor'" class="text-start">
                      <span>{{data.categoryName || '-'}}</span>
                    </td>
                    <td *ngIf="activeTab == 'Vendor'" class="text-start">
                      <span>{{data.subCategoryName || '-'}}</span>
                    </td>
                    <td class="text-center">
                      <a *ngIf="data.status === 'Active'" (click)="changeStatus(data)">
                        <span class="badge badge-success">
                          {{data.status}}
                        </span>
                      </a>
                      <a *ngIf="data.status === 'Repair'" (click)="changeStatus(data)">
                        <span class="badge badge-warning">
                          {{data.status}}
                        </span>
                      </a>
                      <a *ngIf="data.status === 'InActive'" (click)="changeStatus(data)">
                        <span class="badge badge-danger">
                          {{data.status}}
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>