<div class="content">
  <div class="container">

    <div class="content-header">
      <div class="row">
        <div class="col-lg-4">
          <h4>All Users</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-lg-10 col-sm-12 col-12">
              <div class="booking-lists">
                <ul class="nav">
                  <li *ngFor="let item of tabs">
                    <a [class.active]="activeTab == item.name" (click)="changeBookTab(item)">{{item.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-12 text-end">
              <div class="filter-group">
                <select class="form-select" [(ngModel)]="searchFilter.status" (change)="selectStatus()">
                  <ng-container *ngFor="let item of vehicleStatusList">
                    <option [value]="item.value">{{item.name}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex">
        <div class="card book-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-5">
                <h4>{{activeTab}} <span>{{totalData}}</span></h4>
              </div>
              <div class="col-md-7 text-md-end">
                <div class="table-search">
                  <div id="tablefilter">
                    <div class="dataTables_filter">
                      <label>
                        <input [(ngModel)]="searchDataValue" type="search" class="form-control" placeholder="Search" />
                      </label>
                    </div>
                  </div>
                  <a (click)="searchData()" class="btn btn-theme btn-add me-2">
                    Search
                  </a>
                  <a *ngIf="gs.loggedInUserInfo['role'] === 'user'" [routerLink]="'/cab/listing/list-view'"
                    class="btn btn-theme btn-add"><i class="feather icon-plus-circle"></i>Add
                    Booking</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive dashboard-table mb-4">
              <table class="table datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <span>SL</span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('userName')">
                      User Name
                      <span *ngIf="sortColumn === 'userName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('rolename')">
                      User Type
                      <span *ngIf="sortColumn === 'rolename'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-center pointer" (click)="onSort('licenseNumber')">
                      License Number
                      <span *ngIf="sortColumn === 'licenseNumber'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-center pointer" (click)="onSort('kycStatus')">
                      KYC status
                      <span *ngIf="sortColumn === 'kycStatus'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-center pointer" (click)="onSort('status')">
                      Status
                      <span *ngIf="sortColumn === 'status'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                    <td>
                      <span>{{idx+1}}</span>
                    </td>
                    <td class="text-start">
                      <div class="table-avatar">
                        <a class="avatar avatar-lg flex-shrink-0">
                          <img class="avatar-img" [src]="data.profilePath || 'assets/images/driver/Male.jpg'"
                            alt="Booking">
                        </a>
                        <div class="table-head-name flex-grow-1">
                          <a>{{data.userName}}</a>
                        </div>
                      </div>
                    </td>
                    <td class="text-start">
                      <span>{{data.rolename}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{data.licenseNumber}}</span>
                    </td>
                    <td>
                      <span class="badge" [ngClass]="{
                          'badge-light-danger': data.kycStatus === 'KYC Pending',
                          'badge-light-success': data.kycStatus === 'Completed'}">
                        {{data.kycStatus}}
                      </span>
                    </td>
                    <td class="text-center">
                      <!-- (click)="changeStatus(data)" -->
                      <a *ngIf="data.status === 'Active'" (click)="changeStatus(data)">
                        <span class="badge badge-success">
                          {{data.status}}
                        </span>
                      </a>
                      <a *ngIf="data.status === 'Repair'" (click)="changeStatus(data)">
                        <span class="badge badge-warning">
                          {{data.status}}
                        </span>
                      </a>
                      <a *ngIf="data.status === 'Inactive'" (click)="changeStatus(data)">
                        <span class="badge badge-danger">
                          {{data.status}}
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>