<div *ngIf="isSearchVisible" class="flight-search-detail position-relative" [class.show]="isShow">
  <form class="row m-0">
    <!-- <div class="col"
      [ngClass]="{ 'd-none': searchObj.location_type == 'option2', 'd-block': searchObj.location_type == 'option1' }">
      <div class="form-group">
        <label>{{ 'global.pick_up' | translate }} {{ 'global.location' | translate }}</label>
        <input [(ngModel)]="searchObj.pick_up_location" name="pick_up_location" type="text" value="Paris"
          class="form-control open-select" id="exampleInputEmail1" placeholder="pick up">
        <img src="assets/images/icon/from.png" class="img-fluid blur-up lazyload" alt="pickup-icon">
      </div>
    </div>
    <div class="col"
      [ngClass]="{ 'd-none': searchObj.location_type == 'option2', 'd-block': searchObj.location_type == 'option1' }">
      <div class="form-group">
        <label>{{ 'global.drop_off' | translate }} {{ 'global.location' | translate }}</label>
        <input [(ngModel)]="searchObj.drop_location" name="drop_location" type="text" value="Toulouse"
          class="form-control open-select" placeholder="drop off">
        <img src="assets/images/icon/location.png" class="img-fluid blur-up lazyload" alt="location-icon">
      </div>
    </div> -->
    <div class="col d-block">
      <div class="form-group position-relative">
        <label class="font-xs-white">
          {{ 'global.location' | translate }}
        </label>
        <input [(ngModel)]="searchObj.same_location" (keyup)="onSearchLocation()" name="same_location" type="text"
          class="form-control open-select" placeholder="{{ 'global.pick_up' | translate }}">
        <img src=" assets/images/icon/location.png" class="img-fluid blur-up lazyload" alt="location-icon">

        <ul class="location-dropdown" *ngIf="locationArray.length > 0">
          <li *ngFor="let location of locationArray" (click)="selectLocation(location.address)">
            {{ location.address }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>{{ 'global.type' | translate }}</label>
        <ng-select [items]="rentTypeList['RENT_TYPE']" bindLabel="Description" bindValue="Code"
          placeholder="{{ 'global.select' | translate }} {{ 'global.type' | translate }}"
          [(ngModel)]="searchObj.timeType" name="timeType" clearable="false" (change)="onChangeRent()">
        </ng-select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>{{ 'global.pick_up_time' | translate }}</label>
        <input [(ngModel)]="searchObj.pick_time" name="pick_time" class="form-control datetimepicker-input digits"
          placeholder="{{ 'global.pick_up' | translate }} {{ 'global.date_and_time' | translate }}" type="text"
          [owlDateTimeTrigger]="pickup" [owlDateTime]="pickup" [min]="todayDate" (ngModelChange)="onChangePickUpTime()">
        <!-- value="02:05 11/13/2019" -->
        <owl-date-time #pickup></owl-date-time>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>{{ 'global.drop_off_time' | translate }}</label>
        <input [(ngModel)]="searchObj.drop_time" name="drop_time" class="form-control datetimepicker-input digits"
          placeholder="{{ 'global.drop_off' | translate }} {{ 'global.date_and_time' | translate }}" type="text"
          [owlDateTimeTrigger]="drop" [owlDateTime]="drop" [owlDateTimeFilter]="dropTimeFilter"
          [min]="searchObj.pick_time" [disabled]="!searchObj.pick_time">
        <!-- value="02:05 12/13/2019" -->
        <owl-date-time #drop></owl-date-time>
      </div>
    </div>
    <!-- <div *ngIf="!searchObj.type" class="col">
      <div class="form-group">
        <label class="font-xs-white">{{ 'global.type' | translate }}</label>
        <select [(ngModel)]="searchObj.type" name="type" id="type" class="form-control open-select"
          (change)="applyFilter($event)">
          <option value="" disabled selected>{{ 'global.select' | translate }} {{ 'global.type' | translate }}</option>
          <option value="car">Car</option>
          <option value="driver">Driver</option>
        </select>
      </div>
    </div> -->
    <div class="col">
      <div class="search-btn">
        <a class="btn btn-theme" (click)="serachCarDetails()">
          {{ 'global.search' | translate }}
        </a>
        <a class="btn btn-solid color3 ms-2" (click)="resetFilter()">
          {{ 'global.reset' | translate }}
        </a>
      </div>
    </div>
    <div class="responsive-close" (click)="closeSearchBox()">
      <i class="far fa-times-circle"></i>
    </div>
  </form>
</div>