<div class="footer-title mobile-title">
  <h5>contact us</h5>
</div>
<div class="footer-content">
  <div class="contact-detail">
    <div class="footer-logo">
      <img [src]="footerLogo" alt="logo" width="130px" class="img-fluid blur-up lazyload">
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries</p>
    <ul class="contact-list">
      <li><i class="fas fa-map-marker-alt"></i> A-32, Albany, Newyork.</li>
      <li><i class="fas fa-phone-alt"></i> 518 - 457 - 5181</li>
      <li><i class="fas fa-envelope"></i> contact&#64;gmail.com</li>
    </ul>
  </div>
</div>
