<div class="modal-content new-modal vf-successful-modal">
  <div class="modal-body">
    <div class="order-success-info">
      <span class="order-success-icon">
        <img src="assets/images/icon/dashboard/check-icon.svg" alt="Icon" />
      </span>
      <h4>Successful</h4>
      <p>{{title || 'You Phone number has been successfully Verified.'}}</p>
      <div class="modal-btn">
        <a (click)="closeModal()" class="btn btn-theme no-text-transorm">
          Back to Settings <i class="feather icon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
