<div class="modal-content enquiry-modal">
  <div class="modal-header">
    <div>
      <h5 class="modal-title">Quick Enquiry</h5>
      <p>if you have any queries kindly take a moment to fill this form, our representative will
        contact you shortly..</p>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form>
      <input type="text" class="form-control" placeholder="Full Name">
      <input type="email" class="form-control" placeholder="Enter email">
      <input type="number" class="form-control" placeholder="Phone no:">
      <textarea class="form-control" rows="3" placeholder="Your Query"></textarea>
      <div class="text-end">
        <button type="submit" class="btn btn-solid">submit</button>
      </div>
    </form>
  </div>
</div>
