<section class="small-section pricing-plan-more pt-1">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div>
          <a class="back_search" (click)="backToPackage()">
            {{'Back to Package' | translate}}
          </a>
        </div>
        <h5 class="deal">
          {{'Package Subscription' | translate}}
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="booking-order mb-4">
          <div class="review-section">
            <div class="review_box p-2">
              <div class="price-level price-level-popular">
                <h6>{{packageObj.package.packageName}}</h6>
                <p>{{packageObj.package.packageDescription}}</p>
              </div>
              <div class="flight_detail">
                <div class="summery_box">
                  <div class="price-details">
                    <ul>
                      <ng-container *ngFor="let row of packageObj.package?.packageDetails">
                        <li class="price-check">
                          <span>
                            <i class="feather icon-check-circle"></i>
                          </span>
                          {{row.name}} :
                          <strong *ngIf="row.isUnlimited" [style.color]="packageObj.package.color">
                            Unlimited
                          </strong>
                          <strong *ngIf="!row.isUnlimited" [style.color]="packageObj.package.color">
                            {{row.description}}
                          </strong>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="review-section">
          <div class="review_box" [class.shadow-none]="!title">
            @if(title){
            <div class="title-top">
              <h5>payment option</h5>
            </div>
            }

            <div class="flight_detail payment-gateway" [class.p-0]="!title">
              <div class="accordion" id="accordionExample" ngbAccordion [closeOthers]="true">
                <ng-container *ngFor="let details of paymentOptions">
                  <div class="card" ngbAccordionItem [collapsed]="details.formId != firstPayOpt.formId">
                    <div class="card-header" id="h_one" ngbAccordionHeader>
                      <button class="btn btn-link" ngbAccordionButton
                        (click)="selectPaymentMode(details, details.type)">
                        <input type='radio' class="radio_animated ms-3" name='occupation' [checked]="details.checked" />
                        <label> {{ details.description }} </label>
                      </button>
                    </div>
                    <!-- <div class="card-header d-flex align-items-center" ngbAccordionHeader ngbAccordionButton
                    (click)="selectPaymentMode(details.type)">
                    <label class="mb-0 w-100 d-flex align-items-center" for="{{ details.checkId }}">
                      <input type="radio" class="radio_animated ms-0 me-2" id="{{ details.checkId }}" name="occupation"
                        [checked]="details.checked" (click)="$event.stopPropagation()" />
                      {{ details.title }}
                    </label>
                  </div> -->

                    <div id="one" class="collapse" ngbAccordionCollapse>
                      <div class="card-body" ngbAccordionBody>
                        <ng-template>
                          @if(details.type == 'CreditCard'){
                          <app-booking-credit-card></app-booking-credit-card>
                          }

                          @if(details.type == 'ACH'){
                          <app-booking-net-banking></app-booking-net-banking>
                          }

                          @if(details.type == 'Wallet'){
                          <app-booking-my-wallet></app-booking-my-wallet>
                          }

                          @if(details.type == 'Crypto'){
                          <app-booking-crypto [coinList]="coinList"
                            (onSelectCoin)="onSelectCoin($event)"></app-booking-crypto>
                          }
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>

              <div class="my-4">
                <div class="form-check">
                  <input [(ngModel)]="isAgreeTerms" [disabled]="!isAgreeTerms" class="form-check-input" type="checkbox">
                  <label class="mx-2 mb-0">
                    I agree to the <a (click)="viewTermsConditions()" class="text-primary ">terms & conditions</a> of
                    TL Hub.
                    <span class="mandatory">*</span>
                  </label>
                </div>
              </div>

              <div class="payment-btn text-end mt-3">
                <button (click)="goPayment()" [disabled]="!isAgreeTerms" type="button"
                  class="btn btn-theme color1 me-3">
                  {{'pricing_summary.pay_now' | translate}}
                </button>
                <button (click)="backToPackage()" type="button" class="btn btn-solid ">
                  {{'pricing_summary.cancel' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 booking-order res-margin">
        <div class="review-section">
          <div class="review_box">
            <div class="title-top">
              <h5>{{'pricing_summary.title' | translate}}</h5>
            </div>
            <div class="flight_detail  p-2">
              <div class="summery_box">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>{{'Package Type' | translate}}</td>
                      <td>{{ packageObj.package.packageName }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'Type' | translate }}</td>
                      <td>
                        <ng-select [items]="packageTypeList['Package_Type']" (change)="onChange('type')"
                          bindLabel="Description" bindValue="Code"
                          placeholder="{{ 'global.select' | translate }} {{ 'global.type' | translate }}"
                          [(ngModel)]="summaryObj.timeType" name="timeType" clearable="false">
                        </ng-select>
                      </td>
                    </tr>
                    <tr *ngIf="summaryObj.timeType">
                      <td>{{ labels[summaryObj.timeType] }}</td>
                      <td>
                        <ng-select [items]="duration" bindLabel="value" bindValue="value"
                          (change)="onChange('duration')"
                          placeholder="{{ 'global.select' | translate }} {{ 'Duration' | translate }}"
                          [(ngModel)]="summaryObj.timeDuration" name="timeDuration" clearable="false">
                        </ng-select>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'Start Date' | translate}}</td>
                      <td>
                        <input [(ngModel)]="summaryObj.start_time" name="start_time" (change)="onChange('pick_time')"
                          class="form-control datetimepicker-input digits"
                          placeholder="{{ 'Choose Pickup Date' | translate }}" type="text"
                          [owlDateTimeTrigger]="start_time" [owlDateTime]="start_time" [min]="today">
                        <owl-date-time [pickerType]="'calendar'" #start_time></owl-date-time>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'End Date' | translate}}</td>
                      <td>
                        <input [(ngModel)]="summaryObj.end_time" name="end_time"
                          class="form-control datetimepicker-input digits" [disabled]="true"
                          placeholder="{{ 'Choose Peturn Date' | translate }}" type="text"
                          [owlDateTimeTrigger]="end_time" [owlDateTime]="end_time">
                        <owl-date-time [pickerType]="'calendar'" #end_time></owl-date-time>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'Price Per Month' | translate}}</td>
                      <td>{{ packageSummaryObj.packagePrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                    <tr>
                      <td>{{'pricing_summary.discount' | translate}}</td>
                      <td>- {{ packageSummaryObj.discount | currencyPipe: cabService.currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="promo-section">
                  <div class="mb-0">
                    <div class="input-group mb-0">
                      <input type="text" class="form-control" [(ngModel)]="appliedCouponCode"
                        [placeholder]="'have_coupon.input_plchold' | translate" [disabled]="isCouponApplied">
                      <div *ngIf="!isCouponApplied" class="input-group-prepend pointer">
                        <button [disabled]="!appliedCouponCode " class="input-group-text"
                          (click)="onChange('coupon')">{{'have_coupon.apply' |
                          translate}}
                        </button>
                      </div>
                      <div *ngIf="isCouponApplied" class="input-group-prepend pointer">
                        <span class="input-group-text" (click)="applyCoupon(null)">
                          {{'have_coupon.remove' | translate}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isCouponApplied" class="text-green fw-bold">
                    {{packageSummaryObj.coupon | currencyPipe: cabService.currency}} Coupon Applied!
                  </div>
                </div>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>{{'booking_summary.tax' | translate}}</td>
                      <td>{{ packageSummaryObj.tax | currencyPipe: cabService.currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="grand_total">
                  <h5>
                    {{'pricing_summary.total' | translate}}
                    <span>
                      {{ packageSummaryObj.totalAmount | currencyPipe: cabService.currency}}
                    </span>
                  </h5>
                </div>
              </div>
            </div>
          </div>

          <div class="review_box promo-box">
            <app-cab-promo-code (applyCoupon)="applyCoupon($event)"></app-cab-promo-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="book-panel">
  <h6 class="mb-0 text">grand total : <span>{{ 1250 | currencyPipe: cabService.currency }}</span></h6>
  <button type="button" class="btn bottom-btn theme-color">continue</button>
</div>