.service-search-box {
  // display: flex;
  // align-items: center;
  /* gap: 10px; */
  /* padding: 10px; */
  // background: #fff;
  // border-radius: 8px;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 18px 0px;
  // margin-bottom: 12px;
  // padding: 4px;

  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 18px 0px;
  margin-bottom: 12px;
  padding: 4px;
  margin-top: -58px;
  z-index: 10;
  position: relative;

  .category-select {
    flex: 1;

    .ng-select {
      width: 100%;

      .ng-select-container {
        border-radius: 4px;
      }
    }
  }

  .location-input {
    &::after {
      content: "";
      height: 36px;
      width: 1px;
      background-color: #e4e4e4;
      position: absolute;
      right: 0;
      top: 10px;
      border-radius: 40px;
    }
  }

  button {
    line-height: normal;
    background-color: rgb(0, 25, 64);
    color: #ffffff;
    padding: 14px 22px;
    /* box-shadow: 1px 11px 20px 0px rgba(0, 25, 64, 0.12); */
    border-radius: 4px;
    /* height: 56px; */
    margin-right: 4px;
  }

}


.example-form {
  // min-width: 150px;
  // max-width: 500px;
  // width: 100%;
  display: flex;
  align-items: center;
  flex: 2;
}

.example-form-field {
  width: 100%;
  position: relative;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
