<form [formGroup]="form">
  <div class="row m-0 align-items-end">
    <div class="col-lg-12">
      <div class="row">
        <div [ngClass]="from === 'wallet' ? 'col-lg-12' : 'col-lg-6'">
          <div class="form-group">
            <label for="c-name">Credit Card Number<span class="mandatory">*</span></label>
            <div class="input-group">
              <input class="form-control" id="cc-number" formControlName="cardNumber" name="cardNumber" type="tel"
                autocomplete="cc-number" ccNumber #ccNumber="ccNumber" placeholder="•••• •••• •••• ••••"
                (keyup)="onEnterCreditCard(ccNumber)">
              <img *ngIf="!this.cardType || this.cardType == 'unknown'" src="assets/images/icon/credit-card.png" alt="">
              <img *ngIf="this.cardType" [src]="creditCards[this.cardType]" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="c-name">Expiry Date (MM/YY)<span class="mandatory">*</span></label>
            <input class="form-control" id="cc-exp-date" formControlName="expirationDate" name="expirationDate"
              type="tel" autocomplete="cc-exp" ccExp placeholder="•• / ••">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="c-name">CVV<span class="mandatory">*</span></label>
            <input class="form-control" id="cc-cvc" formControlName="cvc" name="cvc" type="tel" autocomplete="off" ccCVC
              placeholder="•••">
          </div>
        </div>
        <div [ngClass]="from === 'wallet' ? 'col-lg-12' : 'col-lg-6'">
          <div class="form-group">
            <label for="c-name">Name<span class="mandatory">*</span></label>
            <input class="form-control" id="holder_name" formControlName="holderName" name="holderName" type="text"
              placeholder="Holder Name">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>