<div class="modal-content form-modal enquiry-modal">
  <div class="modal-header p-0 border-0">
    <button type="button" class="close-btn" (click)="closeModal()">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6 side-line">
        <div class="mb-4">
          <h3 class="text-theme font-b">Get the List of Top</h3>
        </div>
        <form [formGroup]="enquiryForm">
          <div class="modal-form-group">
            <label>Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="name" name="name" />
            <span class="text-danger"
              *ngIf="(enquiryFormControl.name?.touched || submitted) && enquiryFormControl.name?.errors?.required">
              Name is required
            </span>
          </div>
          <div class="modal-form-group">
            <label>Mobile Number <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber" numbersOnly />
            <span class="text-danger"
              *ngIf="(enquiryFormControl.phoneNumber?.touched || submitted) && enquiryFormControl.phoneNumber?.errors?.required">
              Mobile Number is required
            </span>
          </div>
          <div class="modal-form-group">
            <label>Email Address <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="emailId" name="emailId" />
            <span class="text-danger"
              *ngIf="(enquiryFormControl.emailId?.touched || submitted) && enquiryFormControl.emailId?.errors?.required">
              Email Address is required
            </span>
            <span class="text-danger"
              *ngIf="enquiryFormControl.emailId?.touched  && enquiryFormControl.emailId.errors?.email">
              Enter a valid email address
            </span>
          </div>
          <div class="modal-form-group">
            <label>Sub Category <span class="text-danger">*</span></label>
            <ng-select clearable="false" [items]="providerDetails.subCategories" formControlName="subCategoryCd"
              name="subCategoryCd" bindLabel="subCategoryName" placeholder="-- Select One --" bindValue="subCategoryId"
              (change)="changeSubCategory($event)">
            </ng-select>
            <span class="text-danger"
              *ngIf="(enquiryFormControl.subCategoryCd?.touched || submitted) && enquiryFormControl.subCategoryCd?.errors?.required">
              Sub Category is required
            </span>
          </div>
          <div class="modal-form-group">
            <label>Remark <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="remarks" name="remarks" />
            <span class="text-danger"
              *ngIf="(enquiryFormControl.remarks?.touched || submitted) && enquiryFormControl.remarks?.errors?.required">
              Remark is required
            </span>
          </div>
          <div class="modal-btn">
            <div class="row">
              <div class="col-8">
                <a (click)="onConfirm()" class="btn btn-theme w-100">
                  Send Enquiry
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6 ">
        <div class="text-center mt-5">
          <img alt="logo" class="img-fluid" width="200px" src="assets/images/icon/header-logo.jpg">
        </div>
        <div class="mt-5">
          <ul class="blogcategories-list">
            <li>
              <a>
                Your requirement is sent to the selected relevant businesses
              </a>
            </li>
            <li>
              <a>
                Businesses compete with each other to get you the Best Deal
              </a>
            </li>
            <li>
              <a>
                You choose whichever suits you best
              </a>
            </li>
            <li>
              <a>
                Contact info sent to you by SMS/Email
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
