<div class="row my-kyc">
  <div class="col-lg-3">
    <div class="dashboard-sidebar mb-3">
      <div class="profile-top">
        <div class="profile-detail">
          <h5>{{'Master Configuration' | translate}}</h5>
        </div>
      </div>
      <div class="faq-tab">
        <ul class="nav nav-tabs" id="top-tab" role="tablist">
          @for(tab of sidebarTabs; track tab){
          <li class="nav-item" [hidden]="tab.isHidden">
            <a data-bs-toggle="tab" class="nav-link" [class.active]="activeKycTab == tab.formId"
              (click)="changeKycTab(tab)">
              <i class={{tab.formIcon}}></i> {{ tab.description | translate }}
            </a>
          </li>
          }
        </ul>
      </div>
    </div>

  </div>

  <div class="col-lg-9">
    <div class="dashboard-box">
      <div class="position-relative">

        <!--  Driver details -->
        <div *ngIf="activeKycTab === 3">
          <ng-container *ngIf="!isAddEditDriverDetail && isLoadDriverDetail">
            <app-dynamic-grid [type]="'driver_details'" [data]="gridInfoData" [kycForm]="kycForm"
              [selectedTabObj]="selectedTabObj" [columns]="driverDetailsColumns" [actions]="driverDetailsActions"
              (actionEvent)="handleAction($event, 'driver_details')"></app-dynamic-grid>
          </ng-container>
          <ng-container *ngIf="isAddEditDriverDetail">
            <app-dynamic-form [kycForm]="kycForm" [formType]="'driver_details'" [isEditInfo]="isFormEdit"
              (onHandleSubmit)="handleSubmit()" (onCancel)="handleCancel()" [selectedTabObj]="selectedTabObj"
              [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
          </ng-container>
        </div>

        <!-- Account info -->
        <div *ngIf="activeKycTab === 4 || activeKycTab === 16">
          <app-payment-option-list></app-payment-option-list>
        </div>

        <!-- Branch Info / Office Details -->
        <div *ngIf="activeKycTab === 6">
          <ng-container *ngIf="!isAddEditBranch && isLoadBranch">
            <app-dynamic-grid [type]="'branch'" [data]="gridInfoData" [kycForm]="kycForm"
              [selectedTabObj]="selectedTabObj" [columns]="branchInfoColumns" [actions]="branchInfoActions"
              (actionEvent)="handleAction($event, 'branch')"></app-dynamic-grid>
          </ng-container>
          <ng-container *ngIf="isAddEditBranch">
            <app-dynamic-form [kycForm]="kycForm" [formType]="'branch'" [isEditInfo]="isFormEdit"
              (onHandleSubmit)="handleSubmit()" (onCancel)="handleCancel()" [selectedTabObj]="selectedTabObj"
              [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
          </ng-container>
        </div>

        <!-- My Vehicle -->
        <div *ngIf="activeKycTab === 14 && !isVehicleInfoEdit">
          <app-dynamic-grid [kycForm]="kycForm" [selectedTabObj]="selectedTabObj" [type]="'my_vehicle'"
            [columns]="myVehicleColumns" [actions]="myVehicleActions"
            (actionEvent)="handleAction($event, 'my_vehicle')"></app-dynamic-grid>
        </div>

        <!--  Vehicle info // fleet owner - individual car owner - driver come owned car -->
        <div *ngIf="isVehicleInfoEdit">
          <app-dynamic-form [kycForm]="kycForm" [formType]="'vehicleUpload'" [isEditInfo]="isFormEdit"
            (onHandleSubmit)="handleSubmit()" (onCancel)="handleCancel()" [selectedTabObj]="selectedTabObj"
            [singleDetailInfo]="singleDetailInfo"></app-dynamic-form>
        </div>

        <div *ngIf="activeKycTab === 18">
          <ng-container *ngIf="subscriptionStep == 1">
            <app-package-subscription [isUpgradePlan]="isUpgradePlan" (onHandleSubscribed)="handleSubscribed()"
              (onHandleUpgradePlan)="onUpgradePlan()"></app-package-subscription>
          </ng-container>
          <ng-container *ngIf="subscriptionStep == 2">
            <app-plan-subscribe [from]="'subscription'" (onHandleSubmit)="handleConfirm()"
              (onHandleBack)="handleBack($event)"></app-plan-subscribe>
          </ng-container>
          <ng-container *ngIf="subscriptionStep == 3">
            <app-payment-success (onHandleBack)="handleBack($event)"></app-payment-success>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</div>
