<div class="content">
  <div class="container">

    <div class="content-header">
      <div class="row">
        <div class="col-lg-4">
          <h4>My Payments</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-lg-10 col-sm-12 col-12">
              <div *ngIf="gs.loggedInUserInfo.role == 'admin'" class="booking-lists">
                <ul class="nav">
                  <li *ngFor="let item of tabs">
                    <a [class.active]="activeTab == item.name" (click)="changeBookTab(item)">{{item.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-12 text-end">
              <select class="form-select">
                <option selected>This Week</option>
                <option value="1">This Month</option>
                <option value="2">Last 30 Days</option>
                <option value="3">Custom</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex">
        <div class="card book-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-5">
                <h4>{{activeTab}} <span>{{totalData}}</span></h4>
              </div>
              <div class="col-md-7 text-md-end">
                <div class="table-search">
                  <div id="tablefilter">

                    <div class="dataTables_filter">
                      <label>
                        <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                          placeholder="Search" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive dashboard-table mb-4">
              <table class="table datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <span>S#</span>
                    </th>
                    <th>Payment ID</th>
                    <th>Booking ID</th>
                    <th class="text-start">Car Name</th>
                    <th class="text-start"
                      *ngIf="gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3'">
                      Driver Name</th>
                    <th>Payment Date</th>
                    <th>Payment Mode</th>
                    <th class="text-center">Total Amount</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of tableData | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                    <td>
                      <span>{{idx+1}}</span>
                    </td>
                    <td>
                      <a>{{data.paymentID}}</a>
                    </td>
                    <td>
                      <a>{{data.bookingID}}</a>
                    </td>
                    <td class="text-start">
                      <div class="table-avatar">
                        <a class="avatar avatar-lg flex-shrink-0">
                          <img class="avatar-img" [src]="data.img" alt="Booking">
                        </a>
                        <div class="table-head-name flex-grow-1">
                          <a>{{data.carName}}</a>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3'"
                      class="text-start">
                      <div class="table-avatar">
                        <a class="avatar avatar-lg flex-shrink-0">
                          <img class="avatar-img" [src]="data.driver_img" alt="Booking">
                        </a>
                        <div class="table-head-name flex-grow-1">
                          <a>{{data.driver_name}}</a>
                        </div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span>{{data.paymentDate | date : 'dd, MMM, y'}}
                      </span>
                    </td>
                    <td class="text-center">
                      <span>{{data.mode}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{data.total_amount | currencyPipe: gs.currency}}</span>
                    </td>
                    <td *ngIf="gs.loggedInUserInfo['role'] !== 'admin'">
                      <span [ngClass]="{
                          'badge-light-success': data.status === 'Completed' || data.status === 'Complete',
                          'badge-light-warning': data.status === 'Pending',
                          'badge-light-danger':data.status === 'Failed',
                          'badge-light-secondary': data.status !== 'Completed' || data.status !== 'Pending' || data.status !== 'Failed'
                           }" class="badge">{{data.status}}</span>
                    </td>
                    <!--
                    Pending Confirm
                    Pending Disburse
                    Cleared
                     -->
                    <td *ngIf="gs.loggedInUserInfo['role'] === 'admin'">
                      <span [ngClass]="{
                          'badge-light-success': data.admin_status === 'Cleared',
                          'badge-light-warning': data.admin_status === 'Pending Confirm',
                          'badge-light-danger':data.admin_status === 'Failed',
                          'badge-light-secondary': data.admin_status === 'Pending Disburse'
                           }" class="badge">{{data.admin_status}}</span>
                    </td>
                    <td class="text-end">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <i class="feather icon-more-vertical"></i>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <button (click)="onView(data)" type="button" mat-menu-item>
                          <i class="feather icon-eye"></i>
                          <span class="ms-2">View Invoice</span>
                        </button>
                        <button *ngIf="data.admin_status === 'Pending Confirm'" (click)="changeStatus(data,'Confirm')"
                          type="button" mat-menu-item>
                          <i class="feather icon-send"></i>
                          <span class="ms-2">Confirm</span>
                        </button>
                        <button *ngIf="data.admin_status === 'Pending Disburse'" (click)="changeStatus(data,'Disburse')"
                          type="button" mat-menu-item>
                          <i class="feather icon-send"></i>
                          <span class="ms-2">Disburse</span>
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>