<div class="content">
  <div class="container">
    <div class="row" *ngIf="gs.loggedInUserInfo.role == 'admin' || gs.loggedInUserInfo.role == 'Accountant'">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="wallet-section">
            <div class="row">
              <div class="col-lg-12 content-header text-center pb-3">
                <h4>Wallet</h4>
              </div>
              <div class="col-md-3 d-flex">
                <div class="balance-inner credit-info mb-0">
                  <h6>{{signalR.walletInfo.availableBalance | currencyPipe: gs.currency}}</h6>
                  <p>TLH Account Balance</p>
                </div>
              </div>
              <div class="col-md-3 d-flex">
                <div class="balance-inner debit-info mb-0">
                  <h6>{{signalR.walletInfo.pendingConfirmation | currencyPipe: gs.currency}}</h6>
                  <p>Pending Confirmation</p>
                </div>
              </div>
              <div class="col-md-3 d-flex">
                <div class="balance-inner credit-info mb-0">
                  <h6>{{signalR.walletInfo.pendingClearance | currencyPipe: gs.currency}}</h6>
                  <p>Pending Clearance</p>
                </div>
              </div>
              <div class="col-md-3 d-flex">
                <div class="balance-inner debit-info mb-0">
                  <h6>{{signalR.walletInfo.pendingRefund | currencyPipe: gs.currency}}</h6>
                  <p>Pending Refund</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-header">
      <div class="row">
        <div class="col-lg-4">
          <h4>
            {{gs.loggedInUserInfo.role == 'admin' ||
            gs.loggedInUserInfo.role == 'Accountant' ? 'Payments':'My Payments'}}
          </h4>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="gs.loggedInUserInfo.role == 'admin' || gs.loggedInUserInfo.role == 'Accountant'">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-lg-10 col-sm-12 col-12">
              <div class="booking-lists">
                <ul class="nav">
                  <li *ngFor="let item of tabs">
                    <a [class.active]="activeTab == item.name" (click)="changeBookTab(item)">{{item.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!isRefundTab">
      <div class="row">

        <div class="col-lg-12 d-flex">
          <div class="card book-card flex-fill mb-0">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <h4>{{activeTab}} <span>{{totalData}}</span></h4>
                </div>
                <div class="col-md-9 text-md-end">
                  <div class="table-search">
                    <div class="mb-1 me-3">
                      <input placeholder="Date Filter Range:" class="form-control datetimepicker-input digits"
                        [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1"
                        [owlDateTime]="dtRange1" (ngModelChange)="searchData()" />
                      <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                    </div>
                    <div id="tablefilter">
                      <div class="dataTables_filter">
                        <label>
                          <input [(ngModel)]="searchDataValue" type="search" class="form-control"
                            placeholder="Search" />
                        </label>
                      </div>
                    </div>
                    <a *ngIf="roleService.permissions['PSEARCH']"
                      [class]="roleService.permissions['PSEARCH'].Class || 'btn btn-theme btn-add me-2'"
                      [title]="roleService.permissions['PSEARCH'].Name" (click)="searchData()">
                      <i [class]="roleService.permissions['PSEARCH'].ActionIcon"></i>
                      {{roleService.permissions['PSEARCH'].Name}}
                    </a>
                    <button *ngIf="roleService.permissions['PEXP']"
                      [class]="roleService.permissions['PEXP'].Class || 'btn btn-add'"
                      [title]="roleService.permissions['PEXP'].Name || 'Export To Excel'" [disabled]="!totalData"
                      (click)="exportToExcel()">
                      <i [class]="roleService.permissions['PEXP'].ActionIcon"></i>
                      <img *ngIf="!roleService.permissions['PEXP'].ActionIcon" src="assets/images/icon/excel.png"
                        width="24px" class="me-2">
                      {{roleService.permissions['PEXP'].Name}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive dashboard-table mb-4">
                <table class="table datatable">
                  <thead class="thead-light">
                    <tr>
                      <th>
                        <span>SL</span>
                      </th>
                      <th class="pointer" (click)="onSort('paymentReferenceNumber')">
                        Payment ID
                        <span *ngIf="sortColumn === 'paymentReferenceNumber'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="pointer" (click)="onSort('bookingReferenceNumber')">
                        Reference Number
                        <span *ngIf="sortColumn === 'bookingReferenceNumber'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-start pointer" (click)="onSort('Make')">
                        Car Name
                        <span *ngIf="sortColumn === 'Make'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-start pointer" (click)="onSort('driverName')"
                        *ngIf="gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3'">
                        Driver Name
                        <span *ngIf="sortColumn === 'driverName'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="pointer" (click)="onSort('createdDate')">
                        Payment Date
                        <span *ngIf="sortColumn === 'createdDate'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="pointer" (click)="onSort('paymentMethod')">
                        Payment Mode
                        <span *ngIf="sortColumn === 'paymentMethod'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center pointer" (click)="onSort('amount')">
                        Total Amount
                        <span *ngIf="sortColumn === 'amount'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center pointer" (click)="onSort('status')">
                        Status
                        <span *ngIf="sortColumn === 'status'">
                          <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                          <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                        </span>
                      </th>
                      <th class="text-center sticky-action">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let data of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData };; let idx = index;">
                      <td>
                        <span>{{idx+1}}</span>
                      </td>
                      <td class="text-start">
                        <a>{{data.paymentReferenceNumber}}</a>
                      </td>
                      <td class="text-start">
                        <a>{{data.bookingReferenceNumber}}</a>
                      </td>
                      <td class="text-start">
                        <div class="table-avatar">
                          <a class="avatar avatar-lg flex-shrink-0 d-flex">
                            <img class="car-img" [src]="data.carimage" alt="Booking">
                          </a>
                          <div class="table-head-name flex-grow-1">
                            <a>{{data.Make}} {{data.Model}}</a>
                          </div>
                        </div>
                      </td>
                      <td *ngIf="gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3'"
                        class="text-start">
                        <div class="table-avatar">
                          <a class="avatar avatar-lg flex-shrink-0">
                            <img class="avatar-img" [src]="data.driverprofilepath" alt="Booking">
                          </a>
                          <div class="table-head-name flex-grow-1">
                            <a>{{data.driverName}}</a>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span>{{data.createdDate | date : 'MM/dd/yyyy, h:mm a'}}
                        </span>
                      </td>
                      <td class="text-center">
                        <span>{{data.paymentMethod}}</span>
                      </td>
                      <td class="text-center">
                        <span>{{data.amount | currencyPipe: gs.currency}}</span>
                      </td>
                      <!-- <td *ngIf="gs.loggedInUserInfo['role'] !== 'admin'">
                        <span [ngClass]="{
                            'badge-light-success': data.status === 'Completed' || data.status === 'Complete',
                            'badge-light-warning': data.status === 'Pending',
                            'badge-light-danger':data.status === 'Failed',
                            'badge-light-secondary': data.status !== 'Completed' || data.status !== 'Pending' || data.status !== 'Failed'
                             }" class="badge">{{data.status}}</span>
                      </td> -->
                      <td>
                        <span [ngClass]="{
                            'badge-light-success': data.paymentStatus === 'Cleared',
                            'badge-light-warning': data.paymentStatus === 'Pending Confirmation' || data.paymentStatus === 'Pending Clearance',
                            'badge-light-danger':data.paymentStatus === 'Failed',
                            'badge-light-secondary': data.paymentStatus === 'Pending Disburse'
                             }" class="badge">{{data.paymentStatus}}</span>
                      </td>
                      <td class="text-end sticky-action">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <i class="feather icon-more-vertical"></i>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button (click)="onView(data)" type="button" mat-menu-item>
                            <i class="feather icon-eye"></i>
                            <span class="ms-2">View Invoice</span>
                          </button>
                          <button *ngIf="data.paymentStatus === 'Pending Confirmation'"
                            (click)="changeStatus(data,'Confirm')" type="button" mat-menu-item>
                            <i class="feather icon-send"></i>
                            <span class="ms-2">Payment Confirm</span>
                          </button>
                          <button *ngIf="data.paymentStatus === 'Pending Clearance'"
                            (click)="changeStatus(data,'Disburse')" type="button" mat-menu-item>
                            <i class="feather icon-send"></i>
                            <span class="ms-2">Payment Disburse</span>
                          </button>
                        </mat-menu>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!tableData.length" class="col-md-12">
                <p class="text-center mt-3">
                  <b>No records found</b>
                </p>
              </div>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isRefundTab">
      <app-user-cancellation-refund></app-user-cancellation-refund>
    </ng-container>
  </div>
</div>