<header [class.inner-page]="skeletonType == 'hotel' || skeletonType == 'tour'"
  [class.light_header]="skeletonType == 'single-page' || skeletonType =='cab-list' || skeletonType == 'cab' || skeletonType == 'restaurant' || skeletonType == 'blog-skeleton' || skeletonType == 'blog-detail-skeleton' || skeletonType == 'restaurant-single-page'">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="menu">
          <div class="brand-logo">
            <a href="javascript:void(0)">
              <img src="assets/images/icon/header-logo.jpg" alt="logo" class="img-fluid blur-up lazyload">
            </a>
          </div>
          <nav>
            <div class="main-navbar">
              <div>
                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                <div class="menu-overlay"></div>
                <ul class="nav-menu">
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title">Home</a>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title">hotel</a>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title">tour</a>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title">flight</a>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title">cab</a>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title">restaurant</a>
                  </li>
                  <li class="mega-menu"><a href="javascript:void(0)" class="nav-link menu-title">
                      pages</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <ul class="header-right">
            <li class="front-setting">
              <select>
                <option value="volvo">USD</option>
                <option value="saab">EUR</option>
                <option value="opel">INR</option>
                <option value="audi">AUD</option>
              </select>
            </li>
            <li class="front-setting">
              <select>
                <option value="volvo">ENG</option>
                <option value="saab">FRE</option>
                <option value="opel">SPA</option>
                <option value="audi">DUT</option>
              </select>
            </li>
            <li class="user user-light">
              <a href="javascript:void(0)">
                <i class="fas fa-user"></i>
              </a>
            </li>
            <li class="setting">
              <a href="javascript:void(0)">
                <i class="fas fa-cog"></i>
              </a>
              <ul class="setting-open">
                <li class="front-setting">
                  <select>
                    <option value="volvo">USD</option>
                    <option value="saab">EUR</option>
                    <option value="opel">INR</option>
                    <option value="audi">AUD</option>
                  </select>
                </li>
                <li class="front-setting">
                  <select>
                    <option value="volvo">ENG</option>
                    <option value="saab">FRE</option>
                    <option value="opel">SPA</option>
                    <option value="audi">DUT</option>
                  </select>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
