<footer [class.sticky-footer]="sticky == true" [ngClass]="{ 'effect-cls-up footer-bg bg-size' : bgImage == true, 'footer-light' : footerClass}" [ngStyle]="{'background-image': bgImage ? 'url(\'assets/images/tour/background/13.jpg\')' : 'url(\'\')'}">
  <div class="footer section-b-space section-t-space">
    <div class="container">
      <div class="row order-row">
        <div class="col-xl-2 col-md-6 order-cls">
          <app-contact></app-contact>
        </div>
        <div class="col-xl-2 col-md-3">
          <app-about></app-about>
        </div>
        <div class="col-xl-3 col-md-6">
          @if(location){
          <app-location></app-location>
          }

        </div>
        <div class="col-xl-2 col-md-3 order-cls">
          <app-useful-links></app-useful-links>
        </div>
        <div class="col-xl-3 col-md-6">
          <app-new-topic></app-new-topic>
        </div>
      </div>
    </div>
  </div>
  @if(subFooter){
  <div class="sub-footer">
    <div class="container">
      <div class="row ">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <app-social-media></app-social-media>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <app-copy-right></app-copy-right>
        </div>
      </div>
    </div>
  </div>
  }
</footer>