<div class="collection-collapse-block" [class.open]="isOpenSpec">
    <h6 class="collapse-block-title" (click)="openSpec()">{{'car_list_page.filter.car_specs'| translate}}</h6>
    <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenSpec == true ? 'block' : 'none'}">
      <div class="collection-brand-filter">
        @for(spec of caSpecs; track spec){
          <div class="form-check collection-filter-checkbox">
            <input type="checkbox" class="form-check-input" id="{{ spec.checkId }}" [value]="spec.checkId" [checked]="checked(spec.checkId)" (change)="applyFilter($event)" [disabled]="!spec.availability">
            <label class="form-check-label" for="{{ spec.checkId }}">{{ spec.title | translate }}</label>
            <label class="form-check-count" for="{{ spec.checkId }}">{{ spec.availability || 0 }}</label>
          </div>
        }
      </div>
    </div>
  </div>
  