<div class="service-card">
  <div class="service-image">
    <img [src]="singleProvider.providerProfilePath" alt="{{ singleProvider.categoryName }} Logo">
  </div>
  <div class="service-details">
    <h2 class="main-title pointer" (click)="viewDetails(singleProvider)">
      {{ singleProvider.providerName }} <span
        *ngIf="!singleProvider.isDriverAgent">({{singleProvider.categoryName}})</span>
    </h2>
    <p class="location">
      <img src="assets/images/cab/icon/location-pin.svg" class="location-img" alt="seat-icon" />
      {{ singleProvider.location }}
    </p>
    <div *ngIf="!singleProvider.isDriverAgent" class="sub-categories">
      <span *ngFor="let sub of singleProvider.subCategories" class="sub">{{ sub.subCategoryName }}</span>
    </div>
    <div *ngIf="singleProvider.isDriverAgent" class="sub-categories mb-2">
      <span class="sub">{{ singleProvider.providerName }}</span>
    </div>
    <div *ngIf="!singleProvider.isDriverAgent" class="d-flex align-items-center">
      <bar-rating [(rate)]="singleProvider.rating" readonly></bar-rating>
      <span class="ms-2 fw-bold">{{singleProvider.rating}} {{singleProvider.rating == 1 ? 'star' : 'stars'}}</span>
    </div>
    <div class="contact-options">
      <a class="btn btn-theme " href="tel:{{ singleProvider.phoneNumber }}">
        <i class="feather icon-phone"></i> {{ singleProvider.phoneNumber }}
      </a>
      <a class="btn btn-theme btn-green no-text-transorm" [href]="'https://wa.me/' + singleProvider.phoneNumber"
        target="_blank">
        <img src="assets/images/icon/whatsapp.svg" class="location-img" alt="seat-icon" width="20px" />
        WhatsApp
      </a>
      <a (click)="openEnquirieModal(singleProvider)" class="btn btn-solid color3 no-text-transorm">
        Send Enquiry
      </a>
    </div>
  </div>

  <!-- <ng-container *ngIf="servicSearchResult?.length">
    <div class="text-center">
      <pagination-controls (pageChange)="setPage($event)"></pagination-controls>
    </div>
  </ng-container> -->
</div>