<div class="new-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close-btn" (click)="closeModal()"><span>×</span></button>
    </div>
    <div class="modal-body">
      <div class="booking-header">
        <div class="booking-img-wrap">
          <div class="book-img">
            <img [src]="bookingDetails.rentaldetails.image" alt="img">
          </div>
          <div class="book-info">
            <h6 *ngIf="!bookingDetails.rentaldetails?.driverName">
              {{bookingDetails.rentaldetails.make}} ({{bookingDetails.rentaldetails.model}})
            </h6>
            <h6 *ngIf="bookingDetails.rentaldetails?.driverName">
              {{bookingDetails.rentaldetails?.driverName}}
            </h6>
            <p><i class="feather icon-map-pin"></i> Location : {{bookingDetails.rentaldetails.location}}</p>
          </div>
        </div>
        <div class="book-amount">
          <p>Total Amount</p>
          <h6>
            {{bookingDetails.bookingDetails.totalAmount | currencyPipe: gs.currency}}
            <a><i class="feather icon-alert-circle"></i></a>
          </h6>
        </div>
      </div>

      <div class="booking-group">
        <!-- <div *ngIf="bookingDetails.bookingDetails.bookingStatus !== 'Cancelled'" class="alert-msg">
          <div class="alert alert-success py-2 alert-dismissible fade show" role="alert">
            <b>{{alertMessages.alertMessage}}</b>
            <br *ngIf="bookingDetails.cancellationRefundDetails.approvedDate" />
            <span *ngIf="bookingDetails.cancellationRefundDetails.approvedDate">
              Approved By Admin on {{bookingDetails.cancellationRefundDetails.approvedDate | date : 'd MMM y'}}
            </span>
          </div>
        </div> -->

        <ng-container
          *ngIf="bookingDetails.bookingDetails.bookingStatus === 'Cancelled' || bookingDetails.bookingDetails.bookingStatus === 'Refund Started' || bookingDetails.bookingDetails.bookingStatus === 'Refund Completed'">
          <div class="cancel-box mb-3">
            <div class="cancel-reason">
              <h6>Cancel Reason</h6>
              <p class="text-red">
                {{bookingDetails.cancellationRefundDetails.cancellationReason}}
              </p>
              <h6>Cancel Remark</h6>
              <p class="text-red">
                {{bookingDetails.cancellationRefundDetails.remarks}}
              </p>
            </div>
          </div>
          <div *ngIf="bookingDetails.isBooker" class="cancel-box mb-3">
            <p>
              Cancelled By {{bookingDetails.cancellationRefundDetails.driverPersonalDetails}} on
              {{bookingDetails.cancellationRefundDetails.cancellationDate | date : 'd MMM y'}},
              <!-- refundStatusCd == 4 = 'Processed'  -->
              <ng-container *ngIf="bookingDetails.cancellationRefundDetails.refundStatusCd != 4">
                Amount
                <strong>
                  {{bookingDetails.cancellationRefundDetails.refundAmount | currencyPipe: gs.currency}}
                </strong>
                Refund will be deposit soon in user account
              </ng-container>
              <ng-container *ngIf="bookingDetails.cancellationRefundDetails.refundStatusCd == 4">
                Amount
                <strong>
                  {{bookingDetails.cancellationRefundDetails.refundAmount | currencyPipe: gs.currency}}
                </strong> Refund is deposited
                in user account on {{bookingDetails.cancellationRefundDetails.refundDate | date : 'd MMM y'}}
              </ng-container>
            </p>
          </div>
        </ng-container>
        <div class="booking-wrapper">
          <div class="booking-title">
            <h6>Booking Details</h6>
          </div>
          <div class="row container mt-3">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Reference Number</h6>
                <p>{{bookingDetails.bookingDetails.bookingReferenceNumber}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Status Remarks</h6>
                <p>
                  {{bookingDetails.bookingDetails.bookingStatusRemarks}}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Status</h6>
                <span class="badge" [ngClass]="{
                  'badge-light-secondary': bookingDetails.bookingDetails.bookingStatus === 'Confirmed',
                  'badge-light-warning': bookingDetails.bookingDetails.bookingStatus === 'Inprogress' || bookingDetails.bookingDetails.bookingStatus ===  'Pending Request' || bookingDetails.bookingDetails.bookingStatus ===  'Start Service',
                  'badge-light-danger': bookingDetails.bookingDetails.bookingStatus === 'Cancelled' || bookingDetails.bookingDetails.bookingStatus === 'Refund Started' || bookingDetails.bookingDetails.bookingStatus === 'Refund Completed' || bookingDetails.bookingDetails.bookingStatus === 'Refund Rejected',
                  'badge-light-success': bookingDetails.bookingDetails.bookingStatus === 'Completed' || bookingDetails.bookingDetails.bookingStatus === 'End Service'}
                ">
                  {{bookingDetails.bookingDetails.bookingStatus}}
                </span>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="booking-view">
                <h6>Location</h6>
                <p>{{bookingDetails.rentaldetails.location}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Booked On</h6>
                <p>{{bookingDetails.bookingDetails.bookingDate}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Start Date</h6>
                <p>{{bookingDetails.bookingDetails.startDate}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>End Date</h6>
                <p>{{bookingDetails.bookingDetails.endDate}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Duration</h6>
                <p>{{bookingDetails.bookingDetails.duration}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Price</h6>
                <p>
                  {{bookingDetails.bookingDetails.pricePerBooking | currencyPipe: gs.currency}}
                  per{{bookingDetails.bookingDetails.durationType}}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Total Amount</h6>
                <p class="text-red font-b">
                  {{bookingDetails.bookingDetails.totalAmount | currencyPipe: gs.currency}}
                </p>
              </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Rental Request</h6>
                <p>-</p>
              </div>
            </div> -->
          </div>
        </div>
        <div *ngIf="bookingDetails.bookingDetails?.riskType == 'Vehicle'" class="booking-wrapper">
          <div class="booking-title">
            <h6>Car Details</h6>
          </div>
          <div class="row container mt-3">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Car Name</h6>
                <p>{{bookingDetails.rentaldetails.make}} ({{bookingDetails.rentaldetails.model}})</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Seater</h6>
                <p>{{bookingDetails.rentaldetails.seater}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>AC</h6>
                <p>{{bookingDetails.rentaldetails?.ac || 'Yes'}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Transmission</h6>
                <p>{{bookingDetails.rentaldetails.transmission}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="bookingDetails.bookingDetails?.riskType == 'Driver'" class="booking-wrapper">
          <div class="booking-title">
            <h6>Driver Details</h6>
          </div>
          <div class="row container mt-3">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Driver Name</h6>
                <p>{{bookingDetails.rentaldetails.driverName}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Rating</h6>
                <p>{{bookingDetails.rentaldetails.rating}} Star</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Experience</h6>
                <p>{{bookingDetails.rentaldetails.driverExperience || "-"}} Year</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isShowOwnerDetails" class="booking-wrapper">
          <div class="booking-title">
            <h6>
              Owner Details
            </h6>
          </div>
          <div class="row container mt-3">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Details</h6>
                <p>{{bookingDetails.vehicleOwnerPersonalDetails.name}}</p>
                <p>{{bookingDetails.vehicleOwnerPersonalDetails.phoneNumber}}</p>
                <p>{{bookingDetails.vehicleOwnerPersonalDetails.emailId}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Address</h6>
                <p>{{bookingDetails.vehicleOwnerPersonalDetails.address}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isShowDriverDetails" class="booking-wrapper">
          <div class="booking-title">
            <h6>
              Driver Personal Details
            </h6>
          </div>
          <div class="row container mt-3">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Details</h6>
                <p>{{bookingDetails.driverPersonalDetails.name}}</p>
                <p>{{bookingDetails.driverPersonalDetails.phoneNumber}}</p>
                <p>{{bookingDetails.driverPersonalDetails.emailId}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Address</h6>
                <p>{{bookingDetails.driverPersonalDetails.address}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>