<div class="new-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close-btn" (click)="closeModal()"><span>×</span></button>
    </div>
    <div class="modal-body">
      <div class="booking-header">
        <div class="booking-img-wrap">
          <div class="book-img">
            <img [src]="bookingDetails.img" alt="img">
          </div>
          <div class="book-info">
            <h6>{{bookingDetails.carName}}</h6>
            <p><i class="feather icon-map-pin"></i> Location : {{bookingDetails.pickupDeliveryLocation1}}</p>
          </div>
        </div>
        <div class="book-amount">
          <p>Total Amount</p>
          <h6>{{bookingDetails.total_amount | currencyPipe: gs.currency}} <a href="javascript:void(0);"><i
                class="feather icon-alert-circle"></i></a></h6>
        </div>
      </div>
      <div class="booking-group">
        <div class="booking-wrapper">
          <div class="booking-title">
            <h6>Booking Details</h6>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Booking ID</h6>
                <p>{{bookingDetails.bookingId}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Location</h6>
                <p>{{bookingDetails.pickupDeliveryLocation1}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Booking Date</h6>
                <p>{{bookingDetails.bookedOn}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Start Date</h6>
                <p>{{bookingDetails.pickup_date_time}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>End Date</h6>
                <p>{{bookingDetails.end_date_time}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Number of Days</h6>
                <p>{{bookingDetails.number_of_days}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Price Per Day</h6>
                <p>{{bookingDetails.price_per_day | currencyPipe: gs.currency}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Total Amount</h6>
                <p class="text-red font-b">{{bookingDetails.total_amount | currencyPipe: gs.currency}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Status</h6>
                <span class="badge" [ngClass]="{
                  'badge-light-secondary': bookingDetails.status === 'Upcoming',
                  'badge-light-warning': bookingDetails.status === 'Inprogress' ,
                  'badge-light-danger': bookingDetails.status === 'Cancelled' || bookingDetails.status === 'Refund Started' || bookingDetails.status === 'Refund Completed',
                  'badge-light-success': bookingDetails.status === 'Completed'}">
                  {{bookingDetails.status}}
                </span>
                <!-- <span class="badge badge-light-secondary">Upcoming</span> -->
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Rental Request</h6>
                <p>-</p>
              </div>
            </div> -->

          </div>
        </div>
        <div class="booking-wrapper">
          <div class="booking-title">
            <h6>Car Details</h6>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Car Name</h6>
                <p>{{bookingDetails.carName}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Seater</h6>
                <p>5</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Luggage</h6>
                <p>2</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Unlimited Mileage</h6>
                <p>Yes</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>AC</h6>
                <p>Yes</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Automatic</h6>
                <p>No</p>
              </div>
            </div>
          </div>
        </div>
        <div class="booking-wrapper">
          <div class="booking-title">
            <h6>Personal Details</h6>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Details</h6>
                <p>Johna Melinda</p>
                <p>+1 56441 56464</p>
                <p>Johna&#64;example.com</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>Address</h6>
                <p>78, 10th street</p>
                <p>Laplace,USA</p>
                <p>316 654</p>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
              <div class="booking-view">
                <h6>No of Person’s</h6>
                <p>2 Adults, 1 Child</p>
              </div>
            </div> -->
          </div>
        </div>
        <ng-container
          *ngIf="bookingDetails.status === 'Cancelled' || bookingDetails.status === 'Refund Started' || bookingDetails.status === 'Refund Completed'">
          <div class="cancel-reason">
            <h6>Cancel Reason</h6>
            <p>
              {{bookingDetails.reason}}
            </p>
          </div>
          <div class="cancel-box">
            <p>
              Cancelled By {{bookingDetails.cancelledBy}} on 17 Sep 2023, Refund will deposited in user account on 19
              Sep 2023
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>