<div class="car-driv-view-detail">
  <!-- Car and Driver -->
  <div class="flight-detail-sec cab-detail-sec">
    <div class="detail-bar">
      <div class="container-fluid detail-wrap wow fadeInUp">
        <div class="row">
          <div class="col-md-3 align-self-center">
            <div class="logo-sec">
              <img *ngIf="type === 'car'" [src]="details.carImage" class="img-fluid blur-up lazyload" alt="CarImage">
              <img *ngIf="type === 'driver' && details.profilepath" [src]="details.profilepath"
                class="img-fluid blur-up lazyload" alt="DriverImage">
              <img *ngIf="type === 'driver' && !details.profilepath" src="assets/images/driver/Male.jpg"
                class="img-fluid blur-up lazyload" alt="DriverImage">
            </div>
          </div>
          <div class="col-md-5">
            <div class="title-sec">
              <div *ngIf="type === 'car'" class="car-title">{{ details.make | translate }}</div>
              <div *ngIf="type === 'driver'" class="car-title">{{ details.contactName | translate }}</div>
              <small *ngIf="details.model" class="fw-bold">({{ details.model | translate }})</small>
            </div>
            <div class="car-details">
              <ul *ngIf="type === 'car'">
                <li>
                  <img src="assets/images/cab/icon/seat.png" class="img-fluid blur-up lazyload" alt="seat-icon">
                  {{details.seating }} {{'car_list_page.seater' | translate}}
                </li>
                <li *ngIf="details?.luggage">
                  <img src="assets/images/cab/icon/luggage.png" class="img-fluid blur-up lazyload" alt="luggage-icon">
                  {{ details.luggage }} {{'car_list_page.luggage' | translate}}
                </li>
                <li *ngIf="details?.unlimittedMileage">
                  <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload"
                    alt="snowflake-icon">
                  {{'car_list_page.mileage' | translate}}
                </li>
                <li *ngIf="details?.transmission">
                  <img src="assets/images/cab/icon/settings.png" class="img-fluid blur-up lazyload"
                    alt="setting-icon" />
                  {{ details.transmission | translate}}
                </li>
              </ul>
              <ul *ngIf="type === 'car'">
                <li>
                  <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload"
                    alt="snowflake-icon" /> {{'car_list_page.AC' | translate}}
                </li>
              </ul>
              <ul *ngIf="type === 'driver'">
                <li>
                  <img src="assets/images/cab/icon/star.svg" class="img-fluid blur-up lazyload" alt="seat-icon">
                  {{details.driverRating || 0 }} {{'car_list_page.d_rating' | translate}}
                </li>
                <li>
                  <img src="assets/images/cab/icon/location-pin.svg" class="img-fluid blur-up lazyload" alt="seat-icon">
                  {{details.location }}
                </li>
                <li>
                  <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload" alt="seat-icon">
                  {{details.driverExperience }} {{'car_list_page.d_experience' | translate}}
                </li>
              </ul>
            </div>
          </div>
          <!-- text-end price-top align-self-end -->
          <div class="col-md-4 text-end price-top">
            <div class="price">
              <table class="table table-borderless">
                <tbody class="price-table">
                  <tr *ngIf="details.perDayPrice">
                    <td class="price-title">Price per Day:</td>
                    <td class="price-value">{{ details.perDayPrice | currencyPipe: cabService.currency }}</td>
                  </tr>
                  <tr *ngIf="details.perWeekRentPrice">
                    <td class="price-title">Price per Week:</td>
                    <td class="price-value">{{ details.perWeekRentPrice | currencyPipe: cabService.currency }}</td>
                  </tr>
                  <tr *ngIf="details.perMonthRentPrice">
                    <td class="price-title">Price per Month:</td>
                    <td class="price-value">{{ details.perMonthRentPrice | currencyPipe: cabService.currency }}</td>
                  </tr>
                  <tr *ngIf="details.perYearRentPrice">
                    <td class="price-title">Price per Year:</td>
                    <td class="price-value">{{ details.perYearRentPrice | currencyPipe: cabService.currency }}</td>
                  </tr>
                </tbody>
              </table>
              <h6 class="cancellation">{{('car_list_page.free_cancellation' | translate)}}</h6>
            </div>
            <div *ngIf="from === 'wishlist'" class="book-flight">
              <a class="btn btn-theme margin-5" (click)="onBook()">
                {{'Check Availability' | translate}}
              </a>
            </div>
          </div>
        </div>
        <hr class="div-line1" />
        <div class="row">
          <div class="col-md-7 d-flex brand-sec">
            <div *ngIf="type === 'car'" class="brandLogo">
              <img [src]="details.vehicleLogo" class="img-fluid blur-up lazyload" alt="BrandLogo">
            </div>
            <h6 *ngIf="type === 'car'" class="brand_name ms-2">
              {{details.fleetCompanyName ? details.fleetCompanyName : details.contactName | translate}}
            </h6>
            <div class="rating-section">
              <div class="rating-star" *ngIf="details.ratingAverage || details.driverRating || details.riskRating">
                <ngb-rating *ngIf="type === 'car' && !auth.isLoggedIn" [rate]="details.ratingAverage"
                  [max]="details.ratingAverage" [disabled]="true"></ngb-rating>
                <ngb-rating *ngIf="type === 'driver' && !auth.isLoggedIn" [rate]="details.driverRating"
                  [max]="details.driverRating" [disabled]="true"></ngb-rating>
                <ngb-rating *ngIf="auth.isLoggedIn" [rate]="details.riskRating" [max]="details.riskRating"
                  [disabled]="true"></ngb-rating>
              </div>
              <h6 *ngIf="type === 'car'" class="brand_name">
                <span class="me-2" *ngIf="!details.ratingAverage && !auth.isLoggedIn">N/A</span>
                <span class="me-2" *ngIf="!details.riskRating && auth.isLoggedIn">N/A</span>
                {{auth.isLoggedIn ? "Risk Rating" : "Car Rating"}}
              </h6>
              <h6 *ngIf="type === 'driver'" class="brand_name">
                <span class="me-2" *ngIf="!details.driverRating && !auth.isLoggedIn">N/A</span>
                <span class="me-2" *ngIf="!details.riskRating && auth.isLoggedIn">N/A</span>
                {{auth.isLoggedIn ? "Risk Rating" : "Driver Rating"}}
              </h6>
            </div>
          </div>
          <div class="col-md-5 end">
            <a *ngIf="details.favorite && from === 'wishlist'" class="btn btn-subscribe btn1 no-text-transorm"
              (click)="addRemoveWishlist(details)">
              <i class="fa fa-heart" aria-hidden="true"></i> {{'car_list_page.remove_to_wishlist' | translate}}
            </a>
            <a class="btn btn-subscribe btn1 no-text-transorm" (click)="openImportantNoticeDialog()">
              <i class="fas fa-exclamation-circle"></i> {{'car_list_page.important_info' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
