<div class="instructions">
  <div class="card p-3">
    <h5 class="fw-bold">Pick-up and drop-off</h5>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p class="mb-1 text-muted">{{this.gs.lastSearch.pick_time | date : 'MMM d, y, h:mm a'}}</p>
          <p class="fw-bold timeline-location">{{this.bookingDetails?.bookingLocationDetails?.location}}</p>
          <a *ngIf="this.bookingDetails?.bookingLocationDetails?.dropInstruction" (click)="instructionDialog('pick_up')"
            class="text-primary">
            View pick-up instructions
          </a>
        </div>
      </div>
      <div class="timeline-item2">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p class="mb-1 text-muted">{{this.gs.lastSearch.drop_time | date : 'MMM d, y, h:mm a'}}</p>
          <p class="fw-bold timeline-location">{{this.bookingDetails?.bookingLocationDetails?.location}}</p>
          <a *ngIf="this.bookingDetails?.bookingLocationDetails?.pickUpInstruction"
            (click)="instructionDialog('prop_off')" class="text-primary">
            View drop-off instructions
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
