<div class="content">
  <div class="settings-info">
    <div class="settings-sub-heading">
      <h4>Preferences</h4>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="preference-wrap">
          <div class="preference-info">
            <h6>Language </h6>
            <p class="mb-0">Select display language</p>
          </div>
          <div class="preference-select">

            <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{ standalone: true }"
              class="form-control select customcolor" placeholder="English">
              @for (data of selectedList1; track data) {
              <mat-option [value]="data.value">
                {{ data.value }}
              </mat-option>
              }
            </mat-select>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="preference-wrap">
          <div class="preference-info">
            <h6>Region / Locale</h6>
            <p class="mb-0">Select region</p>
          </div>
          <div class="preference-select">

            <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{ standalone: true }"
              class="form-control select customcolor" placeholder="United States (English)">
              @for (data of selectedList2; track data) {
              <mat-option [value]="data.value">
                {{ data.value }}
              </mat-option>
              }
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
