<div class="dashboard-section dash-top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-menu">
          <ul>
            <!-- <ng-container *ngFor="let tab of menuItems">
              <li *ngIf="tab.isActive">
                <a [routerLink]="tab.menuUrl" routerLinkActive="active"
                  [state]="{ menuID: tab.menuID, menuName : tab.name }" [class.disabled]="activeTab !== tab.name"
                  (click)="changeTab(tab.name)">
                  <img [src]="'assets/'+tab.menuIcon" alt="Icon">
                  <span>{{tab.name | translate}}</span>
                </a>
              </li>
            </ng-container> -->

            <ng-container *ngFor="let tab of menuItems">
              <li *ngIf="tab.isActive">
                <a [class.active]="activeTab === tab.menuUrl" [class.disabled]="activeTab !== tab.menuUrl"
                  (click)="changeTab(tab)">
                  <img [src]="'assets/'+tab.menuIcon" alt="Icon">
                  <span>{{tab.name | translate}}</span>
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>