@if(responsiveLatestFilter == true){
<a class="mobile-filter border-top-0" (click)="openResponsiveFilter()">
  <h5>{{'car_list_page.filter.latest_filter'| translate}}</h5>
  <img src="assets/images/icon/adjust.png" class="img-fluid blur-up lazyload" alt="filter-icon">
</a>
}
<br>
<span class="car-available">{{searchResult.viewModel?.pageHeading}}</span>
<br>
<div *ngIf="carTypes.length" class="car-categories">
  <ng-container *ngFor="let cartype of carTypes">
    <div class="category" id="{{ cartype.value }}" [ngClass]="{ 'checked-category' : checked(cartype.value)}"
      (click)="applyFilter(cartype.value)">
      <img class="car-image" [src]="cartype.image">
      <span>{{cartype.name | translate}}</span>
    </div>
  </ng-container>
</div>

<div class="car-driv-view-detail">
  <!-- Car and Driver -->
  <ng-container>
    <div class="flight-detail-sec cab-detail-sec"
      [ngClass]="{ 'product-wrapper-grid special-section grid-box' : marginClass}">
      <div class="detail-bar">
        <!-- @for(details of searchResult.vehicleMatches; track details){ -->
        <div
          *ngFor="let details of searchResult.vehicleMatches | paginate: { itemsPerPage: this.pageSize, currentPage: pageNo, totalItems: this.searchResult.viewModel?.totalCount }; let idx = index;"
          class="container-fluid detail-wrap wow fadeInUp">
          <a [ngClass]="{'btn-available': !details.isBooked, 'btn-booked' :details.isBooked}" class="btn">
            {{details.availability | translate}}
          </a>
          <div *ngIf="details.isSelfWarn && type === 'car'" class="alert alert-warning alert-warn" role="alert">
            You can't book your own vehicle
          </div>
          <div *ngIf="details.isSelfWarn && type === 'driver'" class="alert alert-warning alert-warn" role="alert">
            You can't book your own driver
          </div>
          <div class="row">
            <div class="col-md-3 align-self-center">
              <div class="logo-sec">
                <img *ngIf="type === 'car'" [src]="details.carImage" class="img-fluid blur-up lazyload" alt="CarImage">
                <img *ngIf="type === 'driver'" [src]="details.profilepath" class="img-fluid blur-up lazyload"
                  alt="DriverImage">
              </div>
            </div>
            <div class="col-md-5">
              <div class="title-sec">
                <div *ngIf="type === 'car'" class="car-title">{{ details.make | translate }}</div>
                <div *ngIf="type === 'driver'" class="car-title">{{ details.contactName | translate }}</div>
                <small *ngIf="details.model" class="fw-bold">({{ details.model | translate }})</small>
              </div>
              <div class="car-details">
                <ul *ngIf="type === 'car'">
                  <li>
                    <img src="assets/images/cab/icon/seat.png" class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{details.seating }} {{'car_list_page.seater' | translate}}
                  </li>
                  <li *ngIf="details?.luggage">
                    <img src="assets/images/cab/icon/luggage.png" class="img-fluid blur-up lazyload" alt="luggage-icon">
                    {{ details.luggage }} {{'car_list_page.luggage' | translate}}
                  </li>
                  <li *ngIf="details?.unlimittedMileage">
                    <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload"
                      alt="snowflake-icon">
                    {{'car_list_page.mileage' | translate}}
                  </li>
                  <li *ngIf="details?.transmission">
                    <img src="assets/images/cab/icon/settings.png" class="img-fluid blur-up lazyload"
                      alt="setting-icon" />
                    {{ details.transmission | translate}}
                  </li>
                </ul>
                <ul *ngIf="type === 'car'">
                  <li>
                    <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload"
                      alt="snowflake-icon" /> {{'car_list_page.AC' | translate}}
                  </li>
                </ul>
                <ul *ngIf="type === 'driver'">
                  <li>
                    <img src="assets/images/cab/icon/star.svg" class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{details.driverRating || 0 }} {{'car_list_page.d_rating' | translate}}
                  </li>
                  <li>
                    <img src="assets/images/cab/icon/location-pin.svg" class="img-fluid blur-up lazyload"
                      alt="seat-icon">
                    {{details.location }}
                  </li>
                  <li>
                    <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{details.driverExperience }} {{'car_list_page.d_experience' | translate}}
                  </li>
                </ul>
              </div>
              <div class="d-flex">
                <div *ngFor="let disItem of details.discountInfo" class="offer-box">
                  <img src="assets/images/cab/icon/gift-svgrepo-com.svg" width="30px" class="img-fluid blur-up lazyload"
                    alt="seat-icon">
                  {{disItem.discountName | translate}} <br />
                  <span>
                    {{disItem.discountDescription}}
                  </span>
                </div>
              </div>
            </div>
            <!-- text-end price-top align-self-end -->
            <div class="col-md-4 text-end price-top">
              <div class="price">
                <!-- *ngIf="searchInfo.timeType == 'ALL'" -->
                <table class="table table-borderless">
                  <tbody class="price-table">
                    <tr *ngIf="details.perDayPrice">
                      <td class="price-title">Price per Day:</td>
                      <td class="price-value">{{ details.perDayPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                    <tr *ngIf="details.perWeekRentPrice">
                      <td class="price-title">Price per Week:</td>
                      <td class="price-value">{{ details.perWeekRentPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                    <tr *ngIf="details.perMonthRentPrice">
                      <td class="price-title">Price per Month:</td>
                      <td class="price-value">{{ details.perMonthRentPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                    <tr *ngIf="details.perYearRentPrice">
                      <td class="price-title">Price per Year:</td>
                      <td class="price-value">{{ details.perYearRentPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="cancellation">{{('car_list_page.free_cancellation' | translate)}}</h6>
              </div>
              <div class="book-flight">
                <button class="btn btn-theme margin-5" (click)="bookNow(details)">
                  {{'car_list_page.book' | translate}}
                </button>
              </div>
            </div>
          </div>
          <hr class="div-line1" />
          <div class="row">
            <div class="col-md-6 d-flex brand-sec">
              <div *ngIf="type === 'car'" class="brandLogo">
                <img [src]="details.vehicleLogo" class="img-fluid blur-up lazyload" alt="BrandLogo">
              </div>
              <h6 *ngIf="type === 'car'" class="brand_name ms-2">
                {{details.fleetCompanyName ? details.fleetCompanyName : details.contactName | translate}}
              </h6>
              <ng-template #popContent>
                <div class="rating-box">
                  <div class="average-rating">
                    <div class="rating-star"
                      *ngIf="details.ratingAverage || details.driverRating || details.riskRating">
                      <ng-template #t let-fill="fill">
                        <i class="fa fa-star">
                          @if (fill > 0) {
                          <i class="fa fa-star filled" [style.width.%]="fill"></i>
                          }
                        </i>
                      </ng-template>
                      <ngb-rating *ngIf="type === 'car' && !auth.isLoggedIn" [rate]="details.ratingAverage"
                        [max]="details.maxRate" [disabled]="true" [starTemplate]="t" [readonly]="true"></ngb-rating>
                      <ngb-rating *ngIf="type === 'driver' && !auth.isLoggedIn" [rate]="details.driverRating"
                        [max]="details.maxRate" [disabled]="true" [starTemplate]="t" [readonly]="true"></ngb-rating>
                      <ngb-rating *ngIf="auth.isLoggedIn" [rate]="details.riskRating" [max]="details.maxRate"
                        [disabled]="true" [starTemplate]="t" [readonly]="true"></ngb-rating>
                    </div>
                    <span *ngIf="type === 'car' && !auth.isLoggedIn" class="score">{{details.ratingAverage || 'N/A'}}
                      out of
                      5</span>
                    <span *ngIf="type === 'driver' && !auth.isLoggedIn" class="score">{{details.driverRating || 'N/A'}}
                      out of
                      5</span>
                    <span *ngIf="auth.isLoggedIn" class="score">{{details.riskRating || 'N/A'}} out of 5</span>
                    <span class="total-ratings">is {{ratingInfo.type}} Rating</span>
                  </div>
                  <div class="container">
                    <div *ngIf="isShowBatchChart" class="row">
                      <div class="col-7">
                        <div class="risk-container">
                          <div class="risk-label">
                            <strong>Batch Quality Distribution</strong>
                          </div>
                        </div>
                        <app-apexcharts [data]="batchChart" [chartType]="'simplepie'"
                          [name]="'Performance grade'"></app-apexcharts>
                      </div>
                      <div class="col-5">
                        <div class="risk-container">
                          <div class="risk-label">
                            <strong>Risk Score:</strong> {{ ratingInfo.averageBatchRiskScore }}
                          </div>

                          <div class="risk-bar-wrapper">
                            <div class="risk-bar">
                              <div class="risk-indicator" [ngStyle]="{ left: ratingInfo.riskPercentage + '%' }">
                              </div>
                            </div>
                            <div class="risk-labels">
                              <span>Low</span>
                              <span>High</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="type === 'car' && ratingInfo.riskAssessments">
                    <div class="recommendation-section">
                      <div class="recommendation-title">{{ "Recommendations" }}</div>
                      <ul>
                        <li *ngFor="let tip of ratingInfo?.riskAssessments[0]?.recommendations">
                          {{ tip}}
                        </li>
                      </ul>
                      <div class="recommendation-title">{{ "Territory Risk" }}</div>
                      <ul>
                        <li>
                          {{ ratingInfo?.riskAssessments[0]?.territoryRisk.territoryCode}}
                        </li>
                        <li>
                          {{ ratingInfo?.riskAssessments[0]?.territoryRisk.description}}
                        </li>
                        <li>
                          {{ ratingInfo?.riskAssessments[0]?.territoryRisk.recommendation}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="type === 'driver' && ratingInfo.riskAssessments">
                    <div class="recommendation-section"
                      *ngFor="let item of ratingInfo?.riskAssessments[0]?.recommendations">
                      <div class="recommendation-title">{{ item.attribute }}</div>
                      <ul>
                        <li *ngFor="let tip of item.recommendtions">
                          {{ tip}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- triggers="mouseenter:mouseleave" -->
              <!-- [autoClose]="'inside'" -->
              <!-- (mouseenter)='onHover(details)' -->
              <div class="rating-section" [ngbPopover]="popContent" popoverClass="my-custom-class"
                triggers="mouseenter:mouseleave" (mouseenter)='onHover(details)'
                [disablePopover]="checkDisabled(details)">
                <div class="rating-star" *ngIf="details.ratingAverage || details.driverRating || details.riskRating">
                  <ng-template #t let-fill="fill">
                    <i class="fa fa-star">
                      @if (fill > 0) {
                      <i class="fa fa-star filled" [style.width.%]="fill"></i>
                      }
                    </i>
                  </ng-template>
                  <ngb-rating *ngIf="type === 'car' && !auth.isLoggedIn" [rate]="details.ratingAverage"
                    [max]="details.maxRate" [disabled]="true" [starTemplate]="t" [readonly]="true"></ngb-rating>
                  <ngb-rating *ngIf="type === 'driver' && !auth.isLoggedIn" [rate]="details.driverRating"
                    [max]="details.maxRate" [disabled]="true" [starTemplate]="t" [readonly]="true"></ngb-rating>
                  <ngb-rating *ngIf="auth.isLoggedIn" [rate]="details.riskRating" [max]="details.maxRate"
                    [disabled]="true" [starTemplate]="t" [readonly]="true"></ngb-rating>

                </div>
                <h6 *ngIf="type === 'car'" class="brand_name">
                  <span class="me-2" *ngIf="!details.ratingAverage && !auth.isLoggedIn">N/A</span>
                  <span class="me-2" *ngIf="!details.riskRating && auth.isLoggedIn">N/A</span>
                  {{auth.isLoggedIn ? "Risk Rating" : "Car Rating"}}
                </h6>
                <h6 *ngIf="type === 'driver'" class="brand_name">
                  <span class="me-2" *ngIf="!details.driverRating && !auth.isLoggedIn">N/A</span>
                  <span class="me-2" *ngIf="!details.riskRating && auth.isLoggedIn">N/A</span>
                  {{auth.isLoggedIn ? "Risk Rating" : "Driver Rating"}}
                </h6>
              </div>
            </div>
            <div class="col-md-6 end">
              <a *ngIf="!details.isAddWishlist" class="btn btn-subscribe btn1 no-text-transorm"
                (click)="addRemoveWishlist(details)">
                <i class="feather icon-heart"></i> {{'car_list_page.add_to_wishlist' | translate}}
              </a>
              <a *ngIf="details.isAddWishlist" class="btn btn-subscribe btn1 no-text-transorm"
                (click)="addRemoveWishlist(details)">
                <i class="fa fa-heart" aria-hidden="true"></i> {{'car_list_page.remove_to_wishlist' | translate}}
              </a>
              <a class="btn btn-subscribe btn1 no-text-transorm" (click)="openImportantNoticeDialog()">
                <i class="fas fa-exclamation-circle"></i> {{'car_list_page.important_info' | translate}}
              </a>
              <a class="btn btn-subscribe btn1 no-text-transorm" (click)="openEmailQuoteDialog(details)">
                <i class="fas fa-envelope"></i> {{'car_list_page.send_enquiry' | translate}}
              </a>
            </div>

          </div>
        </div>
        <!-- }@empty {
          } -->
        <ng-container *ngIf="!searchResult?.vehicleMatches?.length">
          <app-no-data *ngIf="type === 'car'" [icon]="icon" [title]="title" [description]="description"></app-no-data>
          <app-no-data *ngIf="type === 'driver'" [icon]="d_icon" [title]="d_title"
            [description]="d_description"></app-no-data>
        </ng-container>
      </div>
    </div>

    <!-- <app-pagination *ngIf="searchResult.vehicleMatches.length" [cabDetails]="searchResult.vehicleMatches"
      [paginate]="paginate" (setPage)="setPage($event)"></app-pagination> -->
    <ng-container *ngIf="searchResult?.vehicleMatches?.length">
      <div class="text-center">
        <pagination-controls (pageChange)="setPage($event)"></pagination-controls>
      </div>
    </ng-container>
  </ng-container>

</div>
