@if(responsiveLatestFilter == true){
<a class="mobile-filter border-top-0" (click)="openResponsiveFilter()">
  <h5>{{'car_list_page.filter.latest_filter'| translate}}</h5>
  <img src="assets/images/icon/adjust.png" class="img-fluid blur-up lazyload" alt="filter-icon">
</a>
}
<br>
<span class="car-available">{{searachResult.viewModel?.pageHeading}}</span>
<br>
<div *ngIf="type === 'car' && carTypes.length" class="car-categories">
  <ng-container *ngFor="let cartype of carTypes">
    <div class="category" id="{{ cartype.value }}" [ngClass]="{ 'checked-category' : checked(cartype.value)}"
      (click)="applyFilter(cartype.value)">
      <img class="car-image" [src]="cartype.image">
      <span>{{cartype.name | translate}}</span>
    </div>
  </ng-container>
</div>

<div class="car-driv-view-detail">
  <!-- Car -->
  <ng-container *ngIf="type === 'car'">
    <div class="flight-detail-sec cab-detail-sec"
      [ngClass]="{ 'product-wrapper-grid special-section grid-box' : marginClass}">
      <div class="detail-bar">
        @for(details of searachResult.vehicleMatches; track details){
        <div class="container-fluid detail-wrap wow fadeInUp">
          <a [ngClass]="{'btn-available': details.availability === 'Available', 'btn-booked' :details.availability !== 'Available'}"
            class="btn">
            {{details.availability | translate}}
          </a>
          <div class="row">
            <div class="col-md-3 align-self-center">
              <div class="logo-sec">
                <img [src]="details.carImage" class="img-fluid blur-up lazyload" alt="cab-image">

              </div>
            </div>
            <div class="col-md-4">
              <div class="title-sec">
                <div class="car-title">{{ details.make | translate }}</div>
                <small *ngIf="details.carType">({{ details.carType | translate }})</small>
              </div>
              <div class="car-details">
                <ul>
                  <li>
                    <img src="assets/images/cab/icon/seat.png" class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{details.seating }} {{'car_list_page.seater' | translate}}
                  </li>
                  <li *ngIf="details?.luggage">
                    <img src="assets/images/cab/icon/luggage.png" class="img-fluid blur-up lazyload" alt="luggage-icon">
                    {{ details.luggage }} {{'car_list_page.luggage' | translate}}
                  </li>
                  <li *ngIf="details?.unlimittedMileage">
                    <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload"
                      alt="snowflake-icon">
                    {{'car_list_page.mileage' | translate}}
                  </li>
                  <li *ngIf="details?.transmission">
                    <img src="assets/images/cab/icon/settings.png" class="img-fluid blur-up lazyload"
                      alt="setting-icon" />
                    {{ details.transmission | translate}}
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload"
                      alt="snowflake-icon" /> {{'car_list_page.AC' | translate}}
                  </li>

                </ul>
              </div>
              <div *ngIf="details.offer_discount" class="offer-box">
                <ul>
                  <li>
                    <img src="assets/images/cab/icon/gift-svgrepo-com.svg" width="30px"
                      class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{'car_list_page.offer_discount' | translate}} <br />
                    <span class="ms-5">
                      {{('car_list_page.discount_for' | translate) + ' ' + details.offer_discount+'%'}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-5 text-end align-self-end price-top">
              <div class="price">
                <ng-container *ngIf="searchInfo.timeType != 'ALL'">
                  <h6 *ngIf="searchInfo.timeType == 'Daily'">Price per Day:</h6>
                  <h4 *ngIf="searchInfo.timeType == 'Daily'" class="my-2">
                    {{ details.perDayPrice | currencyPipe: cabService.currency }}
                  </h4>
                  <h6 *ngIf="searchInfo.timeType == 'Weekly'">Price per Week:</h6>
                  <h4 *ngIf="searchInfo.timeType == 'Weekly'" class="my-2">
                    {{ details.perWeekRentPrice | currencyPipe: cabService.currency }}
                  </h4>
                  <h6 *ngIf="searchInfo.timeType == 'Monthly'">Price per Month:</h6>
                  <h4 *ngIf="searchInfo.timeType == 'Monthly'" class="my-2">
                    {{ details.perMonthRentPrice | currencyPipe: cabService.currency }}
                  </h4>
                </ng-container>
                <table *ngIf="searchInfo.timeType == 'ALL'" class="table table-borderless">
                  <tbody class="price-table">
                    <tr>
                      <td class="price-title">Price per Day:</td>
                      <td class="price-value">{{ details.perDayPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                    <tr>
                      <td class="price-title">Price per Week:</td>
                      <td class="price-value">{{ details.perWeekRentPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                    <tr>
                      <td class="price-title">Price per Month:</td>
                      <td class="price-value">{{ details.perMonthRentPrice | currencyPipe: cabService.currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="cancellation">{{('car_list_page.free_cancellation' | translate)}}</h6>
              </div>
              <div class="book-flight">
                <a class="btn btn-theme margin-5" (click)="bookNow(details)">
                  {{'car_list_page.book' | translate}}</a>
              </div>
              <br>
              <div class="book-flight">

              </div>
            </div>
          </div>
          <hr class="div-line1" />
          <div class="row">
            <div class="col-md-5 d-flex brand-sec">
              <div class="brandLogo">
                <img [src]="details.vehicleLogo" class="img-fluid blur-up lazyload" alt="BrandLogo">
              </div>
              <div class="rating">
                {{details.ratingAverage || 0}}
              </div>
              <div class="">
                <h6 class="brand_name">{{details.make | translate}}</h6>
                <p class="mb-0 reviews">{{details.vehicleRating || 0}} reviews</p>
              </div>
            </div>
            <div class="col-md-7 end">
              <a *ngIf="!details.isAddWishlist" class="btn btn-subscribe btn1 no-text-transorm"
                (click)="addRemoveWishlist(details)">
                <i class="feather icon-heart"></i> {{'car_list_page.add_to_wishlist' | translate}}
              </a>
              <a *ngIf="details.isAddWishlist" class="btn btn-subscribe btn1 no-text-transorm"
                (click)="addRemoveWishlist(details)">
                <i class="fa fa-heart" aria-hidden="true"></i> {{'car_list_page.remove_to_wishlist' | translate}}
              </a>
              <a class="btn btn-subscribe btn1 no-text-transorm" (click)="openImportantNoticeDialog()">
                <i class="fas fa-exclamation-circle"></i> {{'car_list_page.important_info' | translate}}
              </a>
              <a class="btn btn-subscribe btn1 no-text-transorm" (click)="openEmailQuoteDialog()">
                <i class="fas fa-envelope"></i> {{'car_list_page.email_quote' | translate}}
              </a>
            </div>

          </div>
        </div>
        }@empty {
        <app-no-data [icon]="icon" [title]="title" [description]="description"></app-no-data>
        }
      </div>
    </div>

    <app-pagination *ngIf="searachResult.vehicleMatches.length" [cabDetails]="searachResult.vehicleMatches"
      [paginate]="paginate" (setPage)="setPage($event)"></app-pagination>
  </ng-container>

  <!-- Driver -->
  <ng-container *ngIf="type === 'driver'">
    <div class="flight-detail-sec cab-detail-sec"
      [ngClass]="{ 'product-wrapper-grid special-section grid-box' : marginClass}">
      <div class="detail-bar">
        @for(details of driverDetails; track details){
        <div class="container-fluid detail-wrap wow fadeInUp">
          <a [ngClass]="{'btn-available': details.status === 'car_list_page.status.available', 'btn-booked' :details.status === 'car_list_page.status.booked'}"
            class="btn">
            {{details.status | translate}}
          </a>
          <div class="row">
            <div class="col-md-3 align-self-center">
              <div class="logo-sec">
                <img *ngIf="details.driverImage" [src]="details.driverImage" class="img-fluid blur-up lazyload"
                  alt="cab-image">
                <img *ngIf="!details.driverImage" src="assets/images/driver/Male.jpg" class="img-fluid blur-up lazyload"
                  alt="cab-image">

              </div>
            </div>
            <div class="col-md-4">
              <div class="title-sec">
                <div class="car-title">{{ details.driverName }}</div>
              </div>
              <div class="car-details">
                <ul>
                  <li>
                    <img src="assets/images/cab/icon/star.svg" class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{details.rating }} {{'car_list_page.d_rating' | translate}}
                  </li>
                  <li>
                    <img src="assets/images/cab/icon/location-pin.svg" class="img-fluid blur-up lazyload"
                      alt="seat-icon">
                    {{details.location }} {{'car_list_page.d_location' | translate}}
                  </li>
                  <li>
                    <img src="assets/images/cab/icon/snowflake.png" class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{ details.experience }} {{'car_list_page.d_experience' | translate}}
                  </li>
                </ul>
              </div>
              <div *ngIf="details.offer_discount" class="offer-box">
                <ul>
                  <li>
                    <img src="assets/images/cab/icon/gift-svgrepo-com.svg" width="30px"
                      class="img-fluid blur-up lazyload" alt="seat-icon">
                    {{'car_list_page.offer_discount' | translate}} <br />
                    <span class="ms-5">
                      {{('car_list_page.discount_for' | translate) + ' ' + details.offer_discount+'%'}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-md-2">
              </div> -->
            <div class="col-md-5 text-end align-self-end price-top">
              <div class="price">
                <div>
                  <h6>Price per day:</h6>
                  <h4 class="my-2">{{ details.price | currencyPipe: cabService.currency }}</h4>
                  <h6 class="cancellation">{{('car_list_page.free_cancellation' | translate)}}</h6>
                </div>
              </div>
              <div class="book-flight">
                <a class="btn btn-theme book-btn margin-5" (click)="bookNow(details)">
                  {{'car_list_page.book' | translate}}</a>
              </div>
              <br>
              <div class="book-flight">

              </div>
            </div>
          </div>
          <hr class="div-line1" />
          <div class="row align-items-center">
            <div class="col-md-3 d-flex brand-sec align-items-center">
              <div class="rating">
                {{details.rating}}
              </div>
              <div class="">
                <p class="mb-0 reviews">{{details.reviews}} reviews</p>
              </div>
            </div>
            <div class="col-md-9 end align-items-center">
              <span class="kyc-area" *ngIf="details.kyc_id">
                <span class="me-2"> <b>KYC : </b> </span>
                <button *ngIf="!details.isPurchased" (click)="purchaseNFT(details.kyc_id)"
                  class="btn btn-theme no-text-transorm ms-2">
                  {{ 'Buy' | translate }}
                </button>
                <a *ngIf="details.isPurchased">
                  <span class="badge badge-light-secondary">
                    Purchased
                  </span>
                </a>
                <button [disabled]="!details.isPurchased" (click)="viewNFT(details, 'view')"
                  class="btn btn-solid color3 no-text-transorm ms-2 py-2 px-3">
                  {{ 'View' | translate }}
                </button>
              </span>

              <a *ngIf="!details.isAddWishlist" class="btn btn-subscribe btn1 no-text-transorm"
                (click)="addRemoveWishlist(details)">
                <i class="feather icon-heart"></i> {{'car_list_page.add_to_wishlist' | translate}}
              </a>
              <a *ngIf="details.isAddWishlist" class="btn btn-subscribe btn1 no-text-transorm"
                (click)="addRemoveWishlist(details)">
                <i class="fa fa-heart" aria-hidden="true"></i> {{'car_list_page.remove_to_wishlist' | translate}}
              </a>
              <a class="btn btn-subscribe btn1 no-text-transorm" (click)="openImportantNoticeDialog()">
                <i class="fas fa-exclamation-circle"></i> {{'car_list_page.important_info' | translate}}
              </a>
              <!-- <a  class="btn btn-subscribe btn1 no-text-transorm"
                (click)="openEmailQuoteDialog()">
                <i class="fas fa-envelope"></i> {{'car_list_page.email_quote' | translate}}
              </a> -->
            </div>

          </div>
        </div>
        }@empty {
        <app-no-data [icon]="d_icon" [title]="d_title" [description]="d_description"></app-no-data>
        }
      </div>
    </div>

    <app-pagination *ngIf="driverDetails.length" [driverDetails]="driverDetails" [d_paginate]="d_pagination"
      (setPage)="setPage($event)"></app-pagination>
  </ng-container>
</div>
