<div class="title-top">
  <h5>{{'refund_policy.title' | translate}}</h5>
</div>
<div class="flight_detail">
  <div class="row">
    <div class="col-md-12">
      <table *ngIf="gs.vehicleCancellationPolicy.length" class="table border mb-0">
        <thead>
          <tr>
            <th class="p-3" scope="col">Cancellation Type</th>
            <th class="p-3" scope="col">Cancellation Charge</th>
            <th class="p-3" scope="col">Total Refund</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of gs.vehicleCancellationPolicy">
            <td class="p-3">
              <span class="fw-bold">
                {{item.cancellationTime}} - (Between {{item['advanceHoursMin']}} to
                {{item['advanceHoursMax']}} Hours)
              </span>
            </td>
            <td class="p-3">
              <span *ngIf="item.feeType === 'Percentage'" class="fw-bold">
                {{item.feeValue}}%
              </span>
              <span *ngIf="item.feeType === 'Fixed'" class="fw-bold">
                {{item.feeValue | currencyPipe: gs.currency}}
              </span>
              <small class="ms-2">{{item.feeType}}</small>
            </td>
            <td class="p-3">
              <span class="fw-bold">
                {{item.refundAmount | currencyPipe: gs.currency}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!gs.vehicleCancellationPolicy.length" class="text-center">
        <b>No Cancellation Policy</b>
      </p>
    </div>
  </div>
</div>
