<div class="title-top">
  <h5>{{'refund_policy.title' | translate}}</h5>
</div>
<div class="flight_detail">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="boxes"> -->
      <table *ngIf="gs.vehicleCancellationPolicy.length" class="table border mb-0">
        <thead>
          <tr>
            <th class="p-3" scope="col">Cancellation Type</th>
            <th class="p-3" scope="col">Cancellation Charge</th>
            <th class="p-3" scope="col">Total Refund</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of gs.vehicleCancellationPolicy">
            <td class="p-3">
              <span class="fw-bold">
                {{item.cancellationTime}} - (Between {{item['advanceHoursMin']}} to
                {{item['advanceHoursMax']}} Hours)
              </span>
            </td>
            <td class="p-3">
              <span *ngIf="item.feeType === 'Percentage'" class="fw-bold">
                {{item.feeValue}}%
              </span>
              <span *ngIf="item.feeType === 'Fixed'" class="fw-bold">
                {{item.feeValue | currencyPipe: gs.currency}}
              </span>
              <small class="ms-2">{{item.feeType}}</small>
            </td>
            <td class="p-3">
              <span class="fw-bold">
                {{item.refundAmount | currencyPipe: gs.currency}}
              </span>
              <!-- <span *ngIf="item.feeType === 'Percentage'" class="fw-bold">
                {{gs.bookingSummaryDetails.totalFare - (gs.bookingSummaryDetails.totalFare*item.feeValue/100) |
                currencyPipe: gs.currency}}
              </span>
              <span *ngIf="item.feeType === 'Fixed'" class="fw-bold">
                {{(gs.bookingSummaryDetails.totalFare-item.feeValue) | currencyPipe: gs.currency}}
              </span>
              <span *ngIf="item.feeType === 'Full'" class="fw-bold">
                {{0 | currencyPipe: gs.currency}}
              </span>
              <span *ngIf="item.feeType === 'None'" class="fw-bold">
                {{gs.bookingSummaryDetails.totalFare | currencyPipe: gs.currency}}
              </span> -->
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!gs.vehicleCancellationPolicy.length" class="text-center">
        <b>No Cancellation Policy</b>
      </p>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- <div class="title-top">
  <h5>{{'great_choice.title' | translate}}</h5>
</div>
<div class="flight_detail">
  <div class="row">
    <div class="col-md-12">
      <div class="boxes d-flex ">
        <ul class="me-5">
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.customer_rating' | translate}} : {{singleItem.ratingAverage || singleItem.driverRating
              || 0}}/5</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.short_queues' | translate}}</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.helpful_counter_staff' | translate}}</span>
          </li>
        </ul>
        <ul>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.most_popular_fuel_policy' | translate}}</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.easy_to_find_counter' | translate}}</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.free_cancellation' | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
