<div class="title-top">
  <h5>{{'great_choice.title' | translate}}</h5>
</div>
<div class="flight_detail">
  <div class="row">
    <div class="col-md-12">
      <div class="boxes d-flex ">
        <ul class="me-5">
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.customer_rating' | translate}} : 8.6/10</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.short_queues' | translate}}</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.helpful_counter_staff' | translate}}</span>
          </li>
        </ul>
        <ul>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.most_popular_fuel_policy' | translate}}</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.easy_to_find_counter' | translate}}</span>
          </li>
          <li>
            <img src="assets/images/cab/icon/check-big.svg" width="24px" class="img-fluid blur-up lazyload me-3"
              alt="seat-icon" />
            <span>{{'great_choice.free_cancellation' | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>