
@if(loaderType == 'basic'){
  <app-loader-one></app-loader-one>
}

@if(loaderType == 'simple'){
  <app-loader-two></app-loader-two>
}

@if(loaderType == 'skeleton'){
  <app-skeleton-loader [skeletonType]="skeletonType" [gridType]="gridType" [filter]="filter" [filterType]="filterType" [mapFilter]="mapFilter" [mapSide]="mapSide" [list]="list" [grid]="grid" [withOutTopPage]="withOutTopPage" [breadcrumbSection]="breadcrumbSection" [hotel]="hotel" [tour]="tour" [tourClassicGallery]="tourClassicGallery" [flight]="flight" [map]="map" [horizontalFilter]="horizontalFilter" [restaurantBreadcrumb]="restaurantBreadcrumb"></app-skeleton-loader>
}
