<app-breadcrumbs [type]="'pages'" [bg_image]="bg_image" [title]="title" [parent]="parent" [parentRoute]="parentRoute"
  [child]="child" [paddingClass]="false"></app-breadcrumbs>

<section class="section-b-space dark-cls animated-section bg-size"
  [style.background-image]="'url(assets/images/cab/grey-bg.jpg)'">
  <img src="assets/images/cab/grey-bg.jpg" alt="background-image" class="img-fluid blur-up lazyload bg-img"
    style="display: none;">
  <app-animations [type]="'dots'"></app-animations>
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 offset-sm-2 col-sm-8 col-12">
        <div class="account-sign-in">
          <div class="title">
            <h3>{{'auth.forgot_password' | translate}}</h3>
          </div>
          <!-- login -->
          <form #frm="ngForm">
            <div *ngIf="!enterOTP">
              <div class="form-group d-flex mb-1">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="type_mobile" id="type_mobile" value="mobile"
                    [(ngModel)]="userNameType" (change)="forgotPassForm.username = ''" [disabled]="isOtpVerified">
                  <label class="form-check-label ms-2" for="type_mobile">
                    Mobile Number
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="type_mobile" id="type_email" value="email"
                    [(ngModel)]="userNameType" (change)="forgotPassForm.username = ''" [disabled]="isOtpVerified">
                  <label class="form-check-label ms-2" for="type_email">
                    Email address
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div *ngIf="userNameType == 'mobile'">
                  <div class="input-group ">
                    <span class="input-group-text fw-bold pointer bg-white" (click)="openCountryDialog()">
                      {{selectedCountry.CountryCode}} <i class="fa fa-sort-down pointer ms-2 pb-1"
                        aria-hidden="true"></i>
                    </span>

                    <input type="text" [(ngModel)]="forgotPassForm.username" name="phone_number" #phone_number="ngModel"
                      class="form-control" placeholder="Enter Mobile Number" autocomplete="off"
                      [disabled]="isOtpVerified" minlength="10" maxlength="10" numbersOnly
                      [ngClass]="{'mandatory-input': phone_number.errors && submitted}" required />
                  </div>
                  <div class="mandatory-text mt-1"
                    *ngIf="phone_number.errors && (phone_number.dirty || phone_number.touched || submitted)">
                    <span *ngIf="phone_number.errors['required']">Mobile Number is required</span>
                    <span *ngIf="phone_number.errors['minlength']">Enter 10 digit Mobile Number</span>
                  </div>
                </div>
                <div *ngIf="userNameType == 'email'">
                  <input type="text" [(ngModel)]="forgotPassForm.username" name="username" #email="ngModel"
                    class="form-control" [pattern]="emailPattern" placeholder="Enter Email Address" autocomplete="off"
                    [disabled]="isOtpVerified" [ngClass]="{'mandatory-input': email.errors && submitted}" required />
                  <div class="mandatory-text mt-1" *ngIf="email.errors && (email.dirty || email.touched || submitted)">
                    <span *ngIf="email.errors['required']">Email is required</span>
                    <span *ngIf="email.errors['pattern']">Email is invalid</span>
                  </div>
                </div>
              </div>
              <button type="button" class="w-100 btn btn-theme" (click)="sendOtp(frm,'send')">
                {{'auth.form.send' | translate}} {{'auth.form.otp' | translate}}
              </button>
            </div>

            <div *ngIf="enterOTP">
              <div class="form-group">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <label for="otp">{{'auth.form.otp' | translate}}
                    <span *ngIf="sentotp && !isOtpVerified">({{'auth.form.resend' | translate}}
                      {{'auth.form.otp_enable' | translate}} {{timer}} {{'auth.form.seconds' | translate}})
                    </span>
                  </label>
                  <button class="btn btn-link p-0" [disabled]="sentotp || isOtpVerified"
                    (click)="sendOtp(frm,'resend')">
                    {{'auth.form.resend' | translate}}
                  </button>
                </div>
                <input type="text" class="form-control" id="otp" [(ngModel)]="forgotPassForm.otp" name="otp"
                  #otp="ngModel" [disabled]="isOtpVerified"
                  placeholder="{{'global.enter' | translate}} {{'auth.form.otp' | translate}}" autocomplete="off"
                  numbersOnly maxlength="4" [ngClass]="{'mandatory-input': otp.errors && submitted}" required />
                <div class="mandatory-text mt-1" *ngIf="otp.errors && (otp.dirty || otp.touched || submitted)">
                  <span *ngIf="otp.errors['required']">OTP is required</span>
                </div>
              </div>
              <div class="form-group position-relative">
                <label>New Password</label>
                <input [type]="isShowPassOne ? 'text':'password'" [(ngModel)]="forgotPassForm.password"
                  name="password_1" #passwordRef="ngModel" class=" form-control" minlength="8" maxlength="20"
                  [pattern]="passPattern" placeholder="Enter New Password" autocomplete="off"
                  [ngClass]="{'mandatory-input': passwordRef.errors && submitted}" required />
                <a class="password-eyes" (click)="viewPassword(1)">
                  <i *ngIf="isShowPassOne" class="feather icon-eye-off"></i>
                  <i *ngIf="!isShowPassOne" class="feather icon-eye"></i>
                </a>
                <div class="mandatory-text mt-1"
                  *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched || submitted)">
                  <span *ngIf="passwordRef.errors['required']">Password is required</span>
                  <div *ngIf="passwordRef.errors?.['pattern']">
                    Password must be 8–20 characters, with uppercase, lowercase, number, and special character.
                  </div>
                </div>
                <!-- <div *ngIf="passwordRef.invalid && passwordRef.touched" class="mandatory-text mt-1">
                </div> -->
              </div>

              <div class="form-group position-relative">
                <label>{{'auth.form.confirm_password' | translate}}</label>
                <input [type]="isShowPassTwo ? 'text':'password'" [(ngModel)]="rePassword" name="rePassword"
                  #confirmPassword="ngModel" class="form-control" placeholder="Enter Confirm Password"
                  autocomplete="off" [ngClass]="{'mandatory-input': confirmPassword.errors && submitted}" required />
                <a class="password-eyes" (click)="viewPassword(2)">
                  <i *ngIf="isShowPassTwo" class="feather icon-eye-off"></i>
                  <i *ngIf="!isShowPassTwo" class="feather icon-eye"></i>
                </a>
                <div class="mandatory-text mt-1"
                  *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched || submitted)">
                  <span *ngIf="confirmPassword.errors['required']">Confirm Password is required</span>
                </div>
                <div class="mandatory-text mt-1"
                  *ngIf="this.forgotPassForm.password !== this.rePassword && confirmPassword.touched">
                  <span>Re-enter the password exactly same as above</span>
                </div>
                <!-- <small>Re-enter the password exactly same as above</small> -->
              </div>

              <button type="button" class="w-100 btn btn-theme" (click)="confirmOtp(frm)">
                Update Password
              </button>
            </div>
            <div class="mt-3 text-center">
              <a class="back_search" (click)="backToLogin()">
                Back to Login
              </a>
            </div>
          </form>

          <!-- <div class="divider">
              <h6>{{'global.or' | translate}}</h6>
            </div>
            <button type="button" class="w-100 btn btn-theme btn-outline" (click)="backToLogin()">
              Back
            </button> -->
        </div>
      </div>
    </div>
  </div>
</section>