<div class="review-section">
  <div class="review_box" [class.shadow-none]="!title">
    @if(title){
    <div class="title-top">
      <h5>payment option</h5>
    </div>
    }

    <div class="flight_detail payment-gateway" [class.p-0]="!title">
      <div class="accordion" id="accordionExample" ngbAccordion [closeOthers]="true">
        <ng-container *ngFor="let details of paymentOptions">
          <div class="card" ngbAccordionItem [collapsed]="details.formId != firstPayOpt.formId">
            <div class="card-header" id="h_one">
              <button class="btn btn-link" ngbAccordionButton (click)="change(details, details.type)">
                <input type='radio' class="radio_animated ms-3" name='occupation' [checked]="details.checked" />
                <label> {{ details.description }} </label>
              </button>
            </div>
            <div id="one" class="collapse" ngbAccordionCollapse>
              <div class="card-body" ngbAccordionBody>
                <ng-template>
                  <!-- @if(details.value == 'debit'){
                    <app-booking-debit-card></app-booking-debit-card>
                    } -->

                  @if(details.type == 'CreditCard'){
                  <app-booking-credit-card></app-booking-credit-card>
                  }

                  @if(details.type == 'ACH'){
                  <app-booking-net-banking></app-booking-net-banking>
                  }

                  @if(details.type == 'Wallet'){
                  <app-booking-my-wallet></app-booking-my-wallet>
                  }

                  @if(details.type == 'Crypto'){
                  <app-booking-crypto [coinList]="coinList" (onSelectCoin)="onSelectCoin($event)"></app-booking-crypto>
                  }
                </ng-template>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="payment-btn text-end mt-5">
        <button (click)="bookCancel()" type="button" class="btn btn-solid color1 me-3">
          {{'booking_payment_page.cancel' | translate}}
        </button>
        <button *ngIf="!isLoader" (click)="bookNow()" type="button" class="btn btn-theme">
          {{'booking_payment_page.book_now' | translate}}
        </button>
        <button *ngIf="isLoader" class="btn btn btn-theme" type="button">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </div>
    </div>
  </div>
</div>