<div class="content">
  <div class="container">
    <div class="content-header">
      <h4>Favourite</h4>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-sm-12 col-12">
              <div class="booking-lists">
                <ul class="nav">
                  <li *ngFor="let item of tabs">
                    <a [class.active]="activeTab == item.value" (click)="onChangeTab(item)">{{item.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoader" class="row">
        <ng-container *ngIf="activeTab === 'car' || activeTab === 'driver'">
          <div *ngFor="let item of myWishlist" class="col-md-12">
            <app-cab-card-view [from]="'wishlist'" [type]="activeTab" [singleItem]="item"
              (onCheckAvailability)="onCheckAvailability(item)"></app-cab-card-view>
          </div>
          <div *ngIf="!myWishlist.length" class="col-md-12">
            <p class="text-center">
              <b>No Favourite</b>
            </p>
          </div>
        </ng-container>

        <ng-container *ngIf="activeTab === 'car_owner_interest'">
          <mat-accordion *ngIf="tableData.length" class="accordion-align">
            <mat-expansion-panel hideToggle [expanded]="section.isOpen" (opened)="onToggle(true, section)"
              (closed)="onToggle(false, section)"
              *ngFor="let section of tableData | paginate: { id: 'first', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData }; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title class="justify-content-between me-5">
                  <span>
                    {{ section.roleName }}
                  </span>
                  <span>
                    {{ section.contactName}}
                  </span>
                  <span>
                    {{ section.createdDate | date : 'mediumDate' }}
                  </span>
                </mat-panel-title>
                <mat-panel-description>
                  <i class="feather " [ngClass]="{'icon-minus': section.isOpen, 'icon-plus': !section.isOpen}"></i>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div
                *ngFor="let item of tableDataSecond | paginate: { id: section.ownerId, itemsPerPage: pageSizeSecond, currentPage: currentPageSecond, totalItems: totalDataSecond }; let idx = index;"
                class="col-md-12 mt-4">
                <app-cab-card-view [from]="'owner_interest'" [type]="'car'" [singleItem]="item"
                  (onCheckAvailability)="onCheckAvailability(item)"></app-cab-card-view>
              </div>
              <div *ngIf="!tableDataSecond.length" class="col-md-12">
                <p class="text-center">
                  <b>Vehicle Not Found</b>
                </p>
              </div>
              <div class="col-md-12 text-end">
                <pagination-controls [id]="section.ownerId" (pageChange)="pageChangedSecond($event, section)">
                </pagination-controls>
              </div>
            </mat-expansion-panel>
            <pagination-controls id="first" (pageChange)="pageChanged($event)"></pagination-controls>
          </mat-accordion>

          <div *ngIf="!tableData.length" class="col-md-12">
            <p class="text-center">
              <b>No One Interested</b>
            </p>
          </div>
        </ng-container>

      </div>

    </div>
  </div>