<section class="section-b-space success-section">
  <div class="container">
    <div class="row success-detail mt-0">
      <div class="col">
        <img src="assets/images/cab/error.jpg" class="img-fluid blur-up lazyload" alt="cab-error">
        <h2>{{'payment_failed.car_title' | translate}}</h2>
        <p>
          {{'payment_failed.car_massage1' | translate}}
        </p>
        <button type="button" (click)="tryAgain()" class="btn btn-solid color1">
          {{'payment_failed.try_again' | translate}}
        </button>
      </div>
    </div>
  </div>
</section>
