<div class="collection-collapse-block" [class.open]="isOpenLocation">
    <h6 class="collapse-block-title" (click)="openLocation()">{{'car_list_page.filter.car_location'| translate}}</h6>
    <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenLocation == true ? 'block' : 'none'}">
      <div class="collection-brand-filter">
        @for(loc of carLocations; track loc){
          <div class="form-check collection-filter-checkbox">
            <input type="checkbox" class="form-check-input" id="{{ loc.checkId }}" [value]="loc.checkId" [checked]="checked(loc.checkId)" (change)="applyFilter($event)" [disabled]="!loc.availability">
            <label class="form-check-label" for="{{ loc.checkId }}">{{ loc.title | translate }}</label>
            <label class="form-check-count" for="{{ loc.checkId }}">{{ loc.availability || 0 }}</label>
          </div>
        }
      </div>
    </div>
  </div>
  