<section class="small-section">
  <div class="container">
    <div *ngIf="bookingStep == 1" class="row">
      <div class="col-lg-12">
        <div>
          <a class="back_search" (click)="backtoResult()">
            {{'booking_page.back_results' | translate}}
          </a>
        </div>
        <h5 class="deal">
          {{'booking_page.deal_title' | translate}}
        </h5>
      </div>
      <div class="col-lg-3">
        <div class="tab-divider checked-divider"></div>
      </div>
      <div class="col-lg-3">
        <div class="tab-divider"></div>
      </div>
    </div>
    <div *ngIf="bookingStep == 2" class="row mb-3">
      <div class="col-lg-12">
        <div class="mt-3">
          <a class="back_search" (click)="bookingStep = 1">
            {{'booking_payment_page.back_results' | translate}}
          </a>
        </div>
        <h5 class="deal">
          {{'booking_payment_page.title' | translate}}
        </h5>
      </div>
      <div class="col-lg-3">
        <div class="tab-divider"></div>
      </div>
      <div class="col-lg-3">
        <div class="tab-divider checked-divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <div class="cancellation-box mb-3">
          <img src="assets/images/cab/icon/check-circle.svg" width="24px" class="img-fluid me-3 blur-up lazyload"
            alt="seat-icon">
          <span>
            {{'booking_page.free_cancellation_up' | translate}}
          </span>
        </div>
        <div *ngIf="bookingDetails.vehicleDetails" class="review-section">
          <app-cab-card-view [singleItem]="bookingDetails.vehicleDetails"
            [couponDetails]="bookingDetails.couponDetails"></app-cab-card-view>

          <div *ngIf="bookingStep == 1" class="review_box">
            <app-cab-information [singleItem]="bookingDetails.vehicleDetails"></app-cab-information>
          </div>
          <app-booking *ngIf="bookingStep == 2" [singleItem]="bookingDetails.vehicleDetails" [params]="params"
            [title]="true"></app-booking>
        </div>
      </div>
      <div class="col-lg-5 booking-order res-margin">
        <app-pick-drop-instructions [searchDetails]="searchObj"
          [bookingDetails]="bookingDetails"></app-pick-drop-instructions>


        <div class="review-section">
          <div class="review_box">
            <app-cab-booking-summary *ngIf="bookingDetails.vehicleDetails"
              [singleItem]="bookingDetails.vehicleDetails"></app-cab-booking-summary>
          </div>
          <div *ngIf="bookingStep == 1" class="book-flight text-center">
            <a (click)="continueToBook()" class="btn btn-theme margin-5">
              {{'booking_page.continue_to_book' | translate}}</a>
            <button (click)="backtoResult()" type="button" class="btn btn-solid color1 ms-3">
              {{'booking_payment_page.cancel' | translate}}
            </button>
          </div>
          <div *ngIf="bookingStep == 2" class="review_box">
            <app-cab-promo-code></app-cab-promo-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="book-panel">
  <h6 class="mb-0 text">grand total : <span>{{ 1250 | currencyPipe: cabService.currency }} </span></h6>
  <button type="button" class="btn bottom-btn theme-color">continue</button>
</div>
