<div class="row my-kyc">
  <div class="col-lg-3">
    <div class="dashboard-sidebar mb-3">
      <div class="profile-top">
        <div class="profile-detail">
          <h5>{{'Settings' | translate}}</h5>
        </div>
      </div>
      <div class="faq-tab">
        <ul class="nav nav-tabs" id="top-tab" role="tablist">

          @for(tab of sidebarTabs; track tab){
          <li class="nav-item">
            <!-- <a data-bs-toggle="tab" class="nav-link" [routerLink]="tab.route" routerLinkActive="active"> -->
            <a data-bs-toggle="tab" class="nav-link" [class.active]="activeKycTab == tab.formId"
              (click)="changeKycTab(tab)">
              <i class={{tab.formIcon}}></i> {{ tab.description | translate }}
            </a>
          </li>
          }
        </ul>
      </div>
    </div>

  </div>

  <div class="col-lg-9">
    <div *ngIf="activeKycTab === 9">
      <app-security></app-security>
    </div>
    <div *ngIf="activeKycTab === 10">
      <app-preferences></app-preferences>
    </div>
    <div *ngIf="activeKycTab === 11">
      <app-notifications></app-notifications>
    </div>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>