<div class="table-search">
  <div class="mb-1 me-3">
    <input placeholder="Date Filter Range:" class="form-control datetimepicker-input digits" [(ngModel)]="dateTimeRange"
      [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" />
    <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
  </div>
  <!-- (ngModelChange)="searchData()" -->
  <div id="tablefilter">
    <div class="dataTables_filter">
      <label>
        <input [(ngModel)]="globalSearch" name="search" type="search" class="form-control" placeholder="Search" />
      </label>
    </div>
  </div>
  <ng-container *ngIf="buttons().length > 0">
    @for (btn of buttons(); track btn.Code) {
    <button (click)="onActionClick(btn.Code)"
      [class]="btn.Class || btn.Name == 'EXPORT' ? 'btn btn-add':'btn btn-theme btn-add me-2'" [title]="btn.Name">

      <!-- You can add icon logic here later if needed -->
      <i [class]="btn.ActionIcon"></i>
      <img *ngIf="!btn.ActionIcon && btn.Name == 'EXPORT'" src="assets/images/icon/excel.png" width="24px" class="me-2">

      {{ btn.Name }}
    </button>
    }
  </ng-container>
  <!-- <a *ngIf="this.roPrmission.permissions['MCSEARCH']" (click)="searchData()"
    class="btn btn-theme btn-add me-2">
    {{this.roPrmission.permissions['MCSEARCH'].Name}}
  </a>
  <button *ngIf="this.roPrmission.permissions['MCEXP']" (click)="exportToExcel()" class="btn btn-add"
    title="Export To Excel">
    <img src="assets/images/icon/excel.png" width="24px" class="me-2">
    {{this.roPrmission.permissions['MCEXP'].Name}}
  </button> -->
</div>
