<app-tap-to-top></app-tap-to-top>
<app-customizer></app-customizer>
<!-- <app-loader [loaderType]="loaderType"
            [skeletonType]="skeletonType"
            [filterType]="filterType"
            [gridType]="gridType"
            [filter]="filter"
            [mapFilter]="mapFilter"
            [mapSide]="mapSide"
            [list]="list"
            [grid]="grid"
            [withOutTopPage]="withOutTopPage"
            [breadcrumbSection]="breadcrumbSection"
            [hotel]="hotel"
            [tour]="tour"
            [tourClassicGallery]="tourClassicGallery"
            [flight]="flight"
            [map]="map"
            [horizontalFilter]="horizontalFilter"
            [restaurantBreadcrumb]="restaurantBreadcrumb"
            [creativeList]="creativeList"
            [mix]="mix">
</app-loader> -->
