<div class="row my-kyc">
  <div class="col-lg-3">
    <div class="dashboard-sidebar mb-3">
      <div class="profile-top">
        <div class="profile-detail">
          <h5>{{'Documents' | translate}}</h5>
        </div>
      </div>
      <div class="faq-tab">
        <ul class="nav nav-tabs" id="top-tab" role="tablist">

          @for(tab of sidebarTabs; track tab){
          <li class="nav-item">
            <!-- <a data-bs-toggle="tab" class="nav-link" [routerLink]="tab.route" routerLinkActive="active"> -->
            <a data-bs-toggle="tab" class="nav-link" [class.active]="activeTab == tab.formId"
              (click)="changeKycTab(tab)">
              <i class={{tab.formIcon}}></i> {{ tab.formName | translate }}
            </a>
          </li>
          }
        </ul>
      </div>
    </div>

  </div>

  <div class="col-lg-9">
    <h4 class="mb-3">
      <b>{{activeTabName}}</b>
    </h4>
    <div *ngIf="activeTab === 38" class="col-lg-12 mb-3">
      <form class="form-inline align-self-end">
        <div class="form-group mb-0">
          <div class="d-flex">
            <ng-select class="form-control p-0" clearable="false" [items]="documentList" bindLabel="Description"
              bindValue="TypeCode" placeholder="-- Select Document Type --" [(ngModel)]="documentTypeCode"
              name="documentTypeCode">
            </ng-select>
            <input #fileInput type="file" class="form-control open-select mx-2" [disabled]="!documentTypeCode" />
            <button [disabled]="!documentTypeCode" (click)="onUpload()" class="btn btn-theme no-text-transorm ms-2">
              {{ 'Upload' | translate }}
            </button>
            <button [disabled]="!documentTypeCode" (click)="onReset()"
              class="btn btn-solid color3 no-text-transorm ms-2">
              {{ 'Reset' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive dashboard-table mb-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>
              <span>SL</span>
            </th>
            <th>Document Name</th>
            <th>Uploaded Date</th>
            <th>Document</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData };; let idx = index;">
            <td>
              <span>{{(idx+1) * currentPage}}</span>
            </td>
            <td>
              <div class="table-avatar">
                <div class="table-head-name flex-grow-1">
                  {{data.documentType}}
                </div>
              </div>
            </td>
            <td>
              {{data.createdDate | date : 'MM/dd/yyyy'}}
            </td>
            <td class="text-center">
              <button (click)="gs.viewDocumentFile(data.documentPath)" class="btn btn-theme no-text-transorm ms-2">
                <i class="feather icon-file-text me-2"></i> <span>View</span>
              </button>
              <button (click)="downloadDoc(data.id)" class="btn btn-solid color3 no-text-transorm ms-2">
                <i class="feather icon-download"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!tableData.length" class="col-md-12">
      <p class="text-center mt-3">
        <b>No records found</b>
      </p>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    <!-- <div *ngIf="activeKycTab === 9">
      <app-security></app-security>
    </div>
    <div *ngIf="activeKycTab === 10">
      <app-preferences></app-preferences>
    </div>
    <div *ngIf="activeKycTab === 11">
      <app-notifications></app-notifications>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>