<section class="small-section">
  <div class="container">
    <div class="flight-search">
      <app-cab-search [searchFrom]="searchFrom"></app-cab-search>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="mt-3">
          <a class="back_search" (click)="backToDeal()">
            {{'booking_payment_page.back_results' | translate}}
          </a>
        </div>
        <h5 class="deal">
          {{'booking_payment_page.title' | translate}}
        </h5>
      </div>
      <div class="col-lg-4">
        <div class="tab-divider"></div>
      </div>
      <div class="col-lg-4">
        <div class="tab-divider checked-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="review-section">
          <app-cab-card-view></app-cab-card-view>
        </div>
        <div *ngIf="itemId" class="product_img_scroll" data-sticky_column>
          <app-booking [itemId]="itemId" [params]="params" [title]="true"></app-booking>
        </div>
      </div>
      <div class="col-lg-4 booking-order res-margin">
        <div class="review-section">
          <div class="review_box">
            <app-cab-booking-summary></app-cab-booking-summary>
          </div>
          <div class="review_box">
            <app-cab-promo-code></app-cab-promo-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="book-panel">
  <h6 class="mb-0 text">grand total : <span>{{ 1250 | currencyPipe: cabService.currency }}</span></h6>
  <button type="button" class="btn bottom-btn theme-color">continue</button>
</div>
