<div class="collection-collapse-block" [class.open]="isOpenCapacity">
  <h6 class="collapse-block-title" (click)="openCapacity()">{{'car_list_page.filter.capacity'| translate}}</h6>
  <div class="collection-collapse-block-content" [ngStyle]="{ 'display' : isOpenCapacity == true ? 'block' : 'none'}">
    <div class="collection-brand-filter">
      @for(capacity of cabCapacity; track capacity){
        <div class="form-check collection-filter-checkbox">
          <input type="checkbox" class="form-check-input" id="{{ capacity.checkId }}" [value]="capacity.checkId" [checked]="checked(capacity.checkId)" (change)="applyFilter($event)" [disabled]="!capacity.availability">
          <label class="form-check-label" for="{{ capacity.checkId }}">{{ capacity.title |translate }}</label>
          <label class="form-check-count" for="{{ capacity.checkId }}">{{ capacity.availability || 0 }}</label>
        </div>
      }
    </div>
  </div>
</div>
