<div *ngIf="card_type === 'visa'" class="side-img">
  <div
    style="width: 40px; height: 26px; background: url(&quot;https://cdn.rcstatic.com/images/site_graphics/newsite/card-icons.svg&quot;) 0px -27px;">
  </div>
</div>
<div *ngIf="card_type === 'mastercard'" class="side-img">
  <div
    style="width: 40px; height: 26px; background: url(&quot;https://cdn.rcstatic.com/images/site_graphics/newsite/card-icons.svg&quot;) 0px 0px;">
  </div>
</div>
<div *ngIf="card_type === 'discover'" class="side-img">
  <div
    style="width: 40px; height: 26px; background: url(&quot;https://cdn.rcstatic.com/images/site_graphics/newsite/card-icons.svg&quot;) 0px -54px;">
  </div>
</div>
<div *ngIf="card_type === 'americanexpress'" class="side-img">
  <div
    style="width: 40px; height: 26px; background: url(&quot;https://cdn.rcstatic.com/images/site_graphics/newsite/card-icons.svg&quot;) 0px -54px;">
  </div>
</div>