<div class="content">
  <div class="container">

    <div class="content-header">
      <div class="row">
        <div class="col-lg-4">
          <h4 *ngIf="gs.loggedInUserInfo['role'] === 'user_4'">{{activeTabName}}</h4>
          <h4 *ngIf="gs.loggedInUserInfo['role'] !== 'user_4'">Reviews</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-lg-10 col-sm-12 col-12">
              <!-- *ngIf="gs.loggedInUserInfo['role'] === 'user_4'" -->
              <div class="booking-lists">
                <ul class="nav">
                  <li *ngFor="let item of booktabs">
                    <a [class.active]="activeTab == item.value" (click)="changeBookTab(item)">{{item.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-12 text-end">
              <select class="form-select">
                <option selected>This Week</option>
                <option value="1">This Month</option>
                <option value="2">Last 30 Days</option>
                <option value="3">Custom</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex">
        <div class="card book-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-5">
                <h4>{{'All Reviews'}} <span>{{totalData}}</span></h4>
              </div>
              <div class="col-md-7 text-md-end">
                <div class="table-search">
                  <div id="tablefilter">
                    <div class="dataTables_filter">
                      <label>
                        <input [(ngModel)]="searchDataValue" type="search" class="form-control" placeholder="Search" />
                      </label>
                    </div>
                  </div>
                  <a (click)="searchData()" class="btn btn-theme btn-add me-2">
                    Search
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive dashboard-table mb-4">
              <table class="table datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <span>SL</span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('bookingReferenceNumber')">
                      Reference Number
                      <span *ngIf="sortColumn === 'bookingReferenceNumber'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>

                    <th class="text-start pointer" (click)="onSort('vin')"
                      *ngIf="((gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') && activeTab === 'my_car')">
                      Vin Number
                      <span *ngIf="sortColumn === 'vin'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('carName')"
                      *ngIf="((gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4') && activeTab === 'i_gave') || ((gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') && activeTab === 'my_car')">
                      Car Name
                      <span *ngIf="sortColumn === 'carName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('driverName')"
                      *ngIf="(gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') &&( activeTab === 'i_gave' || activeTab === 'my_car')">
                      Driver Name
                      <span *ngIf="sortColumn === 'driverName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('vehicleOwnerName')"
                      *ngIf="(gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4') && activeTab === 'my_driver'">
                      Car Owner Name
                      <span *ngIf="sortColumn === 'vehicleOwnerName'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('ratingText')">
                      Review
                      <span *ngIf="sortColumn === 'ratingText'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="text-start pointer" (click)="onSort('rating')">
                      Ratings
                      <span *ngIf="sortColumn === 'rating'">
                        <i *ngIf="sortOrder === 'ASC'" class="feather icon-chevron-up" aria-hidden="true"></i>
                        <i *ngIf="sortOrder === 'DESC'" class="feather icon-chevron-down" aria-hidden="true"></i>
                      </span>
                    </th>
                    <!-- <th *ngIf="activeTab === 'i_gave'">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of tableData | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalData }; let idx = index;">
                    <td>
                      <span>{{idx+1}}</span>
                    </td>
                    <td class="text-start">
                      <a>{{data.bookingReferenceNumber}}</a>
                    </td>
                    <td class="text-start"
                      *ngIf="((gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') && activeTab === 'my_car')">
                      <a>{{data.vin || "-"}}</a>
                    </td>
                    <td
                      *ngIf="((gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4') && activeTab === 'i_gave') || ((gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') && activeTab === 'my_car')"
                      class="text-start">
                      <div class="table-avatar">
                        <a class="avatar avatar-lg flex-shrink-0 d-flex">
                          <img class="car-img" [src]="data.carImage" alt="Booking">
                        </a>
                        <div class="table-head-name flex-grow-1">
                          <a>{{data.carName}}</a>
                        </div>
                      </div>
                    </td>
                    <td
                      *ngIf="(gs.loggedInUserInfo['role'] === 'user_2' || gs.loggedInUserInfo['role'] === 'user_3') &&( activeTab === 'i_gave' || activeTab === 'my_car')"
                      class="text-start">
                      <div class="table-avatar">
                        <a class="avatar avatar-lg flex-shrink-0">
                          <img class="avatar-img" [src]="data.driverProfilepath" alt="Booking">
                        </a>
                        <div class="table-head-name flex-grow-1">
                          <a>{{data.driverName}}</a>
                        </div>
                      </div>
                    </td>
                    <td class="text-start"
                      *ngIf="(gs.loggedInUserInfo['role'] === 'user' || gs.loggedInUserInfo['role'] === 'user_4') && activeTab === 'my_driver'">
                      <p class="mb-0">{{data.vehicleOwnerName}}</p>
                    </td>
                    <td class="text-start">
                      <p class="mb-0">{{data.ratingText}}</p>
                    </td>
                    <td class="text-start">
                      <div class="review-rating d-flex align-items-center ">
                        <bar-rating [(rate)]="data.rating" readonly></bar-rating>
                        <span class="ms-2">{{data.rating}}</span>
                        <span class="ms-1">{{data.rating == 1 ? 'star' : 'stars'}}</span>
                      </div>
                    </td>
                    <!-- <td *ngIf="activeTab === 'i_gave'" class="text-center">
                      <button type="button" mat-icon-button [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                        <i class="feather icon-more-vertical"></i>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <button type="button" (click)="onEdit(data)" mat-menu-item>
                          <i class="feather icon-edit"></i>
                          <span class="ms-2">Edit</span>
                        </button>
                      </mat-menu>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="!tableData.length" class="col-md-12">
              <p class="text-center">
                <b>No Review Found</b>
              </p>
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>