<div class="left-sidebar pt-3"
  [ngStyle]="{ 'left' : cabService.isOpenResponsiveFilter == true || cabService.isOpenHorizontalFilter == true  ? '-1px' : '' }"
  data-aos="fade-right">
  <div class="back-btn mt-5 pb-2 text-end" (click)="closeResponsiveFilter()">
    <a class="back_search">
      {{'car_list_page.close_filter' |translate}}
    </a>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="{{'car_list_page.search_here' | translate}}">
    <i class="fas fa-search"></i>
  </div>
  <div class="middle-part collection-collapse-block" [class.open]="isOpenCab">
    <a href="javascript:void(0)" class="section-title collapse-block-title" (click)="openCab()">
      <h5>{{'car_list_page.filter.latest_filter'| translate}}</h5>
      <img src="assets/images/icon/adjust.png" class="img-fluid blur-up lazyload" alt="filter-icon">
    </a>
    <div class="text-end mb-2">
      <a class="back_search" (click)="filterReset()">
        {{'car_list_page.filter.clear_filter' | translate}}
      </a>
    </div>
    <hr class="div-line" />
    <div class="collection-collapse-block-content"
      [ngClass]="{ 'd-block' : isOpenCab == true, 'd-none' : isOpenCab == false}">
      <!-- *ngIf="type === 'car'" -->
      <div class="filter-block">
        <ng-container *ngFor="let item of aggregateFilters">
          <app-dynamic-filter [filterOBj]="item"></app-dynamic-filter>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="bottom-info">
    <h5><span>i</span> {{'car_list_page.need_help'| translate}}</h5>
    <h4>856 - 215 - 211</h4>
    <h6>{{'car_list_page.monday-to-friday'| translate}} 9.00{{'global.am'| translate}} - 7.30{{'global.pm'| translate}}
    </h6>
  </div>
</div>
