<a href="javascript:void(0)" class="mobile-filter border-top-0">
  <h5></h5>
  <div class="ldr-img"></div>
</a>
<div class="flight-detail-sec cab-detail-sec" [ngClass]="{ 'product-wrapper-grid special-section grid-box' : map }">
  <div class="detail-bar">
    <div class="detail-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-sec">
            <div class="ldr-img"></div>
            <span class="title"></span>
            <label></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="car-details">
            <ul>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="price">
            <div>
              <h4></h4>
              <h6></h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="book-flight">
            <div class="ldr-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-sec">
            <div class="ldr-img"></div>
            <span class="title"></span>
            <label></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="car-details">
            <ul>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="price">
            <div>
              <h4></h4>
              <h6></h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="book-flight">
            <div class="ldr-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-sec">
            <div class="ldr-img"></div>
            <span class="title"></span>
            <label></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="car-details">
            <ul>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="price">
            <div>
              <h4></h4>
              <h6></h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="book-flight">
            <div class="ldr-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-sec">
            <div class="ldr-img"></div>
            <span class="title"></span>
            <label></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="car-details">
            <ul>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="price">
            <div>
              <h4></h4>
              <h6></h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="book-flight">
            <div class="ldr-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-sec">
            <div class="ldr-img"></div>
            <span class="title"></span>
            <label></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="car-details">
            <ul>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="price">
            <div>
              <h4></h4>
              <h6></h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="book-flight">
            <div class="ldr-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="logo-sec">
            <div class="ldr-img"></div>
            <span class="title"></span>
            <label></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="car-details">
            <ul>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="price">
            <div>
              <h4></h4>
              <h6></h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="book-flight">
            <div class="ldr-btn"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
