<section class="app-section section-b-space bg-size">
  <img src="assets/images/cab/app-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="bg-image"
    style="display: none;">
  <div class="container">
    <div class="row order-cls">
      <div class="col-lg-5">
        <div class="app-content">
          <div>
            <div class="label label-white">
              <span>new</span>
            </div>
            <h2 class="title">The best cab app
              <span>for your mobile app.</span>
            </h2>
            <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa
              efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a
              mauris.
            </p>
            <h3>dowload app now...</h3>
            <div class="app-buttons">
              <a href="https://www.apple.com/ios/app-store/" class="btn btn-curve white-btn"><i
                  class="fab fa-apple"></i> app store</a>
              <a href="https://play.google.com/store?hl=en" class="btn btn-curve white-btn"><i
                  class="fab fa-android"></i> play
                store</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="app-image">
          <div>
            <div class="image">
              <div class="circle"></div>
              <img src="assets/images/mobile-app/Login-Screen-1.png" alt="mobile-app"
                class="img-fluid blur-up lazyload">
            </div>
            <div class="image">
              <div class="circle b-round"></div>
              <img src="assets/images/mobile-app/2.png" alt="mobile-app" class="img-fluid blur-up lazyload">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
